{% render 'breadcrumbs' %}
<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  <div class="page-content rte">
    <div class="guideContainer">
      <aside class="guideSideNav">
        {% render 'page-guide-nav' %}
      </aside>
      <main class="guideMain">
        <section id="delivery01" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">配送方法について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>JIAS ONLINEでは、配送方法として下記の配送方法をご用意しております。<br />【通常配送】 【開梱設置配送】<br />商品ごとに、適切な配送方法（上記配送方法のいずれか）を設定しております。</p>
            <p>一部商品では、お客様ごとのニーズに合わせて配送方法をご選択いただける商品もございます。配送方法が選択可能な商品につきましては、ご希望にあわせて配送方法をお選びください。</p>
            <h3>【通常配送】</h3>
            <p>玄関先でのお渡しとなります。室内への搬入・設置はおこなっておりません。<br />建物の状況<small>（*）</small>により、玄関前ではなく建物1階でのお引渡しとなる場合がございます。<br />また、配達員が1人でお伺いした場合にお届けする建物あるいは建物の周囲の状況によりお客様に玄関先までの搬入をお手伝いいただく場合がございますので予めご了承くださいますようお願いいたします。<br /><small>*エレベーターがない、納品作業に事前届が必要な場合など。</small></p>
            <h3>【開梱設置配送】</h3>
            <p>家具開梱・組み立て・設置・梱包資材の持ち帰りまでご対応させていただいております。</p>
            <ul class="memo">
              <li>不用品のお引き取りサービスはおこなっておりません。ご理解のほどよろしくお願いいたします。</li>
              <li>お届けまで【通常配送】よりも日数が必要となることを予めご了承くださいますようお願いいたします。</li>
            </ul>
            <p>開梱設置配送の詳細については<a href="#delivery05">「開梱設置配送について」</a>も併せてご確認ください。</p>
            <h3>【配送会社について】</h3>
            <p>商品サイズ・出荷元地域・ご配送地域などの諸条件により配送会社を選択しているため、お客様による配送会社のご指定は承っておりません。予めご了承いただきますようお願いいたします。</p>
            <h3>【お届け時間について】</h3>
            <ul>
              <li>【開梱設置配送】につきましては、ルート配送のためお時間の指定はできません。配送のお時間帯は、配送ドライバーより直接ご連絡いたしますので、予めご承知おきください。</li>
              <li>【通常配送】につきましては、配送会社の指定時間区分でのご配送が可能でございますが、小型家具・雑貨小物商品となりますため、入金確定後に最短での自動出荷対応とさせていただいております。<br />日時のご指定がございましたら、ご注文時に備考欄へご記載くださいますようお願いいたします。<br />（ご注文から1週間以内のご指定などご希望にお応えできかねる場合もございますため予めご了承ください。）</li>
            </ul>
            <h3>【通常搬入不可に伴う吊り上げ・クレーンを用いたお届けについて】</h3>
            <p>商品の形状や大きさの問題・お届け先の条件（戸建て2F）などによって通常搬入が不可となり、吊り上げ・クレーンなどの重機を使用しての搬入となった際は、別途追加料金が発生いたします。<br />追加料金の発生時には、以下項目の料金が発生し、全額お客様負担とさせていただきますので、予めご了承ください。</p>
            <ul>
              <li>現地調査費（2,200円税込）</li>
              <li>吊り上げ/クレーン作業費：配送業者にて現地調査後、お見積させていただきます。</li>
            </ul>
            <h3>【注意事項】</h3>
            <ul class="memo">
              <li>搬入ができないことによるご返品・キャンセルは承ることができませんので、予め搬入経路のご確認をお願いいたします。</li>
              <li>搬入経路のご確認につきましては<a href="#delivery07">「搬入経路のご確認のお願い」</a>をご参照ください。</li>
            </ul>
          </div>
        </section>

        <section id="delivery02" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">送料について</h2>
          <div class="guideBox-body js_accordion_body">
            <h3>【通常配送】をご利用の場合</h3>
            <ul>
              <li>送料は全国一律880円（税込）です。【通常配送】対象品のご購入合計金額11,000円（税込）以上で送料無料になります。<br />但し、受注生産品については対象外となります。受注生産品は、商品ページの「受注生産品」ラベル表示をご確認ください。受注生産品の送料は各商品ページに記載しておりますので、ご注文手続き画面にて必ず送料をご確認の上ご購入ください。</li>
            </ul>
            <p><span class="b">《送料が個別に設定されている商品について》</span><br />送料が個別に設定されている商品の場合、送料は各商品ページに記載しています。<br />ご購入合計金額に関わらず、商品1点につき記載の送料が発生しますので、ご注文手続き画面の送料をご確認の上ご購入ください。</p>
            <h3>【開梱設置配送】をご利用の場合</h3>
            <ul>
              <li>開梱設置配送は商品ごとに個別の送料が設定されております。<br />送料の詳細につきましては各商品ページをご確認ください。送料は1点分の送料です。同一商品を複数ご購入する場合でも数量分の送料が発生いたします。</li>
              <li>1回のご注文にて商品を複数ご注文いただいた場合も、送料は商品1点ごとに発生いたします。</li>
              <li>詳しくは<a href="#delivery05">「開梱設置配送について」</a>をご参照ください。</li>
            </ul>
            <h3>沖縄・離島・一部地域のお取扱い</h3>
            <ul>
              <li>すべての商品におきまして、沖縄・離島・一部地域は、別途送料のお見積りが必要となります。ご注文前でもお見積もりさせていただきますので、「ご利用ガイド」ページの最下部にある<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>より【お届け先の郵便番号】をご明記の上お問い合わせください。</li>
              <li>配送会社の指定地域により、開梱設置配送の手配ができない場合がございます。予めご了承のほどお願い申し上げます。</li>
            </ul>
          </div>
        </section>

        <section id="delivery03" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">お届け日の目安（標準納期）・お届け予定日について</h2>
          <div class="guideBox-body js_accordion_body">
            <h3>お届け日の目安について（標準納期）</h3>
            <ul>
              <li>各商品ページにお届け日の目安を記載しております。</li>
              <li>ご選択内容によりお届け日が異なる場合や、時季的な理由や製造元の事情、配送会社の事情等によりお届け日に変動が生じる場合には、別途ご案内いたします。</li>
            </ul>
            <h3>お届け予定日について</h3>
            <ul>
              <li>明確なお届け予定日につきましては、ご注文確定後にメールでのご案内いたします。</li>
              <li>お急ぎの場合やお引越しの日取りをご調整中、複数台の購入をご検討中の場合など、事前に納期の確認をご希望される場合は、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお問い合わせください。</li>
            </ul>
            <ul class="memo">
              <li>ご入金を確認でき次第の発送となります。お届け日はご入金確認後から商品ページに記載の日程でのお届けとなります。</li>
              <li>【開梱設置配送】をご利用の場合につきましては、表示されているお届け日と異なる場合がございます。予めご了承ください。</li>
              <li>1回のご注文で複数の商品をご購入いただいた場合、商品によっては発送元が異なるため別梱包・別配送でのお届けになる場合がございます。</li>
              <li>年末年始・お盆期間などの休業時は、通常時よりもお届けにお日にちをいただく場合がございます。予めご了承のほどお願い申し上げます。</li>
            </ul>
            <h3>お届け日変動および欠品時の対応について</h3>
            <ul>
              <li>弊社およびメーカー在庫状況の変動、配送会社の繁忙期・年末年始等の長期休業・天災（悪天候）などの事由により、お届け時期は表示のお届け日の目安より遅延する場合がございます。ご注文確定後に納期の遅延が発生した場合には、お客様へご連絡させていただき、改めて日程をご案内いたします。</li>
              <li>ご指定いただいたお届け日に到着していないことを含む、商品お届けの遅延を理由としたお客様に対する補償（ご返品・ご返金など）については免責事項とさせていただき、弊社では一切を承りかねますことをあらかじめご了承のほどお願い申し上げます。</li>
              <li>当サイトに掲載中の商品は当サイト以外でも販売しています。そのため、同一商品へ注文が集中した場合など、ご注文いただいたタイミングによっては在庫状況のサイト反映が間に合わずに欠品している場合がございます。<br />欠品のご案内となる場合は、その旨をメールにてご案内し、入荷次第のお届けまたはキャンセルをご選択いただいております。誠に恐れ入りますがあらかじめご了承のほどお願い申し上げます。</li>
            </ul>
            <ul class="memo">
              <li>予約商品や一部商品につきましては、メーカー入荷後の発送となるため、さらにお時間をいただく場合がございます。また輸入商品の場合には予期せぬ事態により納期が変動する可能性もございます。その場合には弊社にて状況確認が取れ次第、お客様にはメールにてご連絡いたします。</li>
              <li>お支払いが完了した後でも、商品を受注数分ご用意することができず、ご注文をキャンセルさせていただくことがございます。その場合、差額は規約に従い返金いたします。</li>
            </ul>
          </div>
        </section>

        <section id="delivery04" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">お届け曜日・日時のご指定について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>お届け日のご希望がございましたら、ご注文時の「備考」欄にご希望の日付をご入力ください。</p>
            <h3>【在庫品の場合】</h3>
            <p>在庫品につきましては、ご入金確定後に最短での発送をおこなっております。<br />ご指定がございましたら、ご注文時の「備考」欄へご記載ください。（ご注文から1週間以内のご指定などご希望にお応えできかねる場合もございますため予めご了承くださいませ。）</p>
            <h3>【入荷予定商品・海外お取り寄せ商品・受注生産品の場合】</h3>
            <p>国内入荷目途が確定次第、最短のお届け可能日を当ストアからメールにてご案内させていただきます。配送予定日のご希望がございましたら、納期のお知らせメールへのご返信にてご希望日をお知らせください。ご連絡がない場合は、ご案内した日程にて手配いたします。</p>
            <h3>【開梱設置配送時の注意事項】</h3>
            <p>家具専用ルート配送につき、お時間のご指定は承りいたしかねます。ご不便をおかけいたしますが、何卒ご理解のうえご購入いただけますようお願いいたします。<br />配送のお時間に関しましては、お届け前に配送ドライバーより直接お電話にてご連絡を申し上げております。</p>
            <ul class="memo">
              <li>お届け時にご不在の場合は後日の再配送となります。再配送に伴う再配達料につきましてはお客様負担となりますのでご了承ください。</li>
            </ul>
          </div>
        </section>

        <section id="delivery05" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">開梱設置配送について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>開梱設置配送にてお届けする商品は、配送会社の配達員により家具の組立てから設置までを行い、梱包材もお持ち帰りいたします。</p>
            <ul>
              <li>開梱設置配送は商品ごとに個別の送料が設定されております。詳しくは各商品ページの配送料についてをご確認ください。送料は1点分の送料です。複数ご購入いただく場合は数量分の送料が発生します。</li>
              <li>組立てと設置のパッケージ料金になっております。組立て作業がない場合も料金は変わりません。</li>
              <li>離島等一部地域では開梱設置配送をご利用いただく事ができません。あらかじめご了承ください。</li>
              <li>事前に必ず<a href="#delivery06">「開梱設置配送の搬入について」</a>をご一読ください。</li>
              <li>納品日に関しましては、最短でお届け可能な日を弊社よりメールにてご案内いたします。配送予定日のご希望がございましたら、納期のお知らせメールへのご返信にてご希望日をお知らせください。ご連絡がない場合は、ご案内した日程にて手配いたします。</li>
              <li>ご訪問する時間帯につきましては、配送日前日の夕方または当日朝に、担当の配送会社よりお電話またはSMSにて直接ご連絡いたします。</li>
              <li>下記の場合には、配送会社規定により再配達扱いとなりますため、一律5,500円（税込）の再配達費用を申し受けます。ご案内の日程につきまして、お立合いが可能か、事前に必ずご確認くださいますようお願いいたします。
                <ul class="nodisc">
                  <li>■ 変更可能期日経過後の日程および時間変更。</li>
                  <li>■ 当日ご訪問時にご不在の場合。</li>
                  <li>■ 当日ご訪問時、建物や室内の状況・事情により搬入・設置作業ができず、持ち戻りとなった場合。</li>
                </ul>
              </li>
              <li>商品により組立ての程度は異なります。完成品にてお届けする商品もございます。</li>
              <li>開梱設置配送には、ミラーや収納などを壁面へお取り付けする施工作業は含まれておりません。施工を伴う作業におかれましては、お近くの工務店へご相談ください。</li>
            </ul>
          </div>
        </section>

        <section id="delivery06" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">開梱設置配送の搬入について</h2>
          <div class="guideBox-body js_accordion_body">
            <p><span class="b">※必ずご確認ください。</span></p>
            <ul>
              <li><a href="#delivery07">「搬入経路のご確認のお願い」</a>にて階段やエレベーター、お部屋の入口など、事前に搬入経路を必ずご確認ください。
                <ul class="memo">
                  <li>搬入不可を理由とする商品の返品は一切お断りしております。</li>
                  <li>搬入条件は搬入経路上に梁、照明、移動困難な家具などの障害物がないことが前提です。</li>
                </ul>
              </li>
              <li>搬入は玄関口からのみおこないます。搬入困難により、配送業者にて「玄関以外からの運び入れを試みる」・「吊り上げのためクレーン・重機を用いる」などの作業は原則承っておりません。玄関口からの搬入ができない場合は、玄関先や建物前でのお渡しとなります。</li>
              <li>商品が入口や通路など、搬入経路を通らずお部屋に入らなかった場合、往復送料相当額をお客様にご負担いただきます。</li>
              <li>開梱設置サービス対象の商品は梱包状態での設置場所への搬入となります。開梱しての搬入は原則おこなっていないため、搬入経路は梱包状態でのご想定・ご確認をお願いいたします。</li>
              <li>大型の商品をお届けの際は、お客様に玄関先までの搬入のお手伝いをお願いする場合がございます。お手数をおかけいたしますが、ご協力のほどよろしくお願いいたします。</li>
            </ul>
            <ul>
              <li>搬入に窓からの吊り上げ作業が必要となる場合、別途費用を頂戴いたします。吊り上げ作業を含む納品をご希望の場合は、手配の可否ならびに費用をご案内いたしますので、事前に<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお問い合わせください。
                <ul class="memo">
                  <li>当日に吊り上げ作業が必要と判断され持ち戻りとなり再配達となった場合は、吊り上げ費用とは別途、往復送料相当額をお客様にご負担いただきます。また吊り上げ作業の可否につきましては、配送会社による現地での判断となります。</li>
                </ul>
              </li>
              <li>有料にて配送会社による現調も承っております。2,200円（税込）
                <ul class="memo">
                  <li>ご遠方の場合は、別途お見積りいたします。</li>
                  <li>搬入可否を保証するものではないことをご理解のうえお申込みください。</li>
                </ul>
              </li>
              <li>建物・施設により、事前に管理会社に対し「搬入申請書」の提出が必要な場合は、必ず事前にお客様にてご確認いただき、必要なお手続きをお願いいたします。
                <ul class="memo">
                  <li>申請不備により当日搬入作業ができず持ち戻りとなった場合は、往復送料相当額をお客様にご負担いただきます。</li>
                  <li>申請書類の提出にあたり、車両番号など配送会社確認のうえ記入が必要な項目がございましたら、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。</li>
                  <li>搬入車両（トラックの高さ制限等）や、搬入時間帯（平日夜間指定等）に関する制限がある建物・施設への配送の場合、通常と異なる手配となるため事前にご連絡をお願いします。別途費用をご負担いただく場合がございます。</li>
                </ul>
              </li>
              <li>搬入の際にお部屋の壁の破損や床に傷がつくなどの事故が発生した場合の補償等につきましては、配送会社の保険対象範囲内に限ります。その他の補償内容等につきまして弊社は一切関与いたしかねます。</li>
            </ul>
          </div>
        </section>

        <section id="delivery07" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">搬入経路のご確認のお願い</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ソファーなどの大型商品の場合、搬入経路の状況によっては、建物入り口や通路のサイズなどにより、置きたい場所まで搬入ができない場合がございます。ご注文に際して、事前に廊下の幅や天井までの高さ、障害物がないかなど必ずご確認ください。</p>
            <ul class="memo">
              <li>室内への搬入ができない場合でもキャンセル・ご返品はお受けできませんので、予めご了承ください。</li>
              <li><a href="#delivery05">「開梱設置配送について」</a><a href="#delivery06">「開梱設置配送の搬入について」</a>の注意事項と併せてご確認ください。</li>
              <li>下記でご紹介する搬入のポイントはあくまでも一例となります。搬入可否を保証するものではありませんのでご注意ください。</li>
              <li>住宅により搬入のための条件は異なりますので、ご購入の前に必ず、家具のサイズの搬入経路をご確認ください。</li>
            </ul>
            <p>搬入可否の最終的な判断はお客様でおこなっていただきますようお願いします。</p>
            <h3>「搬入経路のご確認のお願い」</h3>
            <ol class="nodisc">
              <li><a href="#h1">①商品サイズ</a></li>
              <li><a href="#h2">②搬入経路全体</a></li>
              <li><a href="#h3">③エレベーター</a></li>
              <li><a href="#h4">④階段</a></li>
              <li><a href="#h5">⑤通路</a></li>
              <li><a href="#h6">⑥玄関</a></li>
              <li><a href="#h7">⑦室内通路</a></li>
            </ol>
            <p>まず最初にご確認いただきたい項目は「商品サイズ」と「搬入経路」です。</p>
            <h4 id="h1">①商品サイズ</h4>
            <p>特に商品の一番長い辺を気にする必要があります。下記にあるソファ（図1）を例に、1番長い辺は「横幅」、1番短い辺は「奥行」となります。搬入するにあたり、玄関扉 / 部屋扉や廊下などの通路は、搬入する家具の横幅以上の高さが必要です。<br />また、玄関扉 / 部屋扉や廊下等の通路の幅は、搬入したい家具の横幅、奥行、高さのうち一番短いサイズ以上でないと通ることができず、搬入できません。</p>
            <p>ダンボール等でしっかりと梱包されているものは、お届け時には実際の商品サイズより10cmほど大きくなります。搬入経路の幅・高さが商品本体のサイズぴったりですと、お客様に開梱していただいてからでないと玄関口まで搬入できない場合がございます。サイズは余裕をみてご確認くださいますようお願いいたします。</p>
            <ul class="memo">
              <li>
                各商品の実寸については各商品ページ内に表記しておりますのでご確認ください。<br />
                W=幅　D=奥行き　H=高さ　SH=座面の高さ　AH=肘掛の高さ（アーム高）<br />
                ・商品の特性上サイズが変化する場合には ○○cm～○○cm と表記しています。<br />
                ・サイズはセンチメートル（cm）で表記しています。
              </li>
              <li>商品によっては、寸法図がミリメートル（mm）表記の場合がございますので、ご注意ください。</li>
            </ul>
            <figure>
              <figcaption>図1 ソファーの例</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i01.png' | file_url }}" loading="lazy" width="500" height="280" />
                <img src="{{ 'guide_delivery_i01-sp.png' | file_url }}" alt="ソファの横幅、高さ、奥行き" loading="lazy" width="680" height="422" />
              </picture>
            </figure>
            <h4 id="h2">②搬入経路</h4>
            <p>搬入経路の通路幅や天井の高さ、玄関口のドアノブや照明器具など障害物となるものを正確に把握いただいた上で、搬入可能かのご確認をお願いいたします。<br />思わぬ障害物により搬入ができない場合もございます。（図2）を参考に各所の正確なサイズをご確認ください。（図2に記載している箇所以外にも、建物やお部屋の構造によってはサイズを確認する必要のある箇所が存在する場合があります。）</p>
            <p>また、実際の搬入時には作業する人のスペースも必要となりますので、商品のサイズ上は搬入可能でも、余裕をみてご確認いただきますようお願いたします。</p>
            <figure>
              <figcaption>図2 搬入経路確認箇所の例</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i08.png' | file_url }}" loading="lazy" width="560" height="570" />
                <img src="{{ 'guide_delivery_i08-sp.png' | file_url }}" alt="お部屋のサイズ確認が必要な箇所" loading="lazy" width="746" height="758" />
              </picture>
            </figure>
            <p>続けて、搬入経路内で考慮すべき箇所を個別に確認していきます。</p>
            <h4 id="h3">③エレベーター</h4>
            <p>2階以上にお住まいの場合は、エレベーターを利用して搬入いたします。エレベーターの扉の幅・高さ、内部の天井の高さと奥行きを事前に必ずご確認ください。<br />扉の高さよりも商品が大きい場合には、家具を斜めにして運びますが、傾けた状態の奥行がエレベータの奥行よりも短い場合は搬入可能です。<br />また、エレベーターの中には、担架等を運べるよう奥行きが伸びるものもございますので、奥行きに不安を感じる場合には管理会社または管理人様に一度ご相談されるのが良いかと思います。</p>
            <figure>
              <figcaption>図3 エレベーターでの注意点</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i02.png' | file_url }}" loading="lazy" width="500" height="470" />
                <img src="{{ 'guide_delivery_i02-sp.png' | file_url }}" alt="入り口の幅・高さ・エレベーター内の幅・高さ・奥行き" loading="lazy" width="680" height="634" />
              </picture>
            </figure>
            <h4 id="h4">④階段</h4>
            <p>エレベーターがない場合やエレベーター内に入らない場合には、階段を利用して搬入します。<br />まずは階段の幅と天井までの高さをご確認ください。</p>
            <ul class="memo">
              <li>天井の照明や手すりなど、動かせない突起物が障害になる場合がありますのでご注意ください。</li>
            </ul>
            <p>最下段から天井までと、最上段から天井まで、両方の高さをご確認ください。踊り場がある場合、注意をしていただきたいのは、折り返し地点である踊り場の横幅と奥行、天井までの高さです。踊り場の天井が低かったり床面積が極端に小さく家具を置くことができない場合などは、階段を利用した搬入はできないことがあります。</p>
            <figure>
              <figcaption>図4 階段での注意点</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i03.png' | file_url }}" loading="lazy" width="680" height="400" />
                <img src="{{ 'guide_delivery_i03-sp.png' | file_url }}" alt="踊り場のある階段の踊り場で家具を一旦立てる必要があります。" loading="lazy" width="680" height="530" />
              </picture>
            </figure>
            <figure>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i04.png' | file_url }}" loading="lazy" width="500" height="460" />
                <img src="{{ 'guide_delivery_i04-sp.png' | file_url }}" alt="踊り場のある階段の踊り場で家具を一旦立てる必要があります。" loading="lazy" width="680" height="572" />
              </picture>
            </figure>
            <h4 id="h5">⑤通路</h4>
            <p>通路の幅が、商品の一番短い辺よりも狭ければ搬入することができません。商品サイズより10cmほど余裕をもってのご確認をお願いします。通路に曲がり角がある場合には、通路の幅に加えて、曲がり角にも十分なスペースがあるかを必ずご確認ください。</p>
            <figure>
              <figcaption>図5 通路での注意点</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i05.png' | file_url }}" loading="lazy" width="600" height="390" />
                <img src="{{ 'guide_delivery_i05-sp.png' | file_url }}" alt="横に倒した場合に、高さが角を通れる幅が必要です。" loading="lazy" width="600" height="530" />
              </picture>
            </figure>
            <h4 id="h6">⑥玄関</h4>
            <p>玄関入り口前の廊下の幅と高さ、玄関入り口の幅（90度までしか開かないドアの場合、ドアノブや郵便受けが邪魔になる場合があります）をご確認ください。<br />また、玄関前の廊下の奥行もご確認ください。ドアの開く方向によっては、商品の搬入ができない場合があります。<br />玄関前が極端に狭い場合、(図6)のようなことも考えられます。（扉が開けられない、扉を開けると通れない、転回できないなど）<br />特に、大きな家具をご購入の際はご注意ください。</p>
            <figure>
              <figcaption>図6 玄関での注意点</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i06.png' | file_url }}" loading="lazy" width="700" height="660" />
                <img src="{{ 'guide_delivery_i06-sp.png' | file_url }}" alt="玄関ドア位置・空き具合による影響" loading="lazy" width="680" height="1600" />
              </picture>
            </figure>
            <h4 id="h7">⑦室内通路</h4>
            <p>玄関、玄関ホール、室内廊下のそれぞれの天井までの高さが異なる場合や、照明や梁等の突起物があり部分的に低くなっている場合もありますので、注意してご確認ください。<br />商品を設置したいお部屋のドアと、ドア前の廊下についての注意事項につきましては、<a href="#h6">⑥玄関</a> をご参照ください。<br />室内廊下の搬入経路については、曲り角やドアノブなどの突起部分に注意してください。</p>
            <figure>
              <figcaption>図7 室内通路での注意点</figcaption>
              <picture>
                <source media="(min-width: 720px)" srcset="{{ 'guide_delivery_i07.png' | file_url }}" loading="lazy" width="448" height="344" />
                <img src="{{ 'guide_delivery_i07-sp.png' | file_url }}" alt="室内各所の高さ(証明・梁などの考慮が必要な部分を含む)" loading="lazy" width="680" height="670" />
              </picture>
            </figure>
            <p>ご不明点などございましたら、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお気軽にお問い合わせください。</p>
          </div>
        </section>

        <section id="delivery08" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">お手持ちの家具（不用品）の引き取りについて</h2>
          <div class="guideBox-body js_accordion_body">
            <p>現在、お手持ちの家具（不用品）の引き取りはおこなっておりません。<br />不要家具の処分につきましては、お住まいの市区町村・地方自治体の粗大ゴミ回収や、リサイクルショップ等へご依頼ください。ご理解のほどよろしくお願いいたします。</p>
          </div>
        </section>

        <section id="delivery09" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">配送先の変更について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ご注文確定後の配送先の変更は原則承ることができませんが、発送準備段階に入っていない場合に限り承ることが可能な場合がございます。<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>へ受注番号（注文番号）をご入力のうえ、お気軽にお問い合わせください。</p>
            <ul class="memo">
              <li>配送業者によっては転送料等ご負担にて対応可能な場合もございます。</li>
              <li>住所変更不可・転送不可の場合、往復送料相当額をご負担いただいての返品となります。</li>
              <li>万一誤入力があった場合には、正しい住所を至急<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>から受注番号（注文番号）をご入力のうえ、ご連絡ください。<br />なお、送付先変更をお申し出いただきました場合でも、手配までに時間を要する可能性や、変更を承れずに、一度ご注文をキャンセルいただき再注文をお願いする場合がございます。予めご了承のほどお願い申し上げます。</li>
            </ul>
          </div>
        </section>

        <section id="delivery10" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">再配達について</h2>
          <div class="guideBox-body js_accordion_body">
            <h3>【通常配送ご利用の場合】</h3>
            <ul>
              <li>配送時にご不在だった場合は不在票が投函されますので、配送会社へ再配達日時の調整のご連絡をお願いいたします。
                <ul class="memo">
                  <li>配送会社での保管期限を超過した場合、当社への返送となり往復送料相当額をご負担いただきます。</li>
                </ul>
              </li>
              <li>その他、お受け取りに関するご要望がございましたら、ご注文時の「備考」欄にご入力ください。お受取人様のご要望事項として配送時の伝票にお書き添えいたします。</li>
            </ul>
            <h3>【開梱設置配送をご利用の場合】</h3>
            <ul>
              <li>弊社よりご案内する変更可能期日を経過してからの日程変更および当日ご不在は、配送会社規定により再配達扱いとなりますため、往復送料相当額をご負担いただきます。<br />ご案内する日程につきましては、立合いが可能か、必ず事前にご確認くださいますようお願いいたします。詳しくは<a href="#delivery05">「開梱設置配送について」</a>をご一読ください。</li>
              <li>長期のご不在やお電話の不通などにより、お客様と当初配送予定日から起算して一週間以上ご連絡を取ることができない場合、配送予定の商品を当社まで返送させていただく場合がございます。その場合、再配達時には通常の往復送料相当額に加え、当社倉庫までの商品返送料金を含む、商品配送に関わる全ての費用を頂戴いたします。</li>
            </ul>
            <h3>返送品の取り扱いについて</h3>
            <ul>
              <li>商品が当社へ返送となり、当初配送予定日から起算して4週間以上お客様とご連絡を取ることができない場合、弊社の判断にて返送品を処分いたします。その場合、商品代金は返金いたしかねます。</li>
              <li>ご注文時には「日中にご連絡可能なお電話番号」または「通常ご使用されているメールアドレス」をご入力くださいますよう重ねてお願い申し上げます。</li>
            </ul>
          </div>
        </section>

        <section id="delivery11" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">商品が届かない場合</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ご心配をおかけしております。恐れ入りますが、いま一度下記をご確認くださいますようお願いいたします。</p>
            <ul>
              <li>ご注文手続き完了後、弊社からの注文確定メールは届いていますでしょうか。</li>
              <li>弊社からお送りするメールは全て、件名に【JIAS ONLINE】が含まれています。</li>
              <li>セキュリティソフト、メールフィルタリングソフト等をご利用のお客様は、弊社が送信したメールが迷惑フォルダ等に振り分けられていないか、今一度ご確認くださいますようお願いします。</li>
              <li>携帯電話のメールアドレスをご利用の場合、ドメイン拒否する設定になっていないか今一度ご確認ください。</li>
              <li>弊社からのメールはすべて @jias.co.jp のドメインより送信しております。ドメイン拒否・ドメイン指定受信などを設定されている場合、弊社からのメールが届かない可能性がございます。万が一弊社からのメールが届かない場合には、メールの受信設定ならびに迷惑メールフォルダをご確認くださいますようお願いいたします。</li>
            </ul>
            <p>以上をご確認いただいてもメールが届いていない場合、ご注文が正常に受け付けできていない可能性がございます。お手数をおかけし誠に申し訳ございませんが、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。</p>
            <p>商品の発送手配完了時には、お荷物番号等の配送情報をメールにてご連絡しております。配送会社やお荷物番号など配送情報に関しましては、そちらのメールをご確認ください。</p>
            <p>以上をご確認いただき、万が一弊社よりご連絡いたしました納品予定日を2日以上過ぎている場合は、至急状況をお調べいたしますので<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお問い合わせください。<br />その際はお手数ですが【ご注文番号】【ご注文者様のお名前】をご記載くださいますようお願いいたします。</p>
          </div>
        </section>

        <section id="delivery12" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">配送先の複数設定について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>システム上の都合により、1件のご注文につき配送先は1件のみのご指定となります。商品ごとに配送先を設定されたい場合は、お手数をおかけいたしますが配送先別にご注文くださいますようお願いいたします。</p>
          </div>
        </section>

        <section id="delivery13" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">海外への発送について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>現在、海外への発送は行っておりません。<br />お届け先、ご請求先ともに 日本国内のみとなっております。<br />予めご了承のほどお願い申し上げます。</p>
            <p>お客様により海外へ転送された場合、商品の不備・不良には対応できかねます。<br />また、照明器具や家電類は日本国内での使用に適した規格品を販売しておりますため、海外でのご使用に関しましては一切保証できかねます。あらかじめご了承のうえ、ご検討くださいますようお願い申し上げます。</p>
          </div>
        </section>
      </main>
    </div>
    {% render 'page-guide-contact' %}
  </div>
</article>
