{%- liquid
assign parent_collection_handle = 'hidasangyou'
-%}
{% render 'breadcrumbs', parent_collection_handle: parent_collection_handle %}

<article class="site-page pageSelection rte" data-template-page>
  <header class="page-masthead selectionHead">
    <div class="selectionHero">
      <div class="selectionHero_item selectionHero_thumb">
        <img src="{{ 'hidasangyou-selection_hero.jpg' | file_url }}" alt="飛騨産業" width="720" height="418" decoding="async">
      </div>
      <div class="selectionHero_item selectionHero_logo">
        <h1 class="page-masthead--body_title page-title"><img src="{{ 'logo_hidasangyo.png' | file_url }}" alt="飛騨産業" width="280" height="78" decoding="async"></h1>
      </div>
    </div>
  </header>

  <main class="selectionMain">
    <div class="page-content rte">

      <section class="selectionSection">

        <div class="selectionSectionHead">
          <h2 class="pageSelection_sectionTtl">木部・塗色について</h2>
          <div class="selectionSectionHead_desc">
            <p>高品質な木材を国内外から独自の基準に基づいて調達し、使用しています。また、木材の特徴を生かした塗色を豊富にご用意しています。<br />木材の種類によって特徴や木目の雰囲気が異なります。</p>
          </div>
        </div>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ホワイトオーク</h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-whiteoak.jpg' | file_url }}" alt="ホワイトオーク" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>重厚で堅く、独特の存在感があります。虎斑（とらふ）という杢目が現れることもあり、個性豊かな表情を楽しめます。飛騨産業では主に樹齢100年前後の北米産ホワイトオーク材を使用しています。<br />※曲木部分など一部ナラ材を使用している場合があります。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#whiteoak">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ビーチ</h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-beach.jpg' | file_url }}" alt="ビーチ" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>大正9年、飛騨産業の前身である中央木工株式会社が最初に家具づくりを始めた時に着目したのが、当時飛騨地方に豊富にあったブナ（ビーチ）材でした。木目はきめ細かく粘りがあり、曲木に適しています。飛騨産業では主にヨーロッパ産のビーチ材を使用しています。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#beach">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ウォルナット</h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-walnut.jpg' | file_url }}" alt="ウォルナット" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>ウォルナットは、チーク、マホガニーと並んだ世界三大銘木の一つです。上品で落ち着いた色合いと重厚感のある杢目が美しい高級材です。使い込むうちに磨きがかかり、風合いを深めていきます。飛騨産業では北米産のブラックウォルナット材を使用しています。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#walnut">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">スギ</h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-cedar.jpg' | file_url }}" alt="スギ" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>国産のスギは学名を「クリプトメリア・ジャポニカ」といい、“隠された日本の財産”を意味します。これまでは軟らかさが家具には不向きとされてきましたが、飛騨産業では加熱圧縮によって強度を高める技術を開発し、製品化を実現。飛騨産業では主に岐阜県産の杉材を使用しています。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#cedar">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">クリ</h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-chestnut.jpg' | file_url }}" alt="クリ" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>国産のクリの木は古くから人々に親しまれ、重宝されてきた木材です。粘りがあり、水に強く耐久性に優れているため、縄文時代から建物の土台や、鉄道の枕木として活躍してきました。クリ独特のはっきりとした木目を活かし、美しい風合いに仕上がります。また、タンニンを含んでいるため、時間が経つにつれて落ち着きのある色に変化していき、大切に使い込んでいくことが楽しめる素材です。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#chestnut">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ツートン</h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-two-tone.jpg' | file_url }}" alt="ツートン" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>ツートンは、1つの家具に2種類の木材を部材ごとに使い分けています。それぞれの材種の木目や風合いを楽しむことができます。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#two-tone">詳しくはこちら</a>
            </div>
          </div>

        </div>

        <div class="selectionSectionCardsNotice">
          <p class="c-red">※木材の種類により金額が変わります。商品ページ、木部選択の際の加算金額をご確認ください。</p>
        </div>

        <h3 class="pageSelection_sectionSubTtl">木部一覧</h3>

        <div id="whiteoak" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ホワイトオーク</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="{{ 'hida-whiteoak.jpg' | file_url }}" alt="ホワイトオーク" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>重厚で堅く、独特の存在感があります。虎斑（とらふ）という杢目が現れることもあり、個性豊かな表情を楽しめます。飛騨産業では主に樹齢100年前後の北米産ホワイトオーク材を使用しています。<br />※曲木部分など一部ナラ材を使用している場合があります。</p>
            </div>
          </div>

          <div class="selectionSectionItem_noteBox">
            <div class="selectionSectionItem_noteBox_body">
              <h5 class="h4">天然木について</h5>
              <p>木の育ち方の違いによって、様々な材色が現れます。また、幹の中に枝の芯が残ることによって「節」ができます。 柾目材には「虎斑」と呼ばれる縞模様が現れます。<br />※飛騨産業では、商品の曲木部分などの一部にナラ材を使用しています。</p>
            </div>
            <div class="selectionSectionItem_noteBox_thumb">
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-whiteoak-knot.jpg' | file_url }}" alt="節" width="250" height="130" loading="lazy">
                <p>節</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-whiteoak-shade.jpg' | file_url }}" alt="材色の濃淡" width="250" height="130" loading="lazy">
                <p>材色の濃淡</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-whiteoak-tigerstripes.jpg' | file_url }}" alt="虎斑" width="250" height="130" loading="lazy">
                <p>虎斑</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-whiteoak-streaks.jpg' | file_url }}" alt="スジ状の木目" width="250" height="130" loading="lazy">
                <p>スジ状の木目</p>
              </div>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>
          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-wo.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />WO ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-wo.jpg' | file_url }}" alt="ホワイトオーク WO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>WO<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-ou.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />OU ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-ou.jpg' | file_url }}" alt="ホワイトオーク OU ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>OU<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-n5.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />N5 ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-n5.jpg' | file_url }}" alt="ホワイトオーク N5 ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>N5<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-c4.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />C4 ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-c4.jpg' | file_url }}" alt="ホワイトオーク C4 ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>C4<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-du.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />DU ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-du.jpg' | file_url }}" alt="ホワイトオーク DU ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>DU<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-uw.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />UW ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-uw.jpg' | file_url }}" alt="ホワイトオーク UW ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>UW<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wo-bk.jpg' | file_url }}" data-lightbox="wood-wo" data-title="ホワイトオーク<br />BK ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wo-bk.jpg' | file_url }}" alt="ホワイトオーク BK ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>BK<br />ポリウレタン樹脂塗装</p></div>
          </div>

        </div>

        <div id="beach" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ビーチ</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="{{ 'hida-beach.jpg' | file_url }}" alt="ビーチ" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>大正9年、飛騨産業の前身である中央木工株式会社が最初に家具づくりを始めた時に着目したのが、当時飛騨地方に豊富にあったブナ（ビーチ）材でした。木目はきめ細かく粘りがあり、曲木に適しています。飛騨産業では主にヨーロッパ産のビーチ材を使用しています。</p>
            </div>
          </div>

          <div class="selectionSectionItem_noteBox">
            <div class="selectionSectionItem_noteBox_body">
              <h5 class="h4">天然木について</h5>
              <p>厳しい自然環境の中で育った証として、黒スジや波状の杢目、材色の濃淡などが現れます。心材は赤く、辺材は白くはっきりとしています。</p>
            </div>
            <div class="selectionSectionItem_noteBox_thumb">
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-beach-blackstreak.jpg' | file_url }}" alt="黒スジ" width="250" height="130" loading="lazy">
                <p>黒スジ</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-beach-wavyheather.jpg' | file_url }}" alt="波状の杢目" width="250" height="130" loading="lazy">
                <p>波状の杢目</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-beach-shade.jpg' | file_url }}" alt="材色の濃淡" width="250" height="130" loading="lazy">
                <p>材色の濃淡</p>
              </div>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-ny.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />NY ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-ny.jpg' | file_url }}" alt="ビーチ NY ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>NY<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-wo.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />WO ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-wo.jpg' | file_url }}" alt="ビーチ WO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>WO<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-ou.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />OU ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-ou.jpg' | file_url }}" alt="ビーチ OU ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>OU<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-n5.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />N5 ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-n5.jpg' | file_url }}" alt="ビーチ N5 ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>N5<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-c4.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />C4 ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-c4.jpg' | file_url }}" alt="ビーチ C4 ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>C4<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-uw.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />UW ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-uw.jpg' | file_url }}" alt="ビーチ UW ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>UW<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-bc-bk.jpg' | file_url }}" data-lightbox="wood-bc" data-title="ビーチ<br />BK ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-bc-bk.jpg' | file_url }}" alt="ビーチ BK ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>BK<br />ポリウレタン樹脂塗装</p></div>
          </div>

        </div>

        <div id="walnut" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ウォルナット</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="{{ 'hida-walnut.jpg' | file_url }}" alt="ウォルナット" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>ウォルナットは、チーク、マホガニーと並んだ世界三大銘木の一つです。上品で落ち着いた色合いと重厚感のある杢目が美しい高級材です。使い込むうちに磨きがかかり、風合いを深めていきます。飛騨産業では北米産のブラックウォルナット材を使用しています。</p>
            </div>
          </div>

          <div class="selectionSectionItem_noteBox">
            <div class="selectionSectionItem_noteBox_body">
              <h5 class="h4">天然木について</h5>
              <p>木の育ち方の違いによって様々な材色が現われます。また、1本の幹の中でも心材は濃い茶褐色であるのに対し、辺材は白く、色の差がはっきり現れます。その他、小さな生き節の「小節・葉節」や、波状の杢目があります。</p>
            </div>
            <div class="selectionSectionItem_noteBox_thumb">
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-walnut-shade.jpg' | file_url }}" alt="材色の濃淡" width="250" height="130" loading="lazy">
                <p>材色の濃淡</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-walnut-heartwood.jpg' | file_url }}" alt="心材・辺材" width="250" height="130" loading="lazy">
                <p>心材・辺材</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-walnut-small-knot.jpg' | file_url }}" alt="小節・葉節" width="250" height="130" loading="lazy">
                <p>小節・葉節</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-walnut-wavyheather.jpg' | file_url }}" alt="波状の杢目" width="250" height="130" loading="lazy">
                <p>波状の杢目</p>
              </div>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wn-wa.jpg' | file_url }}" data-lightbox="wood-wn" data-title="ウォルナット<br />WA ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wn-wa.jpg' | file_url }}" alt="ウォルナット WA ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>WA<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-wn-gw.jpg' | file_url }}" data-lightbox="wood-wn" data-title="ウォルナット<br />GW ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-wn-gw.jpg' | file_url }}" alt="ウォルナット GW ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>GW<br />ポリウレタン樹脂塗装</p></div>
          </div>

        </div>

        <div id="cedar" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">スギ</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="{{ 'hida-cedar.jpg' | file_url }}" alt="スギ" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>国産のスギは学名を「クリプトメリア・ジャポニカ」といい、“隠された日本の財産”を意味します。これまでは軟らかさが家具には不向きとされてきましたが、飛騨産業では加熱圧縮によって強度を高める技術を開発し、製品化を実現。飛騨産業では主に岐阜県産の杉材を使用しています。</p>
            </div>
          </div>

          <div class="selectionSectionItem_noteBox">
            <div class="selectionSectionItem_noteBox_body">
              <h5 class="h4">天然木について</h5>
              <p>スギ圧縮板目材の場合、多くの節が生じます。また、木の成長した環境によっては小節・葉節が密集して現われることがあります。</p>
            </div>
            <div class="selectionSectionItem_noteBox_thumb">
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-cedar-knot.jpg' | file_url }}" alt="節" width="250" height="130" loading="lazy">
                <p>節</p>
              </div>
              <div class="selectionSectionItem_noteBox_thumb-item">
                <img src="{{ 'hida-cedar-small-knot.jpg' | file_url }}" alt="小節・葉節" width="250" height="130" loading="lazy">
                <p>小節・葉節</p>
              </div>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-sg-ny2.jpg' | file_url }}" data-lightbox="wood-sg" data-title="スギ<br />NY2 ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-sg-ny2.jpg' | file_url }}" alt="スギ NY2 ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>NY2<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-sg-bk.jpg' | file_url }}" data-lightbox="wood-sg" data-title="スギ<br />BK ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-sg-bk.jpg' | file_url }}" alt="スギ BK ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>BK<br />ポリウレタン樹脂塗装</p></div>
          </div>

        </div>

        <div id="chestnut" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">クリ</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="{{ 'hida-chestnut.jpg' | file_url }}" alt="クリ" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>国産のクリの木は古くから人々に親しまれ、重宝されてきた木材です。粘りがあり、水に強く耐久性に優れているため、縄文時代から建物の土台や、鉄道の枕木として活躍してきました。クリ独特のはっきりとした木目を活かし、美しい風合いに仕上がります。また、タンニンを含んでいるため、時間が経つにつれて落ち着きのある色に変化していき、大切に使い込んでいくことが楽しめる素材です。</p>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-kuri-ny.jpg' | file_url }}" data-lightbox="wood-kuri" data-title="クリ<br />NY ポリウレタン樹脂塗装 シリーズ専用色"><img src="{{ 'hida-wood-kuri-ny.jpg' | file_url }}" alt="クリ NY ポリウレタン樹脂塗装 シリーズ専用色" width="640" height="640" loading="lazy" /></a><p>NY<br />ポリウレタン樹脂塗装 シリーズ専用色</p></div>
          </div>

        </div>

        <div id="two-tone" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ツートン</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="{{ 'hida-two-tone.jpg' | file_url }}" alt="ツートン" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>ツートンは、1つの家具に2種類の木材を部材ごとに使い分けています。それぞれの材種の木目や風合いを楽しむことができます。</p>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-wood-tt-owa.jpg' | file_url }}" data-lightbox="wood-tt" data-title="ツートン（ホワイトオーク×ウォルナット）<br />OWA ポリウレタン樹脂塗装"><img src="{{ 'hida-wood-tt-owa.jpg' | file_url }}" alt="ツートン（ホワイトオーク×ウォルナット） OWA ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>OWA<br />ポリウレタン樹脂塗装</p></div>
          </div>

        </div>


      </section>

      <section class="selectionSection">

        <div class="selectionSectionHead">
          <h2 class="pageSelection_sectionTtl">張地について</h2>
        </div>

        <h3 class="pageSelection_itemTtl">張地ランク</h3>
        <p class="pageSelection_itemDesc">飛騨産業が採用しているチェアやソファ等の張り布は、豊富なバリエーションがあります。独自の基準に基づいて高品質で機能性の高い布を選定しています。<br />※パソコンやモバイル画面上では、設定の違いにより実際の布の色調や質感が再現できない場合があります。</p>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl">Bランク</h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-fabric-b.jpg' | file_url }}" alt="飛騨産業 Bランク ウォッシャブル" width="272" height="76" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--center">
              <p>ウォッシャブル<br />ご家庭でお洗濯ができる布です。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-b">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl">Cランク</h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-fabric-c.jpg' | file_url }}" alt="飛騨産業 Cランク" width="272" height="76" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--center">
              <p>機能性に優れた布です。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-c">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl">Eランク</h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'hida-fabric-e.jpg' | file_url }}" alt="飛騨産業 Eランク" width="272" height="76" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--center">
              <p>手触りの良さや表情が魅力の布です。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-e">一覧はこちら</a>
            </div>
          </div>

        </div>

        <h3 class="pageSelection_itemTtl">説明</h3>

        <h4>加工種類</h4>

        <div class="selectionSectionCards selectionSectionCards--function">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>撥水加工が施してあるか、生地に撥水性があるため、水分による汚れを弾きやすくなっています。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>銀糸（ミューファン）が入っているため、抗菌・防臭・静電気防止の効果があります。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>ひっかき傷に強く、糸のほつれや引きつれが起こりにくくなっています。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>アクアクリーン加工が施されているため、「水」だけで日常での汚れを取り除くことができます。</p>
            </div>
          </div>
        </div>

        <h4>洗濯マーク</h4>

        <div class="selectionSectionCards selectionSectionCards--function">
          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>カバーリング仕様の商品のみ、ご家庭でお洗濯（手洗い）ができます。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>カバーリング仕様の商品のみ、石油系ドライクリーニングができます（タンブラー乾燥不可）。</p>
            </div>
          </div>
        </div>

        <h3 class="pageSelection_sectionSubTtl">張地一覧</h3>

        <div id="fabric-b" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Bランク ウォッシャブル</h4>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sf-or.jpg' | file_url }}" data-lightbox="fabric-b" data-title="サフィロスOR"><img src="{{ 'hida-fabric-b-sf-or.jpg' | file_url }}" alt="飛騨産業 サフィロスOR" width="640" height="640" loading="lazy" /></a><p>サフィロスOR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sf-br.jpg' | file_url }}" data-lightbox="fabric-b" data-title="サフィロスBR"><img src="{{ 'hida-fabric-b-sf-br.jpg' | file_url }}" alt="飛騨産業 サフィロスBR" width="640" height="640" loading="lazy" /></a><p>サフィロスBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sf-lgr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="サフィロスLGR"><img src="{{ 'hida-fabric-b-sf-lgr.jpg' | file_url }}" alt="飛騨産業 サフィロスLGR" width="640" height="640" loading="lazy" /></a><p>サフィロスLGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sf-dgr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="サフィロスDGR"><img src="{{ 'hida-fabric-b-sf-dgr.jpg' | file_url }}" alt="飛騨産業 サフィロスDGR" width="640" height="640" loading="lazy" /></a><p>サフィロスDGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sh-be.jpg' | file_url }}" data-lightbox="fabric-b" data-title="シャームBE"><img src="{{ 'hida-fabric-b-sh-be.jpg' | file_url }}" alt="飛騨産業 シャームBE" width="640" height="640" loading="lazy" /></a><p>シャームBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sh-gr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="シャームGR"><img src="{{ 'hida-fabric-b-sh-gr.jpg' | file_url }}" alt="飛騨産業 シャームGR" width="640" height="640" loading="lazy" /></a><p>シャームGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sh-re.jpg' | file_url }}" data-lightbox="fabric-b" data-title="シャームRE"><img src="{{ 'hida-fabric-b-sh-re.jpg' | file_url }}" alt="飛騨産業 シャームRE" width="640" height="640" loading="lazy" /></a><p>シャームRE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sh-br.jpg' | file_url }}" data-lightbox="fabric-b" data-title="シャームBR"><img src="{{ 'hida-fabric-b-sh-br.jpg' | file_url }}" alt="飛騨産業 シャームBR" width="640" height="640" loading="lazy" /></a><p>シャームBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sp-g.jpg' | file_url }}" data-lightbox="fabric-b" data-title="スパイスG"><img src="{{ 'hida-fabric-b-sp-g.jpg' | file_url }}" alt="飛騨産業 スパイスG" width="640" height="640" loading="lazy" /></a><p>スパイスG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sp-lgr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="スパイスLGR"><img src="{{ 'hida-fabric-b-sp-lgr.jpg' | file_url }}" alt="飛騨産業 スパイスLGR" width="640" height="640" loading="lazy" /></a><p>スパイスLGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sb-iv.jpg' | file_url }}" data-lightbox="fabric-b" data-title="セイブルIV"><img src="{{ 'hida-fabric-b-sb-iv.jpg' | file_url }}" alt="飛騨産業 セイブルIV" width="640" height="640" loading="lazy" /></a><p>セイブルIV</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sb-be.jpg' | file_url }}" data-lightbox="fabric-b" data-title="セイブルBE"><img src="{{ 'hida-fabric-b-sb-be.jpg' | file_url }}" alt="飛騨産業 セイブルBE" width="640" height="640" loading="lazy" /></a><p>セイブルBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sb-lbu.jpg' | file_url }}" data-lightbox="fabric-b" data-title="セイブルLBU"><img src="{{ 'hida-fabric-b-sb-lbu.jpg' | file_url }}" alt="飛騨産業 セイブルLBU" width="640" height="640" loading="lazy" /></a><p>セイブルLBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sb-bu.jpg' | file_url }}" data-lightbox="fabric-b" data-title="セイブルBU"><img src="{{ 'hida-fabric-b-sb-bu.jpg' | file_url }}" alt="飛騨産業 セイブルBU" width="640" height="640" loading="lazy" /></a><p>セイブルBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sb-pu.jpg' | file_url }}" data-lightbox="fabric-b" data-title="セイブルPU"><img src="{{ 'hida-fabric-b-sb-pu.jpg' | file_url }}" alt="飛騨産業 セイブルPU" width="640" height="640" loading="lazy" /></a><p>セイブルPU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-sb-dbr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="セイブルDBR"><img src="{{ 'hida-fabric-b-sb-dbr.jpg' | file_url }}" alt="飛騨産業 セイブルDBR" width="640" height="640" loading="lazy" /></a><p>セイブルDBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-dg-re.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ドックRE"><img src="{{ 'hida-fabric-b-dg-re.jpg' | file_url }}" alt="飛騨産業 ドックRE" width="640" height="640" loading="lazy" /></a><p>ドックRE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-dg-yg.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ドックYG"><img src="{{ 'hida-fabric-b-dg-yg.jpg' | file_url }}" alt="飛騨産業 ドックYG" width="640" height="640" loading="lazy" /></a><p>ドックYG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-dg-pu.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ドックPU"><img src="{{ 'hida-fabric-b-dg-pu.jpg' | file_url }}" alt="飛騨産業 ドックPU" width="640" height="640" loading="lazy" /></a><p>ドックPU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-dg-br.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ドックBR"><img src="{{ 'hida-fabric-b-dg-br.jpg' | file_url }}" alt="飛騨産業 ドックBR" width="640" height="640" loading="lazy" /></a><p>ドックBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-dg-b.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ドックB"><img src="{{ 'hida-fabric-b-dg-b.jpg' | file_url }}" alt="飛騨産業 ドックB" width="640" height="640" loading="lazy" /></a><p>ドックB</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-ph-re.jpg' | file_url }}" data-lightbox="fabric-b" data-title="プラハRE"><img src="{{ 'hida-fabric-b-ph-re.jpg' | file_url }}" alt="飛騨産業 プラハRE" width="640" height="640" loading="lazy" /></a><p>プラハRE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-ph-ye.jpg' | file_url }}" data-lightbox="fabric-b" data-title="プラハYE"><img src="{{ 'hida-fabric-b-ph-ye.jpg' | file_url }}" alt="飛騨産業 プラハYE" width="640" height="640" loading="lazy" /></a><p>プラハYE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-ph-bu.jpg' | file_url }}" data-lightbox="fabric-b" data-title="プラハBU"><img src="{{ 'hida-fabric-b-ph-bu.jpg' | file_url }}" alt="飛騨産業 プラハBU" width="640" height="640" loading="lazy" /></a><p>プラハBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-ph-dbr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="プラハDBR"><img src="{{ 'hida-fabric-b-ph-dbr.jpg' | file_url }}" alt="飛騨産業 プラハDBR" width="640" height="640" loading="lazy" /></a><p>プラハDBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-ph-gr.jpg' | file_url }}" data-lightbox="fabric-b" data-title="プラハGR"><img src="{{ 'hida-fabric-b-ph-gr.jpg' | file_url }}" alt="飛騨産業 プラハGR" width="640" height="640" loading="lazy" /></a><p>プラハGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-ph-b.jpg' | file_url }}" data-lightbox="fabric-b" data-title="プラハB"><img src="{{ 'hida-fabric-b-ph-b.jpg' | file_url }}" alt="飛騨産業 プラハB" width="640" height="640" loading="lazy" /></a><p>プラハB</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-mi-be.jpg' | file_url }}" data-lightbox="fabric-b" data-title="マイカBE<br/>防汚加工が施されており汚れが付きにくく落ちやすい布です。ペットやお子様のいるご家庭におすすめです。"><img src="{{ 'hida-fabric-b-mi-be.jpg' | file_url }}" alt="飛騨産業 マイカBE" width="640" height="640" loading="lazy" /></a><p>マイカBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-mi-re.jpg' | file_url }}" data-lightbox="fabric-b" data-title="マイカRE<br/>防汚加工が施されており汚れが付きにくく落ちやすい布です。ペットやお子様のいるご家庭におすすめです。"><img src="{{ 'hida-fabric-b-mi-re.jpg' | file_url }}" alt="飛騨産業 マイカRE" width="640" height="640" loading="lazy" /></a><p>マイカRE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-mi-g.jpg' | file_url }}" data-lightbox="fabric-b" data-title="マイカG<br/>防汚加工が施されており汚れが付きにくく落ちやすい布です。ペットやお子様のいるご家庭におすすめです。"><img src="{{ 'hida-fabric-b-mi-g.jpg' | file_url }}" alt="飛騨産業 マイカG" width="640" height="640" loading="lazy" /></a><p>マイカG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-mi-br.jpg' | file_url }}" data-lightbox="fabric-b" data-title="マイカBR<br/>防汚加工が施されており汚れが付きにくく落ちやすい布です。ペットやお子様のいるご家庭におすすめです。"><img src="{{ 'hida-fabric-b-mi-br.jpg' | file_url }}" alt="飛騨産業 マイカBR" width="640" height="640" loading="lazy" /></a><p>マイカBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-rc-be.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ルーチェBE"><img src="{{ 'hida-fabric-b-rc-be.jpg' | file_url }}" alt="飛騨産業 ルーチェBE" width="640" height="640" loading="lazy" /></a><p>ルーチェBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-rc-or.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ルーチェOR"><img src="{{ 'hida-fabric-b-rc-or.jpg' | file_url }}" alt="飛騨産業 ルーチェOR" width="640" height="640" loading="lazy" /></a><p>ルーチェOR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-rc-yg.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ルーチェYG"><img src="{{ 'hida-fabric-b-rc-yg.jpg' | file_url }}" alt="飛騨産業 ルーチェYG" width="640" height="640" loading="lazy" /></a><p>ルーチェYG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-rc-pu.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ルーチェPU"><img src="{{ 'hida-fabric-b-rc-pu.jpg' | file_url }}" alt="飛騨産業 ルーチェPU" width="640" height="640" loading="lazy" /></a><p>ルーチェPU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-b-rc-br.jpg' | file_url }}" data-lightbox="fabric-b" data-title="ルーチェBR"><img src="{{ 'hida-fabric-b-rc-br.jpg' | file_url }}" alt="飛騨産業 ルーチェBR" width="640" height="640" loading="lazy" /></a><p>ルーチェBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
          </div>

        </div>

        <div id="fabric-c" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Cランク</h4>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-gc-lgr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ガウチョLGR"><img src="{{ 'hida-fabric-c-gc-lgr.jpg' | file_url }}" alt="飛騨産業 ガウチョLGR" width="640" height="640" loading="lazy" /></a><p>ガウチョLGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-gc-gr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ガウチョGR"><img src="{{ 'hida-fabric-c-gc-gr.jpg' | file_url }}" alt="飛騨産業 ガウチョGR" width="640" height="640" loading="lazy" /></a><p>ガウチョGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-gc-br.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ガウチョBR"><img src="{{ 'hida-fabric-c-gc-br.jpg' | file_url }}" alt="飛騨産業 ガウチョBR" width="640" height="640" loading="lazy" /></a><p>ガウチョBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-sp-be.jpg' | file_url }}" data-lightbox="fabric-c" data-title="スピリットBE<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-sp-be.jpg' | file_url }}" alt="飛騨産業 スピリットBE" width="640" height="640" loading="lazy" /></a><p>スピリットBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-sp-pu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="スピリットPU<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-sp-pu.jpg' | file_url }}" alt="飛騨産業 スピリットPU" width="640" height="640" loading="lazy" /></a><p>スピリットPU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-sp-br.jpg' | file_url }}" data-lightbox="fabric-c" data-title="スピリットBR<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-sp-br.jpg' | file_url }}" alt="飛騨産業 スピリットBR" width="640" height="640" loading="lazy" /></a><p>スピリットBR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-sp-gr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="スピリットGR<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-sp-gr.jpg' | file_url }}" alt="飛騨産業 スピリットGR" width="640" height="640" loading="lazy" /></a><p>スピリットGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-sp-bu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="スピリットBU<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-sp-bu.jpg' | file_url }}" alt="飛騨産業 スピリットBU" width="640" height="640" loading="lazy" /></a><p>スピリットBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-dl-lgr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ダリアLGR"><img src="{{ 'hida-fabric-c-dl-lgr.jpg' | file_url }}" alt="飛騨産業 ダリアLGR" width="640" height="640" loading="lazy" /></a><p>ダリアLGR</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-dl-gr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ダリアGR"><img src="{{ 'hida-fabric-c-dl-gr.jpg' | file_url }}" alt="飛騨産業 ダリアGR" width="640" height="640" loading="lazy" /></a><p>ダリアGR</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-dl-dbu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ダリアDBU"><img src="{{ 'hida-fabric-c-dl-dbu.jpg' | file_url }}" alt="飛騨産業 ダリアDBU" width="640" height="640" loading="lazy" /></a><p>ダリアDBU</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-ng-dbu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ナギDBU"><img src="{{ 'hida-fabric-c-ng-dbu.jpg' | file_url }}" alt="飛騨産業 ナギDBU" width="640" height="640" loading="lazy" /></a><p>ナギDBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-ng-dg.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ナギDG"><img src="{{ 'hida-fabric-c-ng-dg.jpg' | file_url }}" alt="飛騨産業 ナギDG" width="640" height="640" loading="lazy" /></a><p>ナギDG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-nh-bu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ノハラBU<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-nh-bu.jpg' | file_url }}" alt="飛騨産業 ノハラBU" width="640" height="640" loading="lazy" /></a><p>ノハラBU</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-nh-br.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ノハラBR<br/>＊アクアクリーン 目に見えない分子被膜により汚れが繊維に浸透するのを防ぎます。メンテナンス性に優れた布です。"><img src="{{ 'hida-fabric-c-nh-br.jpg' | file_url }}" alt="飛騨産業 ノハラBR" width="640" height="640" loading="lazy" /></a><p>ノハラBR</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-bl-bu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ブルームBU"><img src="{{ 'hida-fabric-c-bl-bu.jpg' | file_url }}" alt="飛騨産業 ブルームBU" width="640" height="640" loading="lazy" /></a><p>ブルームBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-bl-g.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ブルームG"><img src="{{ 'hida-fabric-c-bl-g.jpg' | file_url }}" alt="飛騨産業 ブルームG" width="640" height="640" loading="lazy" /></a><p>ブルームG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-vg-re.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ベガスRE"><img src="{{ 'hida-fabric-c-vg-re.jpg' | file_url }}" alt="飛騨産業 ベガスRE" width="640" height="640" loading="lazy" /></a><p>ベガスRE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-vg-gr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ベガスGR"><img src="{{ 'hida-fabric-c-vg-gr.jpg' | file_url }}" alt="飛騨産業 ベガスGR" width="640" height="640" loading="lazy" /></a><p>ベガスGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-vg-g.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ベガスG"><img src="{{ 'hida-fabric-c-vg-g.jpg' | file_url }}" alt="飛騨産業 ベガスG" width="640" height="640" loading="lazy" /></a><p>ベガスG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-vg-dgr.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ベガスDGR"><img src="{{ 'hida-fabric-c-vg-dgr.jpg' | file_url }}" alt="飛騨産業 ベガスDGR" width="640" height="640" loading="lazy" /></a><p>ベガスDGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-vg-b.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ベガスB"><img src="{{ 'hida-fabric-c-vg-b.jpg' | file_url }}" alt="飛騨産業 ベガスB" width="640" height="640" loading="lazy" /></a><p>ベガスB</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-rs-be.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ルッソBE"><img src="{{ 'hida-fabric-c-rs-be.jpg' | file_url }}" alt="飛騨産業 ルッソBE" width="640" height="640" loading="lazy" /></a><p>ルッソBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-rs-g.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ルッソG"><img src="{{ 'hida-fabric-c-rs-g.jpg' | file_url }}" alt="飛騨産業 ルッソG" width="640" height="640" loading="lazy" /></a><p>ルッソG</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-c-rs-pu.jpg' | file_url }}" data-lightbox="fabric-c" data-title="ルッソPU"><img src="{{ 'hida-fabric-c-rs-pu.jpg' | file_url }}" alt="飛騨産業 ルッソPU" width="640" height="640" loading="lazy" /></a><p>ルッソPU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></li></ul></div>
          </div>
        </div>

        <div id="fabric-e" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Eランク</h4>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-al-be.jpg' | file_url }}" data-lightbox="fabric-e" data-title="アランBE"><img src="{{ 'hida-fabric-e-al-be.jpg' | file_url }}" alt="飛騨産業 アランBE" width="640" height="640" loading="lazy" /></a><p>アランBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-al-lgr.jpg' | file_url }}" data-lightbox="fabric-e" data-title="アランLGR"><img src="{{ 'hida-fabric-e-al-lgr.jpg' | file_url }}" alt="飛騨産業 アランLGR" width="640" height="640" loading="lazy" /></a><p>アランLGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-al-dbu.jpg' | file_url }}" data-lightbox="fabric-e" data-title="アランDBU"><img src="{{ 'hida-fabric-e-al-dbu.jpg' | file_url }}" alt="飛騨産業 アランDBU" width="640" height="640" loading="lazy" /></a><p>アランDBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-jp-be.jpg' | file_url }}" data-lightbox="fabric-e" data-title="ジュピターBE<br/>さらりとした感触が心地よいハイクオリティーの柔らかさ。髪の毛の1/15の細さの超極細繊維を使ったサミアモールを贅沢に使用し、思わず頬ずりしたくなる風合いです。"><img src="{{ 'hida-fabric-e-jp-be.jpg' | file_url }}" alt="飛騨産業 ジュピターBE" width="640" height="640" loading="lazy" /></a><p>ジュピターBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-jp-dbu.jpg' | file_url }}" data-lightbox="fabric-e" data-title="ジュピターDBU<br/>さらりとした感触が心地よいハイクオリティーの柔らかさ。髪の毛の1/15の細さの超極細繊維を使ったサミアモールを贅沢に使用し、思わず頬ずりしたくなる風合いです。"><img src="{{ 'hida-fabric-e-jp-dbu.jpg' | file_url }}" alt="飛騨産業 ジュピターDBU" width="640" height="640" loading="lazy" /></a><p>ジュピターDBU</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-tr-be.jpg' | file_url }}" data-lightbox="fabric-e" data-title="トラスBE"><img src="{{ 'hida-fabric-e-tr-be.jpg' | file_url }}" alt="飛騨産業 トラスBE" width="640" height="640" loading="lazy" /></a><p>トラスBE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-tr-ye.jpg' | file_url }}" data-lightbox="fabric-e" data-title="トラスYE"><img src="{{ 'hida-fabric-e-tr-ye.jpg' | file_url }}" alt="飛騨産業 トラスYE" width="640" height="640" loading="lazy" /></a><p>トラスYE</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-tr-gr.jpg' | file_url }}" data-lightbox="fabric-e" data-title="トラスGR"><img src="{{ 'hida-fabric-e-tr-gr.jpg' | file_url }}" alt="飛騨産業 トラスGR" width="640" height="640" loading="lazy" /></a><p>トラスGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-hz-nv.jpg' | file_url }}" data-lightbox="fabric-e" data-title="ハウゼンNV"><img src="{{ 'hida-fabric-e-hz-nv.jpg' | file_url }}" alt="飛騨産業 ハウゼンNV" width="640" height="640" loading="lazy" /></a><p>ハウゼンNV</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-hz-gr.jpg' | file_url }}" data-lightbox="fabric-e" data-title="ハウゼンGR"><img src="{{ 'hida-fabric-e-hz-gr.jpg' | file_url }}" alt="飛騨産業 ハウゼンGR" width="640" height="640" loading="lazy" /></a><p>ハウゼンGR</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-ht-be.jpg' | file_url }}" data-lightbox="fabric-e" data-title="ホームツィードBE"><img src="{{ 'hida-fabric-e-ht-be.jpg' | file_url }}" alt="飛騨産業 ホームツィードBE" width="640" height="640" loading="lazy" /></a><p>ホームツィードBE</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'hida-fabric-e-ht-gr.jpg' | file_url }}" data-lightbox="fabric-e" data-title="ホームツィードGR"><img src="{{ 'hida-fabric-e-ht-gr.jpg' | file_url }}" alt="飛騨産業 ホームツィードGR" width="640" height="640" loading="lazy" /></a><p>ホームツィードGR</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
          </div>
        </div>


      </section>

    </div>
  </main>
</article>
