{% render 'breadcrumbs' %}
<article class="site-page rte" data-template-page>
  <header class="page-masthead">
    <div class="page-masthead--body">
      <div class="page-masthead--body--inner">
        <h1 class="page-masthead--body_title page-title"><img src="{{ 'heralbony-jias_logo.png' | file_url }}" width="642" height="652" alt="JIAS ONLINE × ヘラルボニー"></h1>
        <picture class="page-masthead-body_hero">
          <source srcset="{{ 'heralbony-jias_hero.jpg' | file_url }}" media="(min-width: 769px)" width="2000" height="800">
          <img src="{{ 'heralbony-jias_hero_sp.jpg' | file_url }}" width="780" height="860" alt="">
        </picture>
      </div>
    </div>
  </header>

  <main class="HeralbonyJias">
    <div class="page-content">
      <div class="HeralbonyJias_bg01 HeralbonyJias_bg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1266.41 1613.81"><path d="M1266.41 390.77c0 436.44-96.42 1223.05-918.55 1223.05S358 0 824.89 0s421.22 329.87 441.51 390.77Z" style="fill:#a1c6d1;opacity:.3"/></svg>
      </div>

      <div class="HeralbonyJiasNav">
        <a class="HeralbonyJiasNav_item button-secondary" href="#artist">アーティスト紹介<i></i></a>
        <a class="HeralbonyJiasNav_item button-secondary" href="#products">商品紹介<i></i></a>
      </div>
    </div><!-- /.page-content -->

    <div class="page-content">
      <section class="HeralbonyJiasAbout">
        <div class="HeralbonyJias_bg02 HeralbonyJias_bg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1697.37 2465.63"><path d="M913.9 90.98C487.61-167.84 86.7 172.18 10.58 527.42s284.19 725.71 268.97 959.15c-15.22 233.44-116.72 1243.35 933.78 913.48C2263.83 2070.18 1340.2 349.8 913.91 90.98Z" style="fill:#d1c5a1;opacity:.3"/></svg>
        </div>
        <div class="HeralbonyJiasImageColumn HeralbonyJiasImageColumn_reverse">
          <picture class="HeralbonyJiasImageColumn_thumb">
            <source srcset="{{ 'heralbony-jias_about01.jpg' | file_url }}" media="(min-width: 769px)" width="1280" height="742" loading="lazy">
            <img src="{{ 'heralbony-jias_about01_sp.jpg' | file_url }}" width="730" height="800" alt="JIAS ONLINE × ヘラルボニー" loading="lazy">
          </picture>
          <div class="HeralbonyJiasImageColumn_body">
            <h2>ヘラルボニーとは？</h2>
            <p>「異彩を、放て。」をミッションに掲げる福祉実験ユニット「株式会社ヘラルボニー」が展開する、岩手県発のアートライフブランド。<br />日本全国の主に知的障害のあるアーティストがつくりだす作品を、様々なプロダクトとして世の中に送り届けることで、福祉を起点に新たな文化・価値を生み出しています。<br />そのプロダクトはネクタイ、ハンカチなどの雑貨類にとどまらず、ホテルの内装デザインにまで活動の幅を広げ続けています。</p>
          </div>
        </div>
      </section>

      <section class="HeralbonyJiasThought">
        <div class="HeralbonyJias_bg03 HeralbonyJias_bg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1507.5 1189.69"><path d="M1506.04 429.7c26.06-299.68-302.75-474.8-508.98-419.58C644 104.65 671.6 372.4 546.33 460.21c-125.27 87.82-232.65-14.1-387.31 53.06C4.35 580.42-56.74 807.48 63.33 1084c120.07 276.52 1386.35-6.14 1442.71-654.3Z" style="fill:#d1aea2;opacity:.3"/></svg>
        </div>
        <div class="HeralbonyJiasImageColumn">
          <picture class="HeralbonyJiasImageColumn_thumb">
            <source srcset="{{ 'heralbony-jias_about02.jpg' | file_url }}" media="(min-width: 769px)" width="800" height="1130" loading="lazy">
            <img src="{{ 'heralbony-jias_about02_sp.jpg' | file_url }}" width="730" height="900" alt="JIAS ONLINE × ヘラルボニー" loading="lazy">
          </picture>
          <div class="HeralbonyJiasImageColumn_body">
            <h2>ジアスの想いを<span class="d_ib">こだわりのファブリックに</span><span class="d_ib">のせて</span></h2>
            <p>暮らしの楽しみかたは人それぞれ。<br />だからこそジェンダーや障がい、境遇や経験、ライフステージの変化も個性の一部となり、提案の強みにすることが出来るはずー。<br />そんな想いで障がいや難病を持つ方の就労支援プロジェクトや職業訓練などにも、ジアスは率先して取り組んでいます。</p>
            <p>ファブリックはデザインや質感が豊富で、暮らしを彩るアートとなり得ます。<br />ヘラルボニーさんのデザインをカーテンに仕立てれば、お客様もそのパワーを窓辺に取り入れて、アートとして楽しんでいただくことができる。<br />「なによりもその異彩なデザインに惹かれました。そして私自身も一卵性双生児。これは！(笑)と即連絡せずにはいられませんでした。」と、弊社代表。シアーカーテンの商品への取組みが決定しました。<br />ベースクロスにはサーキュラーエコノミーを実現したファブリック「RENU®」を使用することにより、資源の有効利用にも配慮しています。</p>
            <p>朝、陽が差し込み、鮮やかな色彩がどんどん透過度を高めて、みるみる空間を変えていく。それを暮らしの中で愉しんでいただきたい。<br />ジアスの想いと異彩のコラボ、ついに実現です。</p>
            <p><a class="button-secondary" href="{{ articles["topics/column12"].url }}">詳しくはこちら</a></p>
          </div>
        </div>
      </section>

      <section class="HeralbonyJiasArt">
        <div class="HeralbonyJiasImageColumn HeralbonyJiasImageColumn_reverse">
          <picture class="HeralbonyJiasImageColumn_thumb">
            <source srcset="{{ 'heralbony-jias_about03.jpg' | file_url }}" media="(min-width: 769px)" width="800" height="1130" loading="lazy">
            <img src="{{ 'heralbony-jias_about03_sp.jpg' | file_url }}" width="730" height="636" alt="JIAS ONLINE × ヘラルボニー" loading="lazy">
          </picture>
          <div class="HeralbonyJiasImageColumn_body">
            <h2>Art Brutとは<br /><small>アール・ブリュット</small></h2>
            <p>「Art Brut（アール・ブリュット）」という言葉は、フランスの画家ジャン・デュビュッフェ（Jean Debuffet 1901-1985）によって考案された言葉で、既存の美術や文化潮流とは無縁の文脈で製作された芸術作品を指します。<br />フランス語で「生の芸術」を意味しており、伝統や流行などに左右されず、芸術的な訓練を受けていない人が自身の内側から湧き上がる衝動のままに表現した芸術で、知的障害や精神障害のある作家が描く独創的な作品は国内外で注目されています。<br />日本のアール・ブリュット作品は海外で高く評価され、アール・ブリュットの総本山として世界的にも名高いアール・ブリュット・コレクション（スイス・ローザンヌ）、パリ市立アル・サン・ピエール美術館（フランス・パリ）などでも展示会が開催されています。</p>
          </div>
        </div>
      </section>

    </div><!-- /.page-content -->

    <section id="artist" class="HeralbonyJiasArtist">
      <div class="page-content">
        <h2 class="home-section--title">ARTIST LINEUP<small>アーティスト紹介</small></h2>

        <div class="HeralbonyJiasArtistBox"><!-- 佐々木 早苗 -->
          <div class="HeralbonyJiasArtistBox_thumb">
            <img src="{{ 'heralbony-jias_sasaki_sanae.jpg' | file_url }}" alt="るんびにい美術館 佐々木 早苗" width="500" height="500" loading="lazy">
          </div>

          <div class="HeralbonyJiasArtistBox_body">
            <p class="HeralbonyJiasArtistBox_body_subname">るんびにい美術館</p>
            <h3 class="HeralbonyJiasArtistBox_body_name">佐々木 早苗</h3>
            <p class="HeralbonyJiasArtistBox_body_enname">Sanae Sasaki</p>
            <p class="HeralbonyJiasArtistBox_body_desc">
              絵画のみならず織り物、切り紙、刺繍など、いずれも緻密で色彩と構成の妙に富む様々な表現を生み出し続けている。彼女は一つの仕事に数か月から数年集中して取り組んだあと、不意にやめて別の仕事に移るのが常。2019年以降彼女が打ち込んでいるのは、丸く切り抜いた紙をいくつもの色で同心円状に彩色し、塗り終わった紙を壁に並べて貼っていくこと。</p>
          </div>

          <h3 class="HeralbonyJiasArtistBox_subtitle">ART PRODUCTS</h3>
          <div class="HeralbonyJiasArtistBoxProduct">
            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_sasaki_sanae_product01.jpg' | file_url }}" alt="「（無題）（丸）」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「（無題）（丸）」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he001"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he001"].title }}">商品ページへ</a>
            </div>

            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_sasaki_sanae_product02.jpg' | file_url }}" alt="「（無題）（白）」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「（無題）（白）」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he008"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he008"].title }}">商品ページへ</a>
            </div>
          </div>

        </div><!-- 佐々木 早苗 -->

        <div class="HeralbonyJiasArtistBox"><!-- 高橋 南 -->
          <div class="HeralbonyJiasArtistBox_thumb">
            <img src="{{ 'heralbony-jias_takahashi_minami.jpg' | file_url }}" alt="るんびにい美術館 高橋 南" width="500" height="500" loading="lazy">
          </div>

          <div class="HeralbonyJiasArtistBox_body">
            <p class="HeralbonyJiasArtistBox_body_subname">るんびにい美術館</p>
            <h3 class="HeralbonyJiasArtistBox_body_name">高橋 南</h3>
            <p class="HeralbonyJiasArtistBox_body_enname">Minami Takahashi</p>
            <p class="HeralbonyJiasArtistBox_body_desc">
              クーピーペンシルやクレヨンを塗り重ねることで作り上げられた作品は、一見すると、素早い鉛筆の動きを要する激しい制作態度を連想させる。しかし実は、彼女の制作は非常にゆっくりと穏やかである。彼女の描き出すひとつひとつの色は、お互いに交じり合うことなく、それぞれにその美しさを主張しながら画面の上に現れ、激しさと静けさが不思議に同居しており、心を惹きつけられずにはいられない。</p>
          </div>

          <h3 class="HeralbonyJiasArtistBox_subtitle">ART PRODUCTS</h3>
          <div class="HeralbonyJiasArtistBoxProduct">
            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_takahashi_minami_product01.jpg' | file_url }}" alt="「風のロンド」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「風のロンド」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he002"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he002"].title }}">商品ページへ</a>
            </div>
          </div>

        </div><!-- 高橋 南 -->

        <div class="HeralbonyJiasArtistBox"><!-- 八重樫 道代 -->
          <div class="HeralbonyJiasArtistBox_thumb">
            <img src="{{ 'heralbony-jias_yaegashi_michiyo.jpg' | file_url }}" alt="るんびにい美術館 八重樫 道代" width="500" height="500" loading="lazy">
          </div>

          <div class="HeralbonyJiasArtistBox_body">
            <p class="HeralbonyJiasArtistBox_body_subname">るんびにい美術館</p>
            <h3 class="HeralbonyJiasArtistBox_body_name">八重樫 道代</h3>
            <p class="HeralbonyJiasArtistBox_body_enname">Michiyo Yaegashi</p>
            <p class="HeralbonyJiasArtistBox_body_desc">
              ブラシマーカーを用い、躍動に満ちた膨大な形と色彩がひしめく緻密な画面を生み出す。小さな頃から塗り絵が好きだったが、初めて「自分の絵」を描き始めたのは19歳の時。以来、堰を切ったように鮮烈な色彩と精緻な構成からなる作品を次々に生み出していった。「ワープロ」「おりがみ」というタイトルは、アーティスト自身がつけたものである。</p>
          </div>

          <h3 class="HeralbonyJiasArtistBox_subtitle">ART PRODUCTS</h3>
          <div class="HeralbonyJiasArtistBoxProduct">
            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_yaegashi_michiyo_product01.jpg' | file_url }}" alt="「ワープロ」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「ワープロ」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he003"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he003"].title }}">商品ページへ</a>
            </div>
          </div>

        </div><!-- 八重樫 道代 -->

        <div class="HeralbonyJiasArtistBox"><!-- 小林 覚 -->
          <div class="HeralbonyJiasArtistBox_thumb">
            <img src="{{ 'heralbony-jias_kobayashi_satoru.jpg' | file_url }}" alt="るんびにい美術館 小林 覚" width="500" height="500" loading="lazy">
          </div>

          <div class="HeralbonyJiasArtistBox_body">
            <p class="HeralbonyJiasArtistBox_body_subname">るんびにい美術館</p>
            <h3 class="HeralbonyJiasArtistBox_body_name">小林 覚</h3>
            <p class="HeralbonyJiasArtistBox_body_enname">Satoru Kobayashi</p>
            <p class="HeralbonyJiasArtistBox_body_desc">
              よく見ると、いろいろな数字がつなげて描かれているのがわかる。小林は養護学校中等部の在学中に、日記も作文もすべての文字を独特の形にアレンジして書くようになった。初め学校の先生も何とか直せないかと苦心したが、やがてこれを魅力的な造形表現ととらえることに切り替える。これを転機に、彼の表現は多くの人に喜びを与えるアートとして羽ばたき始めた。彼の好きな音楽家はビリー・ジョエル、クイーン、井上陽水、スピッツ、THE BOOM。そして散歩が大好き。</p>
          </div>

          <h3 class="HeralbonyJiasArtistBox_subtitle">ART PRODUCTS</h3>
          <div class="HeralbonyJiasArtistBoxProduct">
            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_kobayashi_satoru_product01.jpg' | file_url }}" alt="「数字」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「数字」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he006"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he006"].title }}">商品ページへ</a>
            </div>
          </div>

        </div><!-- 小林 覚 -->

        <div class="HeralbonyJiasArtistBox"><!-- 八重樫 季良 -->
          <div class="HeralbonyJiasArtistBox_thumb">
            <img src="{{ 'heralbony-jias_yaegashi_kiyoshi.jpg' | file_url }}" alt="るんびにい美術館 八重樫 季良" width="500" height="500" loading="lazy">
          </div>

          <div class="HeralbonyJiasArtistBox_body">
            <p class="HeralbonyJiasArtistBox_body_subname">るんびにい美術館</p>
            <h3 class="HeralbonyJiasArtistBox_body_name">八重樫 季良</h3>
            <p class="HeralbonyJiasArtistBox_body_enname">Kiyoshi Yaegashi</p>
            <p class="HeralbonyJiasArtistBox_body_desc">
              一見抽象的な幾何学パターンを描いたように見える絵だが、それが独自のアレンジによって描かれた建築物だと知ったら多くの人が驚くだろう。この表現様式を八重樫は子どもの頃、誰に習うことなく独創によって生み出し、以来半世紀余りにわたってこのただ一つのスタイルで創作し続けて来た。その作品数はおそらく数千点に及ぶと思われる。BOOM。そして散歩が大好き。</p>
          </div>

          <h3 class="HeralbonyJiasArtistBox_subtitle">ART PRODUCTS</h3>
          <div class="HeralbonyJiasArtistBoxProduct">
            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_yaegashi_kiyoshi_product01.jpg' | file_url }}" alt="「（無題）（車）」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「（無題）（車）」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he007"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he007"].title }}">商品ページへ</a>
            </div>
          </div>

        </div><!-- 八重樫 季良 -->

        <div class="HeralbonyJiasArtistBox"><!-- 土屋 康一 -->
          <div class="HeralbonyJiasArtistBox_thumb">
            <img src="{{ 'heralbony-jias_tsuchiya_koichi.jpg' | file_url }}" alt="Unico/はじまりの美術館 土屋 康一" width="500" height="500" loading="lazy">
          </div>

          <div class="HeralbonyJiasArtistBox_body">
            <p class="HeralbonyJiasArtistBox_body_subname">Unico/はじまりの美術館</p>
            <h3 class="HeralbonyJiasArtistBox_body_name">土屋 康一</h3>
            <p class="HeralbonyJiasArtistBox_body_enname">Koichi Tsuchiya</p>
            <p class="HeralbonyJiasArtistBox_body_desc">
              土屋の代表的な作品は、「はっぱ」と題される串に団子が刺さったような形状の作品群と、「はな」と題される画面全体を複数色で塗り分ける作品群に大別される。その他にも「おすし」などの具体物や人物、バス運行に関する記録メモを取ることもある。「はっぱ」「はな」双方とも鮮やかな色彩が共通しており、植物の優しいイメージと相まって、愛好者も多い。近年では新築家屋のふすまや、美容室や児童施設の壁面も作画し、好評を得ている。</p>
          </div>

          <h3 class="HeralbonyJiasArtistBox_subtitle">ART PRODUCTS</h3>
          <div class="HeralbonyJiasArtistBoxProduct">
            <div class="HeralbonyJiasArtistBoxProduct_item">
              <div class="HeralbonyJiasArtistBoxProduct_item_thumb">
                <img src="{{ 'heralbony-jias_tsuchiya_koichi_product01.jpg' | file_url }}" alt="「無題（葉っぱ）」" width="680" height="680" loading="lazy">
              </div>
              <h4 class="HeralbonyJiasArtistBoxProduct_name">「無題（葉っぱ）」</h4>
              <a href="{{ all_products["heralbony-art-sheer-curtain-he005"].url }}" title="{{ all_products["heralbony-art-sheer-curtain-he005"].title }}">商品ページへ</a>
            </div>
          </div>

        </div><!-- 土屋 康一 -->


        </div><!-- /.HeralbonyJiasArtistBox -->

      </div><!-- /.page-content -->
    </section><!-- /.HeralbonyJiasArtist -->

  </main>
</article>
<div id="products"></div> 