{% render 'breadcrumbs' %}
<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  <div class="page-content rte">
    <div class="guideContainer">
      <aside class="guideSideNav">
        {% render 'page-guide-nav' %}
      </aside>
      <main class="guideMain">
        <section id="product01" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">商品の仕様について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>商品の仕様については各商品ページ内にある「商品詳細」欄や「その他特記事項」欄に詳細内容を記載しておりますのでご確認いただきますようお願いいたします。</p>
            <p>商品の仕様についてご不明点等ございましたら<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。<br />お問い合わせの際には、確認したい商品仕様に関して具体的にご記入いただきますと、より詳しくお答えすることができますので、ご協力いただけますと幸いです。お問い合わせ内容により、回答までにお時間を頂く場合がございます。あらかじめご了承ください。</p>
          </div>
        </section>

        <section id="product02" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">商品のサイズについて</h2>
          <div class="guideBox-body js_accordion_body">
            <p>各商品ページのサイズ欄に記載しております。<br />商品により、サイズ表記単位が異なってますのでお間違いのないようご確認ください。</p>
            <ul class="memo">
              <li>外寸・内寸表記の場合がございますので、お間違いの無いようご注意ください。</li>
            </ul>
            <p>各部の寸法について、より詳細に確認したい箇所やご不明点等ございましたら<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりご連絡ください。</p>
            <p>お問い合わせの際には、サイズをお知りになりたい部位をなるべく具体的にご入力くださいますようお願いいたします。お問い合わせ内容により、回答までにお時間を頂く場合がございます。あらかじめご了承ください。</p>
          </div>
        </section>

        <section id="product03" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">商品の価格について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>各商品ページに記載しております。<br />販売価格は予告なく改定される場合がございます。あらかじめご了承ください。</p>
            <p>サイズ変更や指定外張地等の別注オーダーをご希望の場合は、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお問い合わせください。<br />お問い合わせ内容により、回答までにお時間を頂く場合がございます。あらかじめご了承ください。</p>
          </div>
        </section>

        <section id="product04" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">天井照明の取り付けについて</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ペンダントライトやシャンデリア、シーリングライトなど天井へ取り付ける照明器具には、天井へ簡単に取り付けできる引掛けシーリング対応タイプ、簡易取付型タイプ、電気工事が必要なタイプがあります。<br />商品詳細ページに掲載している「引掛けシーリング対応」「簡易取付型」「要電気工事」の各ラベルは、それぞれ天井照明の取り付け方について示しています。ご購入前に以下をご確認ください。</p>

            <ul class="product_label">
              <li>引掛けシーリング対応</li>
            </ul>
            <p>こちらのラベル表示がある天井照明は、設置される予定のお部屋の天井に引掛けシーリングまたは耳付引掛埋込ローゼットがある場合にお取り付けができます。</p>
            <p>天井に引掛けシーリングや耳付引掛埋込ローゼットがあれば取り付けにドライバー等の工具は要りません。器具側の部品を部品の溝に沿ってカチッと音がするまで右に回して取り付けてください。取り付け工程はこれだけです。<br />取り外しの際はロック解除ボタンを押しながら回してください。<br />高いところでの作業ですので、お取り付けには十分にご注意ください。</p>

            <ul class="product_label">
              <li>簡易取付型</li>
            </ul>
            <p>こちらのラベル表示がある天井照明は、電気工事は要りませんが、少し重い器具の場合、器具の重さを支えるために同梱の補助金具（スタット）が必要になります。ドライバー1本あれば作業可能です。</p>
            <p>天井についている部品が「引掛けシーリング」の場合、スタットを天井に直接ビスで留める必要がありますので、お近くの電気工事店へご相談ください。<br />重量があり、高いところでの作業になりますので、大人お二人以上での作業をおすすめいたします。<br />お取り付けには十分にご注意ください。</p>

            <ul class="product_label">
              <li>要電気工事</li>
            </ul>
            <p>こちらのラベル表示がある天井照明は、取り付けの際に電気工事が必要です。<br />この工事では天井から電源線を出し、器具に直接結線します。この作業は電気工事士の免許をお持ちの方でないと行うことができません。お近くの電気工事店や工務店、リフォーム店などへご相談ください。<br />費用は設置場所の状況、地域、業者により異なります。</p>
            <p>設置地域や商品によっては手配ができかねる場合もございます。</p>

            <h3 class="mb-0">◆コード加工について</h3>
            <p>ペンダントライトのコードの長さをカットや延長、ダクトレールに取り付けができる形状にするダクトプラグ加工などの、コード加工サービスを選択できる商品がございます。</p>
            <ul class="memo">
              <li>商品によっては加工不可の場合もございますのであらかじめご了承ください。</li>
            </ul>
            <p>同じペンダントライトでも、コードの長さによって明るさの感じ方やお部屋の雰囲気は大きく変わります。<br />ご自宅の天井やダイニングテーブルの高さに合った長さで吊るすことで、やわらかな明かりがつくる空間がより一層、居心地の良いものに仕上がります。</p>
            <div class="guideBox-separate">
              <img src="{{ 'ceiling-lighting01.jpg' | file_url }}" alt="" loading="lazy" width="400" height="400" />
              <img src="{{ 'ceiling-lighting02.jpg' | file_url }}" alt="" loading="lazy" width="400" height="400" />
            </div>

            <h3>コード加工の種類</h3>

            <h4>■ コードカット</h4>
            <p>加工前の照明のコードは、長さに少し余裕をもたせて作られています。<br />お部屋に合わせた長さにあらかじめコードをカットすることで、ペンダントライトを吊るした時の見た目がすっきりと美しく仕上がります。</p>
            <ul class="memo">
              <li>コード加工費の詳細については各商品ページをご確認ください。</li>
            </ul>

            <h4>■ コード延長</h4>
            <p>階段や吹き抜けでのご使用や、インテリアのアクセントとしてあえて低めに吊るしたい時におすすめの加工です。</p>
            <ul class="memo">
              <li>コード加工費の詳細については各商品ページをご確認ください。</li>
            </ul>

            <h4>■ ダクトプラグ加工</h4>
            <p>ペンダントライトをダクトレールに取り付けて使用する場合に必要な加工です。<br />ダクトレールのあるダイニングや、キッチンなどで多灯吊りをしたい方におすすめです。</p>
            <ul class="memo">
              <li>コード加工費の詳細については各商品ページをご確認ください。</li>
              <li>ダクトプラグ加工のみの場合、商品全長が加工前より数cm短くなります。</li>
            </ul>
          </div>
        </section>

        <section id="product07" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">カーテンの各種マークについて</h2>
          <div class="guideBox-body js_accordion_body">
            <p>ジアスオリジナルのカーテン商品には、それぞれのカーテンの機能・機能糸・加工・スタイルを示すマークが付いています。</p>
            <h3>【対象カタログ】</h3>
            <ul>
              <li>Eco de Happiness</li>
            </ul>
            <ol class="nodisc">
              <li><a href="#h1">①機能マークについて</a></li>
              <li><a href="#h2">②機能糸マークについて</a></li>
              <li><a href="#h3">③加工マークについて</a></li>
              <li><a href="#h4">④スタイルマークについて</a></li>
            </ol>

            <h4 id="h1" class="b">機能マークについて</h4>
            <p>ジアスオリジナルのカーテン商品には、それぞれのカーテンが備えている機能を示すマークが付いています。</p>

            <div class="functionBoxWrap">

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-17.png' | file_url }}" alt="防炎" loading="lazy" width="{{ images["mark-17.png"].width }}" height="{{ images["mark-17.png"].height }}" /></div>
                <h5 class="functionBox-title">防炎</h5>
                <p class="functionBox-desc">消防法より定められた防炎性能試験に合格したカーテンであることを示しています。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-18.png' | file_url }}" alt="遮光" loading="lazy" width="{{ images["mark-18.png"].width }}" height="{{ images["mark-18.png"].height }}" /></div>
                <h5 class="functionBox-title">遮光</h5>
                <p class="functionBox-desc">遮光機能を施したものです。本カタログでは1〜2級の商品を取扱っています。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-19.png' | file_url }}" alt="ウォッシャブル" loading="lazy" width="{{ images["mark-19.png"].width }}" height="{{ images["mark-19.png"].height }}" /></div>
                <h5 class="functionBox-title">ウォッシャブル</h5>
                <p class="functionBox-desc">家庭用洗濯機で洗えるので、お手入れが簡単です。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb">
                  <img src="{{ 'UV_S.png' | file_url }}" alt="UVカット S" loading="lazy" width="{{ images["UV_S.png"].width }}" height="{{ images["UV_S.png"].height }}" />
                  <img src="{{ 'UV_A.png' | file_url }}" alt="UVカット A" loading="lazy" width="{{ images["UV_A.png"].width }}" height="{{ images["UV_A.png"].height }}" />
                </div>
                <h5 class="functionBox-title">UVカット</h5>
                <p class="functionBox-desc">家具や室内の色あせの原因となる紫外線の透過を抑えるレースです。効果を4段階で表示し、本カタログではランクS・Aの商品を取扱っています。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb">
                  <img src="{{ 'mark-26.png' | file_url }}" alt="遮像 4" loading="lazy" width="{{ images["mark-26.png"].width }}" height="{{ images["mark-26.png"].height }}" />
                  <img src="{{ 'mark-27.png' | file_url }}" alt="遮像 3" loading="lazy" width="{{ images["mark-27.png"].width }}" height="{{ images["mark-27.png"].height }}" />
                </div>
                <h5 class="functionBox-title">遮像</h5>
                <p class="functionBox-desc">シアーカーテンを対象に、外から室内の見えにくさを4段階で表示し、本カタログではclass４・３の商品を取扱っています。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-30.png' | file_url }}" alt="採光" loading="lazy" width="{{ images["mark-30.png"].width }}" height="{{ images["mark-30.png"].height }}" /></div>
                <h5 class="functionBox-title">採光</h5>
                <p class="functionBox-desc">外から見えにくいが、光を採り入れ明るさを広げる機能を持つレースです</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb">
                  <img src="{{ 'mark-33.png' | file_url }}" alt="遮熱 S" loading="lazy" width="{{ images["mark-33.png"].width }}" height="{{ images["mark-33.png"].height }}" />
                  <img src="{{ 'mark-32.png' | file_url }}" alt="遮熱 A" loading="lazy" width="{{ images["mark-32.png"].width }}" height="{{ images["mark-32.png"].height }}" />
                </div>
                <h5 class="functionBox-title">遮熱</h5>
                <p class="functionBox-desc">太陽の熱をカットし、室内温度の上昇を抑えるレースです。効果を3段階で表示し、本カタログではランクS・Aの商品を取扱っています。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-31.png' | file_url }}" alt="保温" loading="lazy" width="{{ images["mark-31.png"].width }}" height="{{ images["mark-31.png"].height }}" /></div>
                <h5 class="functionBox-title">保温</h5>
                <p class="functionBox-desc">外からの冷気をカットし、室内の暖かい空気を逃しにくくするレースです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-16.png' | file_url }}" alt="テキ温" loading="lazy" width="{{ images["mark-16.png"].width }}" height="{{ images["mark-16.png"].height }}" /></div>
                <h5 class="functionBox-title">テキ温</h5>
                <p class="functionBox-desc">特殊な繊維を使用し、断熱効果を高めた遮光カーテンです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-21.png' | file_url }}" alt="花粉キャッチ" loading="lazy" width="{{ images["mark-21.png"].width }}" height="{{ images["mark-21.png"].height }}" /></div>
                <h5 class="functionBox-title">花粉キャッチ</h5>
                <p class="functionBox-desc">花粉やホコリが室内に入るのを抑えるレースです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-23.png' | file_url }}" alt="防カビ" loading="lazy" width="{{ images["mark-23.png"].width }}" height="{{ images["mark-23.png"].height }}" /></div>
                <h5 class="functionBox-title">防カビ</h5>
                <p class="functionBox-desc">菌を抑制し、細菌やカビの増殖を抑えます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-24.png' | file_url }}" alt="抗菌・防臭" loading="lazy" width="{{ images["mark-24.png"].width }}" height="{{ images["mark-24.png"].height }}" /></div>
                <h5 class="functionBox-title">抗菌・防臭</h5>
                <p class="functionBox-desc">抗菌作用によりいやな臭いが発生するのを防ぎます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-02.png' | file_url }}" alt="エコマーク" loading="lazy" width="{{ images["mark-02.png"].width }}" height="{{ images["mark-02.png"].height }}" /></div>
                <h5 class="functionBox-title">エコマーク</h5>
                <p class="functionBox-desc">使用済みペットボトルから作られたリサイクル繊維を使用し、地球と未来に配慮した商品です。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'mark-35.png' | file_url }}" alt="ねこ" loading="lazy" width="{{ images["mark-35.png"].width }}" height="{{ images["mark-35.png"].height }}" /></div>
                <h5 class="functionBox-title">ねこ</h5>
                <p class="functionBox-desc">ねこに優しいカーテンです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-38.png' | file_url }}" alt="HAPPY" loading="lazy" width="{{ images["mark-38.png"].width }}" height="{{ images["mark-38.png"].height }}" /></div>
                <h5 class="functionBox-title">HAPPY</h5>
                <p class="functionBox-desc">このカーテンでお部屋がハッピーになります。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'mark-36.png' | file_url }}" alt="形態安定" loading="lazy" width="{{ images["mark-36.png"].width }}" height="{{ images["mark-36.png"].height }}" /></div>
                <h5 class="functionBox-title">形態安定</h5>
                <p class="functionBox-desc">このマークがついた商品は、カーテンを掛けた時に、よりきれいなウェーブを出すための加工ができます。</p>
              </div>

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'mark-37.png' | file_url }}" alt="ヨコ使い" loading="lazy" width="{{ images["mark-37.png"].width }}" height="{{ images["mark-37.png"].height }}" /></div>
                <h5 class="functionBox-title">ヨコ使い</h5>
                <p class="functionBox-desc">横使い生地に表示しています。<br />●生地に対するタテ方向（上下）の柄の繰り返し寸法をタテリピートとして表示し、生地に対するヨコ方向（左右）の柄の繰り返し寸法をヨコリピートとして見本帳に表示しています。<img src="{{ 'mark-37-1.png' | file_url }}" alt="ヨコ使い" loading="lazy" width="{{ images["mark-37-1.png"].width }}" height="{{ images["mark-37-1.png"].height }}" style="max-width: 220px; width: 100%; padding: 5px; background-color: #fff; margin-block: 10px 0;"/></p>
              </div>

            </div>

            <h4 id="h2" class="b">機能糸マークについて</h4>
            <p>ジアスオリジナルのカーテン商品には、それぞれのカーテンで使用している機能糸を示すマークが付いています。</p>
            <div class="functionBoxWrap">

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'kinoushi-63.png' | file_url }}" alt="涼しや" loading="lazy" width="{{ images["kinoushi-63.png"].width }}" height="{{ images["kinoushi-63.png"].height }}" /></div>
                <h5 class="functionBox-title">涼しや</h5>
                <p class="functionBox-desc">オールシーズン快適な温度を保ち、気になる紫外線もカットします。</p>
              </div>

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--l"><img src="{{ 'kinoushi-64.png' | file_url }}" alt="ウェーブロン" loading="lazy" width="{{ images["kinoushi-64.png"].width }}" height="{{ images["kinoushi-64.png"].height }}" /></div>
                <h5 class="functionBox-title">ウェーブロン</h5>
                <p class="functionBox-desc">気になる紫外線や外部からの視線をカット。室内に明るい光を採り入れます。</p>
              </div>

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'kinoushi-65.png' | file_url }}" alt="エコフット" loading="lazy" width="{{ images["kinoushi-65.png"].width }}" height="{{ images["kinoushi-65.png"].height }}" /></div>
                <h5 class="functionBox-title">エコフット</h5>
                <p class="functionBox-desc">ちぢれのある繊維が花粉やほこりの侵入を抑えます。</p>
              </div>

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--l"><img src="{{ 'kinoushi-66.png' | file_url }}" alt="ミューファン" loading="lazy" width="{{ images["kinoushi-66.png"].width }}" height="{{ images["kinoushi-66.png"].height }}" /></div>
                <h5 class="functionBox-title">ミューファン</h5>
                <p class="functionBox-desc">銀の抗菌力でいやな臭いの発生を抑えます。</p>
              </div>

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'kinoushi-67.png' | file_url }}" alt="ひやっせ" loading="lazy" width="{{ images["kinoushi-67.png"].width }}" height="{{ images["kinoushi-67.png"].height }}" /></div>
                <h5 class="functionBox-title">ひやっせ</h5>
                <p class="functionBox-desc">太陽の紫外線を反射し、室内温度上昇を抑えます。</p>
              </div>

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--l"><img src="{{ 'superEX.png' | file_url }}" alt="スーパーエクスター" loading="lazy" width="{{ images["superEX.png"].width }}" height="{{ images["superEX.png"].height }}" /></div>
                <h5 class="functionBox-title">スーパーエクスター</h5>
                <p class="functionBox-desc">燃えにくく、暮らしを守る難燃素材です。</p>
              </div>

            </div>

            <h4 id="h3" class="b">加工マークについて</h4>
            <p>ジアスオリジナルのカーテン商品には、それぞれのカーテンで施している加工を示すマークが付いています。</p>
            <div class="functionBoxWrap">

              <div class="functionBox functionBox--1">
                <div class="functionBox-thumb functionBox-thumb--m"><img src="{{ 'mark-39.png' | file_url }}" alt="コーキンマスター" loading="lazy" width="{{ images["mark-39.png"].width }}" height="{{ images["mark-39.png"].height }}" /></div>
                <h5 class="functionBox-title">コーキンマスター</h5>
                <p class="functionBox-desc">有機・無機の特殊複合技術によって開発された抗菌・防カビ剤「コーキンマスター® 」は、優れた抗菌・防臭・防カビ効果を発揮します。</p>
              </div>

            </div>

            <h4 id="h4" class="b">スタイルマークについて</h4>
            <p>ジアスオリジナルのカーテン商品には、それぞれのカーテンで縫製が可能なスタイルを示すマークが付いています。</p>
            <div class="functionBoxWrap">

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-40.png' | file_url }}" alt="フラットカーテン" loading="lazy" width="{{ images["mark-40.png"].width }}" height="{{ images["mark-40.png"].height }}" /></div>
                <h5 class="functionBox-title">フラットカーテン</h5>
                <p class="functionBox-desc">ヒダが無く、完全にフラットな形状で、デザインを楽しむことのできるスタイルです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-41.png' | file_url }}" alt="ブレーンシェード" loading="lazy" width="{{ images["mark-41.png"].width }}" height="{{ images["mark-41.png"].height }}" /></div>
                <h5 class="functionBox-title">ブレーンシェード</h5>
                <p class="functionBox-desc">生地がナチュラルにたたみ上がるシンプルなスタイルです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-42.png' | file_url }}" alt="シャープシェード" loading="lazy" width="{{ images["mark-42.png"].width }}" height="{{ images["mark-42.png"].height }}" /></div>
                <h5 class="functionBox-title">シャープシェード</h5>
                <p class="functionBox-desc">生地が規則正しくたたみ上がるバーを使用したシャープなスタイルです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-43.png' | file_url }}" alt="ファンシェード" loading="lazy" width="{{ images["mark-43.png"].width }}" height="{{ images["mark-43.png"].height }}" /></div>
                <h5 class="functionBox-title">ファンシェード</h5>
                <p class="functionBox-desc">全部下ろしたときはシャープシェードのようで、上げると下部が扇のように変化する個性的なデザインです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-46.png' | file_url }}" alt="シェルシェード" loading="lazy" width="{{ images["mark-46.png"].width }}" height="{{ images["mark-46.png"].height }}" /></div>
                <h5 class="functionBox-title">シェルシェード</h5>
                <p class="functionBox-desc">裾にフリルを付け、引き上げると貝のように巻き上がるエレガントなスタイルです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-47.png' | file_url }}" alt="バルーンシェード" loading="lazy" width="{{ images["mark-47.png"].width }}" height="{{ images["mark-47.png"].height }}" /></div>
                <h5 class="functionBox-title">バルーンシェード</h5>
                <p class="functionBox-desc">引き上げると風船のような丸みのある裾のシルエットが美しくエレガントに演出するシェードです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-49.png' | file_url }}" alt="マノワール" loading="lazy" width="{{ images["mark-49.png"].width }}" height="{{ images["mark-49.png"].height }}" /></div>
                <h5 class="functionBox-title">マノワール</h5>
                <p class="functionBox-desc">好きな位置で開閉コントロール出来るシェードメカを使用したクロスオーバータイプのスタイルです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-50.png' | file_url }}" alt="センタークロス" loading="lazy" width="{{ images["mark-50.png"].width }}" height="{{ images["mark-50.png"].height }}" /></div>
                <h5 class="functionBox-title">センタークロス</h5>
                <p class="functionBox-desc">2枚のカーテンをセンターで止めセットアップした開閉可能なカーテンです。アクセントのフリルで演出を高めます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-51.png' | file_url }}" alt="クロスオーバー" loading="lazy" width="{{ images["mark-51.png"].width }}" height="{{ images["mark-51.png"].height }}" /></div>
                <h5 class="functionBox-title">クロスオーバー</h5>
                <p class="functionBox-desc">カーテンの上部を交差させて縫いつけたエレガントなスタイルです。1枚仕立てなので左右に開閉は出来ません。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-52.png' | file_url }}" alt="セパレーツ" loading="lazy" width="{{ images["mark-52.png"].width }}" height="{{ images["mark-52.png"].height }}" /></div>
                <h5 class="functionBox-title">セパレーツ</h5>
                <p class="functionBox-desc">主に出窓や小窓向けの開閉しない装飾性の高いスタイルです。かわいらしい窓辺を演出します。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-53.png' | file_url }}" alt="ボトムウェーブ" loading="lazy" width="{{ images["mark-53.png"].width }}" height="{{ images["mark-53.png"].height }}" /></div>
                <h5 class="functionBox-title">ボトムウェーブ</h5>
                <p class="functionBox-desc">裾部分がゴージャスで華やかなスタイルです。手でカーテンの裾部分に付いてくるフックをたくし上げ、自由に高さを調節できます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-54.png' | file_url }}" alt="ハトメ" loading="lazy" width="{{ images["mark-54.png"].width }}" height="{{ images["mark-54.png"].height }}" /></div>
                <h5 class="functionBox-title">ハトメ</h5>
                <p class="functionBox-desc">ヒダを作らず、ゆったりとしたドレープ感を演出し、シンプルでモダンな印象をもたらすスタイル です。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-55.png' | file_url }}" alt="スカラップ" loading="lazy" width="{{ images["mark-55.png"].width }}" height="{{ images["mark-55.png"].height }}" /></div>
                <h5 class="functionBox-title">スカラップ</h5>
                <p class="functionBox-desc">レースカーテンの裾をゆるやかにウェーブさせたスタイルです。R型・M型・S型・F型・W型の5タイプがあります。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-56.png' | file_url }}" alt="ボンディングバランス" loading="lazy" width="{{ images["mark-56.png"].width }}" height="{{ images["mark-56.png"].height }}" /></div>
                <h5 class="functionBox-title">ボンディングバランス</h5>
                <p class="functionBox-desc">プレーンで芯地の入っている形の崩れないバランスです。フリンジ等の縫付けもできます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-57.png' | file_url }}" alt="バランススタンダード（3ツ山・箱ヒダ）" loading="lazy" width="{{ images["mark-57.png"].width }}" height="{{ images["mark-57.png"].height }}" /></div>
                <h5 class="functionBox-title">バランススタンダード（3ツ山・箱ヒダ）</h5>
                <p class="functionBox-desc">上部を3つ山、箱ヒダでつまんだバランスです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-58.png' | file_url }}" alt="バランススタンダード（ギャザーヒダ）" loading="lazy" width="{{ images["mark-58.png"].width }}" height="{{ images["mark-58.png"].height }}" /></div>
                <h5 class="functionBox-title">バランススタンダード（ギャザーヒダ）</h5>
                <p class="functionBox-desc">上部をギャザーテープでよせたボリュームのあるバランスです。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-59.png' | file_url }}" alt="スワッグバランス" loading="lazy" width="{{ images["mark-59.png"].width }}" height="{{ images["mark-59.png"].height }}" /></div>
                <h5 class="functionBox-title">スワッグバランス</h5>
                <p class="functionBox-desc">高級感のある壁飾りのようにスワッグを作り、サイドテールをあしらっています。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-60.png' | file_url }}" alt="マルチカバー" loading="lazy" width="{{ images["mark-60.png"].width }}" height="{{ images["mark-60.png"].height }}" /></div>
                <h5 class="functionBox-title">マルチカバー</h5>
                <p class="functionBox-desc">ソファーカバーやテーブルクロスで手軽にドレスアップ。インテリアと合わせたトータルイメージを演出できます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-61.png' | file_url }}" alt="クッション・クッションカバー" loading="lazy" width="{{ images["mark-61.png"].width }}" height="{{ images["mark-61.png"].height }}" /></div>
                <h5 class="functionBox-title">クッション・クッションカバー</h5>
                <p class="functionBox-desc">プレーン、パイピング、フリル等の様々な仕様でサイズも自由に製作できます。</p>
              </div>

              <div class="functionBox">
                <div class="functionBox-thumb"><img src="{{ 'mark-62.png' | file_url }}" alt="ベッドスプレッド" loading="lazy" width="{{ images["mark-62.png"].width }}" height="{{ images["mark-62.png"].height }}" /></div>
                <h5 class="functionBox-title">ベッドスプレッド</h5>
                <p class="functionBox-desc">3種類から選べます。プレーンはマルチタイプ。ボックス、フリルはベッドサイズに合わせたタイプです。</p>
              </div>

            </div>
          </div>
        </section>

        <section id="product05" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">各種ラベルのご説明</h2>
          <div class="guideBox-body js_accordion_body">

            <ul class="product_label">
              <li>保証付</li>
              <li>メーカー保証付</li>
            </ul>
            <p>「保証付」「メーカー保証付」の各ラベルは、それぞれ保証対象商品について示しています。<br />商品詳細ページ上部にラベルがございますのでそちらをご確認ください。</p>
            <p>保証期間は各商品ページに明記しております。<br />保証内容など、詳細はご利用ガイド内<a href="#product06">「保証・修理について」</a>をご確認ください。</p>
            <p>保証の対象になるか不明な場合は、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお気軽にご連絡ください。</p>
            <p>一部保証対象外商品もございます。「保証付」または「メーカー保証付」ラベルが表示されているかご確認ください。</p>

            <hr>

            <ul class="product_label">
              <li>保証付</li>
            </ul>
            <p>保証対象商品のうち、当サイトを運営している「株式会社ジアス」が保証する商品です。<br />商品詳細ページ上部に「保証付」ラベルがございますのでそちらをご確認ください。</p>

            <hr>

            <ul class="product_label">
              <li>メーカー保証付</li>
            </ul>
            <p>保証対象商品のうち、メーカーが独自で保証する商品です。<br />商品詳細ページ上部に「メーカー保証付」ラベルがございますのでそちらをご確認ください。</p>

            <hr class="thick">

            <ul class="product_label">
              <li>組立品</li>
              <li>簡単組立品</li>
              <li>完成品</li>
            </ul>
            <p>上記の各ラベルについては、それぞれお届け時の商品の状態を示しております。</p>

            <hr>

            <ul class="product_label">
              <li>組立品</li>
            </ul>
            <p>こちらのラベル表示がある商品は、お客様ご自身による組み立てが必要な商品です（※1）。付属の工具（※2）、ねじを使用する組立が必要となります。工程が数段階あり、完成には相応のお時間がかかります。</p>
            <ul class="nodisc">
              <li>例 : テーブルの天板と脚部の取付。</li>
              <li>　 : フレームを組み上げ、その上に座面を固定するタイプのソファ。</li>
            </ul>
            <ol class="nodisc">
              <li>※1 「開梱設置配送」にてお届けする商品は、配送会社の配達員により家具の組立てから設置までを行い、梱包材もお持ち帰りいたします。</li>
              <li>※2 ドライバー等の工具が必要になる商品もございます。</li>
            </ol>

            <hr>

            <ul class="product_label">
              <li>簡単組立品</li>
            </ul>
            <p>こちらのラベル表示がある商品は、お客様ご自身による簡単な組み立てが必要な商品です（※1）。工具やねじを使用しない商品です。簡単な作業ですが完成には相応のお時間がかかる場合もあります。</p>
            <ul class="nodisc">
              <li>例 : ユニットパーツを組み合わせる必要のある照明</li>
              <li>　 : フレームを組み上げ、その上に座面を固定するタイプのソファ。</li>
            </ul>
            <ol class="nodisc">
              <li>※1 「開梱・設置配送」をご利用の場合、配送会社の配達員により家具の組立てから設置までを行い、梱包材も持ち帰りいたします。</li>
            </ol>

            <hr>

            <ul class="product_label">
              <li>完成品</li>
            </ul>
            <p>こちらのラベル表示がある商品は、完成した状態でお届けいたします。</p>
            <p>完成した状態とは、基本的にはお客様が手を加える必要のない完成品であることを指しますが、一部商品においては取っ手や棚板など細かなパーツの取り付け等が必要になる場合もございます。</p>

            <hr class="thick">

            <ul class="product_label">
              <li>引掛けシーリング対応</li>
              <li>簡易取付型</li>
              <li>要電気工事</li>
            </ul>
            <p>「引掛けシーリング対応」「簡易取付型」「要電気工事」の各ラベルは、それぞれ天井照明の取り付け方について示しています。</p>
            <p>ペンダントライトやシャンデリア、シーリングライトなど天井に取り付ける照明器具には、天井に簡単に取り付けできる引掛けシーリング対応タイプ・簡易取付型タイプと、電気工事が必要なタイプがあります。ご購入前に以下をご確認ください。</p>

            <hr>

            <ul class="product_label">
              <li>引掛けシーリング対応</li>
            </ul>
            <p>こちらのラベル表示がある天井照明は、設置される予定のお部屋の天井に引掛けシーリングまたは耳付引掛埋込ローゼットがある場合にお取り付けができます。</p>
            <p>天井に引掛けシーリングや耳付引掛埋込ローゼットがあれば、器具側の部品を部品の溝に沿ってカチッと音がするまで右に回してください。取り付け工程はこれだけです。ドライバー等の工具は要りません。<br />取り外しの際はロック解除ボタンを押しながら回してください。<br />高いところでの作業ですので、お取り付けには十分にご注意ください。</p>

            <hr>

            <ul class="product_label">
              <li>簡易取付型</li>
            </ul>
            <p>こちらのラベル表示がある天井照明は、電気工事は要りませんが、少し重い器具の場合、器具の重さを支えるために同梱の補助金具（スタット）が必要になります。ドライバー1本あれば作業可能です。</p>
            <p>天井についている部品が「引掛けシーリング」の場合、スタットを天井に直接ビスで留める必要がありますので、お近くの電気工事店へご相談ください。</p>
            <p>重量があり、高いところでの作業になりますので、大人お二人以上での作業をおすすめいたします。<br />お取り付けには十分にご注意ください。</p>

            <hr>

            <ul class="product_label">
              <li>要電気工事</li>
            </ul>
            <p>こちらのラベル表示がある天井照明は、取り付けの際に電気工事が必要です。<br />この工事では天井から電源線を出し、器具に直接結線します。この作業は電気工事士の免許をお持ちの方でないと行うことができません。お近くの電気工事店や工務店、リフォーム店などへご相談ください。<br />費用は設置場所の状況、地域、業者により異なります。</p>
            <p>設置地域や商品によっては手配ができかねる場合もございます。</p>

          </div>
        </section>

        <section id="product06" class="guideBox js_accordion_wrap">
          <h2 class="guideBox-heading js_accordion_btn">保証・修理について</h2>
          <div class="guideBox-body js_accordion_body">
            <p>JIAS ONLINEではご購入いただいた商品によって、2種類の保証がございます。</p>

            <h3>オリジナル商品</h3>
            <p>当ストアを運営している株式会社ジアスがオリジナルで販売している商品については、以下の保証がございます。</p>
            <div class="indent">
              <h4 class="b">カーテンおよびその他縫製商品</h4>
              <ol>
                <li>無償修理規定<br />
                  <p>【納品日より1年間】<br />万一商品の縫製において、「ほつれ」「縫製不具合」が生じた場合には、無償にて修繕いたします。</p>
                  <p>【納品日より1週間】<br />商品に汚れやキズがあった場合は、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>にご連絡ください。<br />これを過ぎてからの汚れやキズに関しては、保証の対象外となりますのでご了承ください。</p>
                  <ul class="nodisc">
                    <li>※商品納品後、1週間以内に一度不具合がないかお客様ご自身で必ずご確認ください。</li>
                  </ul>
                  <br>
                </li>
                <li>有償修理規定<br />
                  <ol class="nodisc">
                    <li>⑴使用上の誤り、および不当な修理等による損傷
                      <p>例：カーテンに不当な重量がかかった場合<br />お客様ご自身によるお直し、損傷、汚れ 等<br />誤った洗濯方法による損傷 等<br />家具、その他干渉物における損傷 等</p>
                    </li>
                    <li>⑵火災・地震・風水害その他の天災地変などの外部に原因のある損傷
                      <ul class="nodisc">
                        <li>※保証内容は、カーテンおよびその他縫製商品に限らせていただきます。</li>
                      </ul>
                      <ul class="nodisc">
                        <li>・無償規定外の修繕につきましては、お客様ご自身でクリーニング後、有償にてご対応させて頂きます。</li>
                        <li>・保証期間経過後や無償修理保証規定外の場合であっても、気になる点がございましたらお気軽にご相談ください。</li>
                      </ul>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
            <h3>メーカー商品</h3>
            <p>JIAS ONLINE ではご購入いただいた家具・照明に関しまして、一部のメーカー保証付の商品がございます。<br />
            保証内容は、全てメーカー保証書の内容に準拠した対応となります。メーカー保証書への販売店印の押印は省略させていただいております。<br />保証書が同梱されている商品の場合は、メーカー保証書を一緒に大切に保管してください。保証対象商品には商品詳細ページに上記の「メーカー保証付」ラベルがございますのでそちらをご確認ください。<br />
            保証期間満了後や保証対象外の有償修理などにつきましては、内容により適宜対応させていただきますので、どうぞお気軽にご相談ください。</p>
            <h3>【保証内容】</h3>
            <p>保証期間内において、取扱説明書等に従った正常なご使用方法によって自然発生した故障または破損につきましては、メーカー保証に準拠した内容にて修理、部品交換または商品交換をさせていただきます。</p>
            <ul class="memo">
              <li>一般家庭以外において、業務用として使用したことによる故障および損傷は保証の対象外となります。あらかじめご了承ください。</li>
            </ul>
            <h3>【保証期間】</h3>
            <p>保証期間は、商品詳細ページに商品ごとに記載しております。</p>
            <h3>【保証対象】</h3>
            <p>商品自体の物的な故障・損傷のみが対象となります。<br />床や壁などの商品以外のものの損傷や、人や動物の身体の怪我、精神的損害等の付属的損害につきましては保証の対象外です。また、日焼けによる変色やヘタリ、生地や中材の劣化、使用に伴う傷や汚れ、電球や電池などの消耗品、その他経年による自然な劣化なども保証の対象となりません。</p>
            <p>保証期間内でも、以下の場合には有償での修理となります。</p>
            <ul>
              <li>お届け後の輸送・移動・落下・衝撃・加圧・水濡れ等により、または管理・保管上の不備により生じた故障および損傷</li>
              <li>火災、地震、風水害、落雷、塩害、ガス害、虫害、その他の天災地変などによって生じた故障および損傷</li>
              <li>一般家庭以外（業務用など）で使用したことによる故障および損傷</li>
              <li>日本国外において使用された場合</li>
              <li>お客様のご依頼により故障でない箇所の部品等を交換する場合</li>
              <li>お買い上げの商品が、使用後に有償無償を問わず譲渡されたもの（中古品）であった場合</li>
              <li>商品を、故意に変造・改造・加工された場合</li>
              <li>弊社以外での修理や改造等による故障および損傷</li>
              <li>メーカー保証書およびご購入日のご提示が無い場合</li>
            </ul>
            <h3>【保証・修理対象メーカー一覧】</h3>
            <ul>
              <li>エスティック</li>
              <li>飛騨産業</li>
              <li>BRIAN KIRK</li>
              <li>Core One</li>
              <li>CUERO</li>
              <li>DARO</li>
              <li>david trubridge</li>
              <li>DCW editions</li>
              <li>eva solo</li>
              <li>FABAS</li>
              <li>forestier</li>
              <li>graypants</li>
              <li>Herman Miller</li>
              <li>KUNDALINI</li>
              <li>LE KLINT</li>
              <li>MADE BY HAND</li>
              <li>NEW WORKS</li>
              <li>NOFU</li>
              <li>NORRMADE</li>
              <li>ORIGINAL BTC ENGLAND</li>
              <li>Piet Hein</li>
              <li>Resident</li>
              <li>SHOWROOM FINLAND</li>
              <li>Tom Dixon</li>
              <li>TATO</li>
              <li>Tom Rossau</li>
              <li>Werner</li>
              <li>Zafferano</li>
            </ul>
            <p>商品の修理のお問い合せは、<a href="/pages/contact" target="_blank">「お問い合わせフォーム」</a>よりお問い合わせください。<br />お問い合わせ内容により、回答までにお時間を頂く場合がございます。あらかじめご了承ください。</p>
            <h3>【その他注意事項】</h3>
            <p>保証内容は、全てメーカー保証書の内容に準拠した対応となります。<br />メーカー保証を受ける場合、メーカー発行の保証書が必要になります。大切に保管していただくようお願いいたします。<br />
            損傷個所の確認のため、当該個所をデジタルカメラなどで撮影していただき、画像を添付してメールにて送信していただく場合がございます。<br />交換商品が在庫切れの場合は、入荷後の交換となります。また、廃番により生産終了となった商品につきましては、同等商品との交換となる場合がございます。<br />商品のデザイン等に関しましては予告なく変更される場合がございます。<br />修理・交換の際、外見の違う代替品を使用させていただくこともありますのでご了承ください。<br />状況により、運賃や出張修理が必要な場合の諸経費をお客様にご負担していただく場合がございます。<br />保証内容は日本国内においてのみ有効です。<br />ご不明な点は弊社までお問い合わせください。</p>
          </div>
        </section>
      </main>
    </div>
    {% render 'page-guide-contact' %}
  </div>
</article>
