{% comment %}
記事LP 顕在層(manifestation)
{% endcomment %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP&family=Noto+Serif:wght@300&display=swap" rel="stylesheet">
	<!-- content -->
	<div class="header__bg_m">
    
		<div class="header__bg_inner">
			<img src="{{ 'wf_hero_bg_sp_2.png' | asset_url }}" alt="" class="header__bg_img_m">
			<img src="{{ 'wf_hero_bg_pc_2.png' | asset_url }}" alt="" class="header__bg_img_pc_m">
		</div>
		<img src="{{ 'wf_hero_txt_sp_2.png' | asset_url }}" alt="" class="header__bg_spImg_m">
		<div class="header__scrldown_m"><span class="header__scrldown_txt_m">SCROLL</span></div>
		<div class="header__fixed">
			<img src="{{ 'wf_logo_jias.png' | asset_url }}" alt="JIAS" class="header__bg_logo">
			<a href="https://liff.line.me/2000119754-yYYQm26A/landing?follow=%40461fdjxg&lp=t5xMUP&liff_id=2000119754-yYYQm26A" class="header__btn_line line_header line_coupon"><img src="{{ 'wf_btn_line.png' | asset_url }}" alt="LINEで相談" class="header__btn_img"></a>
			<a href="https://www.jias.co.jp/contact?utm_source=wflp&utm_medium=manifestation_inquiry" class="header__btn_mail contact_header" target="_blank"><img src="{{ 'wf_btn_mail.png' | asset_url }}" alt="お問い合わせ" class="header__btn_img"></a>
		</div>
		<div class="header__line_left_m">JIAS<span class="header__line_left_line_m"></span>ORDER CURTAIN</div>
		<div class="header__scrldown_m">
			<span class="header__scrldown_txt_m">SCROLL</span>
			<span class="header__scrldown_icon_m"></span>
		</div>
	</div>
	<article>
		<div class="container">
			<div class="aboutus">
				<div class="inner">
					<section>
						<div class="section__inner flex">
							<img src="{{ 'wf_thumb_aboutus.png' | asset_url }}" alt="" class="aboutus__img">
							<div class="aboutus__txt">
								<h1 class="aboutus__ttl">ジアスなら、<br>そのお悩みを解決します。</h1>
								<p class="std_txt">ジアスは1987年、小さな繊維工場からスタートしました。<br class="br_pc">カーテンのご提案採寸・縫製・取付けまで自社一貫で行っております。<br class="br_pc">オーダーカーテンのことは私たちジアスにお任せください。</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="exp">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="exp__ttl">本当にあったカーテン選びの<span class="exp__ttl_blue">失敗談</span></h2>
							<div class="exp__container">
								<div class="ext__contents">
									<h3 class="ext__contentsTtl"><span class="ext__contentsTtl_blk">30代主婦Aさんの事例</span>部屋全体がダサくなった原因とは</h3>
									<p class="std_txt">引っ越しの際に、家具を選ぶのに精一杯でカーテンを後回しにしてしまいました。<br>時間もなかったので自分で測ってオーダーしたのですが、サイズを間違えてしまって。<br>それに全体のコーディネートでみたら部屋の雰囲気に全然合わなかったんですよね。<br>せっかく家具にこだわったのに、部屋全体が正直ダサいな・・・と落胆してしまいました。<br>すでに手遅れですが、<span class="bold_red">カーテンは部屋の中でも圧倒的に「目立つ存在」</span>だと痛感しました。安い買い物ではないので、一生モノのカーテンをしっかり選べば良かったなと今は後悔しています。</p>
								</div>
								<div class="ext__contents">
									<h3 class="ext__contentsTtl_2"><span class="ext__contentsTtl_blk">40代男性Bさんの事例</span>仕事のパフォーマンスに大影響</h3>
  									<p class="std_txt">新築で家を建てました。妻の意見を尊重し内装や家具をコーディネート。<br>カーテンも家具の雰囲気に合わせ、デザイン重視でオーダーしたのですが、<span class="bold_red">見た目だけで選んだのが失敗</span>でした。<br>自宅での仕事場に光が入りすぎて、<span class="bold_red">夏は暑いし、日中は眩しくて全然集中出来ない</span>んです・・・<br>後々、同僚が引っ越しの際に、カーテンにこだわったという話を聞いて、デザインだけではなくて、遮光性にもこだわったカーテンを買えばもっと良かったと後悔しました。<br>しかも、カーテンって、温度調整もできて光熱費の節約にも繋がるらしいのでもっとしっかり選ぶべきでした。</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="ordermade">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="ordermade__ttl"><img src="{{ 'wf_ttl_ordermade.png' | asset_url }}" alt="カーテン選びで失敗しないために" class="ordermade__ttlImg"></h2>
							<div class="btn__line">
								<a href="https://liff.line.me/2000119754-yYYQm26A/landing?follow=%40461fdjxg&lp=BFueJf&liff_id=2000119754-yYYQm26A" class="btn__lineLink line_simulation line_scary_ex">LINEで今すぐ<span class="btn__lineLink_ylw">オーダーメイド<br>シミュレーション</span>を体験する</a>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="select" id="importance">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="select__ttl">
								<span class="ttl__inline">カーテン選びの重要性</span>
							</h2>
							<div class="row">
								<img src="{{ 'wf_thumb_select01.png' | asset_url }}" alt="カーテン　インテリア" class="select__img">
								<div class="row__txtBox">
									<p class="std_txt">お部屋の印象に大きく関わるインテリアアイテム。それはカーテンです。<span class="bold_red">人の無意識的視野は、左右に110度、上下に55度といわれています。</span>一般的な住宅では部屋に入った対面の壁面であり、実はその視野に窓があることが多いのです。<span class="bold_red">無意識のうちに目に入るその窓のウィンドートリートメントは第一印象として認知され、記憶に残ります。</span>「第一印象が大事」とはよく言われますよね。インテリアにおいてはカーテンがその役割を担うことが多いのです。</p>
								</div>
							</div>
							<div class="row">
								<img src="{{ 'wf_thumb_select02.png' | asset_url }}" alt="カーテン　機能" class="select__img">
								<div class="row__txtBox">
									<p class="std_txt">カーテンは色や柄、縫製仕様によって、多彩な表現が可能です。また素材や透け感などで雰囲気も変わってきます。面積が大きく、空間の質をも左右するアイテムだからこそ、こだわってしつらえたいインテリアアイテムではないでしょうか。また、<span class="bold_red">カーテンは見た目だけでなく、光熱費コストを削減できる機能的な面も。</span>夏は日光を遮って部屋の温度をコントロールし、冬は保温効果を高めます。UVカット効果のあるカーテンを選べば家具やカーペットの色褪せ、劣化を防ぐこともできるのです。</p>
								</div>
							</div>
							<div class="row">
								<img src="{{ 'wf_thumb_select03.png' | asset_url }}" alt="カーテン　オーダーカーテン" class="select__img">
								<div class="row__txtBox">
									<p class="std_txt">機能的にも意匠的にも選択肢が多いカーテン。それが故に迷いも生じやすいアイテムでもあります。それぞれの窓に合わせて仕立て上げたオーダーカーテンは、佇まいが美しく、生活の質を高めてくれるでしょう。是非プロに相談し、納得のいく一枚を選んでください。</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="inst" id="instagram">
				<div class="inner ">
					<section>
						<div class="section__inner">
							<h2 class="inst__ttl">
								<span class="ttl__inline">Instagramでの影響</span>
							</h2>
							<div class="container__flex_inst">
								<div class="container__inst">
									<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CwH6vsZv9uo/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CwH6vsZv9uo/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">この投稿をInstagramで見る</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CwH6vsZv9uo/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">ちょこHOME ￤ HSPの細かすぎるこだわり🏠(@_chokohome)がシェアした投稿</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
								</div>
								<div class="container__inst">
									<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CyBB5xGvGKS/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/CyBB5xGvGKS/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">この投稿をInstagramで見る</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/CyBB5xGvGKS/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">みんなの家づくりタウン｜マイホーム・間取り・収納(@iedukuri_town)がシェアした投稿</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
								</div>
							</div>
							<div class="btn__inst">
								<a href="https://www.instagram.com/explore/tags/%E3%82%B8%E3%82%A2%E3%82%B9/" class="btn__instLink"><span class="btn__instLink_top">Instagram</span>「#ジアス」について一覧を見る</a>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="effect" id="effect">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="effect__ttl">
								<span class="ttl__inline">カーテンによる効果</span>
							</h2>
							<div class="effect_row">
								<h3 class="effect__contentsTtl">こども部屋のカーテンは無地のものがいい？</h3>
								<p class="std_txt">色んなお部屋のカーテンの中でも悩ましいのが「子ども部屋」。<br class="br_pc">自分で選ばせたほうがをいいのかな、かわいくしてあげたいな、でも長く使うことを考えたら、、、と悩んでしまったときに参考にしていただきたいのがコチラ。<br class="br_pc"><span class="bold_red">「具象柄ではなく、先染めの無地調を選びましょう！」</span><br class="br_pc">多色でありながら遠目には無地にみえる先染め生地。子ども達は、たとえばブルーならそこから海を想像したり、空を想像したり、そして更にはパイロットになる夢をみたり。先染め生地の多色が想像力を育ませ、情操に良いといわれています。</p>
							</div>
							<div class="effect_row">
								<h3 class="effect__contentsTtl">タイムパフォーマンスにもカーテンが影響する</h3>
								<p class="std_txt"><span class="bold_red">カーテンは私たちの睡眠の質に大きな影響を及ぼします。</span><br class="br_pc">体内時計のリズムは、日中の明るさに反応して活動、暗くなると睡眠を促します。<br class="br_pc">実際に睡眠中に光が入りすぎると、睡眠リズムを崩してしまい、仕事の集中力と効率の向上に直結。<br class="br_pc">また、部屋の温度を適切に保てず、光熱費にも影響を及ぼすため、部屋の間取りを確認し適切なカーテンを設置することが重要になります。<br class="br_pc">特に天高がある家は温度調整が難しいため、遮光カーテンや窓にあったサイズのカーテンを選定することが重要です。<br class="br_pc">カーテンは単にインテリアとしてだけではなく、機能的な工夫をすることで快適な空間を作ることができます。</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="ordermade ordermade2">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="ordermade__ttl"><img src="{{ 'wf_ttl_ordermade02.png' | asset_url }}" alt="自分にあったカーテンがわかる" class="ordermade__ttlImg"></h2>
							<div class="btn__line">
								<a href="https://liff.line.me/2000119754-yYYQm26A/landing?follow=%40461fdjxg&lp=BFueJf&liff_id=2000119754-yYYQm26A" class="btn__lineLink line_simulation line_curtain_effect">LINEで今すぐ<span class="btn__lineLink_ylw">オーダーメイド<br>シミュレーション</span>を体験する</a>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="his" id="about">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="his__ttl">
								<span class="ttl__inline">ジアスはもともと小さな縫製工場から<br class="br_sp">スタートした会社です。</span>
							</h2>
							<p class="std_txt his__txt">『まずは確実な技術をもってお客様のご要望にお応えしたい』わたしたちジアスは、1987年（昭和62年）、小さな縫製工場から地道に技術の向上を目指してきました。<br class="br_pc"><b>自社で縫製から工事部を保有しているからこそ、受注から取り付けまで最短1週間で対応することを可能</b>にしました。</p>
							<div class="row">
								<img src="{{ 'wf_thumb_his01.png' | asset_url }}" alt="受注から受付まで最短一週間" class="select__img">
								<div class="row__txtBox">
									<h3 class="his__contentsTtl">ジアスの技術だからできること</h3>
									<p class="std_txt">現代の多種多様の窓に合わせて、ぴったり合うカーテンを5mm単位で調整して製法することができます。既製品のように生産性を最優先にしないからこそ、使用する糸の自由度の高さやクオリティを追求することができます。また、既製カーテンの寿命が4~5年と言われている中、<b>品質に拘ったオーダーカーテンは寿命が約2倍の10年以上</b>とも言われております。</p>
								</div>
							</div>
							<div class="row">
								<img src="{{ 'wf_thumb_his02.png' | asset_url }}" alt="満足いくカーテンをゼロから相談できる環境" class="select__img select__img_left">
								<div class="row__txtBox">
									<h3 class="his__contentsTtl">私たちの強み</h3>
									<p class="std_txt">わたしたちは関東近郊に13店舗のショールームをご用意しております。店内にて200種類を超えるオリジナルファブリックから実際に素材や質感を手にとって試すことができます。カーテンは生地選びだけではなく、フックの種類、ヒダの取り方、サイズなど決める項目が多く、満足いくカーテンをゼロから相談できる環境がジアスにはあります。実際にショールームにご来店後、<b>打ち合わせをして頂いた方の87%が実際に購入</b>されております。また、施工を行う<b>工事部スタッフの約9割が職人歴10年以上のベテラン</b>です。スピーディー・正確・安心。そして「満足」をお客様へお届けいたします。</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="voice" id="user_voice">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="voice__ttl">
								<span class="ttl__inline">実際にジアスでオーダーカーテンを<br class="br_sp">購入された方の声です。</span>
							</h2>
							<div class="voice__box">
								<div class="voice_row">
									<img src="{{ 'wf_thumb_voice01.png' | asset_url }}" alt="M.T様 30代 新築" class="voice__img">
									<div class="row__txtBox">
										<h3 class="voice__contentsTtl">購入前に考えていたこと</h3>
										<p class="std_txt">注文住宅だったので、カーテンの色やサイズにこだわりたかった。</p>
										<h3 class="voice__contentsTtl">ジアススタッフの対応について</h3>
										<p class="std_txt">カーテンの色やカーテンレールなどは様々なタイプがあり、完成していない家のイメージから選択するのは大変でしたが、クロスの見本を見ながら、自分たちの好みに合わせて的確に提案いただきました。<br>洗えるタイプのカーテンも提案もいただき、この先長く使用する上で、選択できてよかったです。</p>
									</div>
								</div>
								<div class="voice__row_btm">
									<h3 class="voice__contentsTtl">購入した商品</h3>
									<p class="std_txt">オーダーカーテン（ドレープ・レース）</p>
									<h3 class="voice__contentsTtl">ジアスのオーダーカーテンにして良かったこと</h3>
									<p class="std_txt">家の内装やインテリアに合ったイメージ通りの色合いで、とてもよかったです。操作する紐の位置なども生活動線を考慮し、的確に提案いただいたのでデザインだけでなく、日常生活がスムーズに送れています。</p>
								</div>
							</div>
							<div class="voice__box">
								<div class="voice_row">
									<img src="{{ 'wf_thumb_voice02.png' | asset_url }}" alt="T.M様 30代 新築" class="voice__img">
									<div class="row__txtBox">
										<h3 class="voice__contentsTtl">購入前に考えていたこと</h3>
										<p class="std_txt">理想のお部屋のイメージはあったが、 検討する中で明確に決まっている商品と悩んでいる商品があったので提案を聞きたかった。 長く使える商品を妥協せず、良い商品を選びたかった。</p>
										<h3 class="voice__contentsTtl">ジアススタッフの対応について</h3>
										<p class="std_txt">納期で期間が短い中で 効率よく動いてくれた。豊富な種類から絞って提案してくれて、迷わず選ぶことができた。</p>
									</div>
								</div>
								<div class="voice__row_btm">
									<h3 class="voice__contentsTtl">購入した商品</h3>
									<p class="std_txt">シェード、ウッドブラインド、ダイニングテーブル、TVボード、ワークチェア<br>すべて気に入っている。 まとめて提案して頂いたので 統一感も出たのでよかった。 シェードもウッドブラインドも 良い意味で期待通りだった。</p>
									<h3 class="voice__contentsTtl">ジアスのオーダーカーテンにして良かったこと</h3>
									<p class="std_txt">シェードをつけたが、 生地の質感がとても良い。レースは光が入るけど、 外からの視線は防げている(遮像) 。ショールームにある商品の選択肢も多く、良いものが選べた。</p>
								</div>
							</div>
							<div class="voice__box">
								<div class="voice_row">
									<img src="{{ 'wf_thumb_voice03.png' | asset_url }}" alt="M.N様 40代 新築" class="voice__img">
									<div class="row__txtBox">
										<h3 class="voice__contentsTtl">購入前に考えていたこと</h3>
										<p class="std_txt">遮光ハニカムシェードはあったが、太陽の光を室内に取り入れたかった。カーテンや家具によってより自分たちが理想とするような空間作りができると思った。</p>
										<h3 class="voice__contentsTtl">ジアススタッフの対応について</h3>
										<p class="std_txt">短時間で私たちの理想とする空間作りを理解していただき、その上で的確な提案をしていただきました。商品の詳細な説明も分かりやすく伝えてくださり、尚且つ細かな要求についても気持ちよく対応してくださいました。</p>
									</div>
								</div>
								<div class="voice__row_btm">
									<h3 class="voice__contentsTtl">購入した商品</h3>
									<p class="std_txt">レースカーテン、リビングテーブル、和室座卓、スツール、リビング用ラグ、寝室用ラグ</p>
									<h3 class="voice__contentsTtl">ジアスのオーダーカーテンにして良かったこと</h3>
									<p class="std_txt">ハニカムシェードをあげた状態でも外からの視線などは気にならず、一気に理想の空間に近づくことができました。大大大満足です。</p>
								</div>
							</div>
							<div class="voice__box">
								<div class="voice_row">
									<img src="{{ 'wf_thumb_voice04.png' | asset_url }}" alt="M.F様 40代 掛け替え" class="voice__img">
									<div class="row__txtBox">
										<h3 class="voice__contentsTtl">購入前に考えていたこと</h3>
										<p class="std_txt">猫を飼い始めて1年、爪でレースカーテンを引っ掻くので、あちこち破れてしまっていました。当て布で応急処置をしていましたが、あまりに破れた箇所が多くなったので買い換えを検討。ジアスさんのカーテンが気に入っていたので、前回同様、ジアスさんにご相談したいなと考えました。</p>
										<h3 class="voice__contentsTtl">ジアススタッフの対応について</h3>
										<p class="std_txt">猫のことを話したら、ネコハピをご紹介いただきました。新商品とのことで、まさに時宜を得ていました！</p>
									</div>
								</div>
								<div class="voice__row_btm">
									<h3 class="voice__contentsTtl">購入した商品</h3>
									<p class="std_txt">ネコハピカーテン<br>柄が選べないのがちょっぴり残念でしたが、これなら猫が引っ掻いても破れない、ほつれが目立たないと、生地の特長を知って納得。</p>
									<h3 class="voice__contentsTtl">ジアスのオーダーカーテンにして良かったこと</h3>
									<p class="std_txt">猫がどんなにカーテンに飛びついても安心して見ていられます。引っ掻いた後のほつれも全く目立ちません。すっきりし印象で、どんな部屋にもマッチするのではないかと思います。ネコハピ、おすすめです！</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="line" id="line_benefits">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="line__ttl">
								<span class="ttl__inline">LINE登録特典</span>
							</h2>
							<div class="line__box">
								<a href="https://liff.line.me/2000119754-yYYQm26A/landing?follow=%40461fdjxg&lp=t5xMUP&liff_id=2000119754-yYYQm26A" class="banner__lineLink line_coupon line_benefits_coupon">
								<img src="{{ 'wf_banner_ben01.png' | asset_url }}" alt="LINEからのショールーム予約でジアスオンラインで使える3,000円クーポンを全員にプレゼント" class="banner__lineImg"></a>
								<a href="https://liff.line.me/2000119754-yYYQm26A/landing?follow=%40461fdjxg&lp=BFueJf&liff_id=2000119754-yYYQm26A" class="banner__lineLink line_simulation line_benefits_simulation">
								<img src="{{ 'wf_banner_ben02.png' | asset_url }}" alt="お部屋のイメージからあなたの理想のカーテンをかんたんシミュレーションします" class="banner__lineImg"></a>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="faq" id="faq">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="faq__ttl">
								<span class="ttl__inline">よくある質問</span>
							</h2>
                            <dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>金額はいくらぐらいしますか？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">1坪1.5万～戸建てのオーダーだと30万〜のご案内となります。</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>予約なしで店頭にいけますか？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">予約いただいたお客様の組数に合わせてスタッフを確保する為、また、打合せが入っていなくても会議や社内業務もある為、事前予約をお願いしています。</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>仕上がりまでのおおよその期間を教えて下さい<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">通常オーダーカーテンはご注文後、10日～2週間程度納期を頂いております。</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>カウンセリングにどのぐらいの時間がかかりますか？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">打合せ時間2H~2.5H（カーテンのみの場合） （家具や他商材もあると3時間以上かかることがあります）</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>カーテンの設置は無料ですか？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">施工費をいただいております。設置商品・設置場所・サイズによって異なりますが、戸建てだと20,000円前後頂戴しております。</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>何年ぐらい持ちますか？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">5～10年程度になります。（素材・商品タイプ・設置環境により異なります）</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>生地サンプルやカタログはありますか？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">ショールームにW700×H2250（店舗により異なる）吊サンプル・ハンガーサンプル（H＝1000または1200）・オリジナルカタログサンプル有ります カタログはWEB掲載有るが、店舗限定品も有ります。</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>支払い方法について教えてください<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">紹介型(ジアスとお客様の直接契約)の場合、振込みor現金orクレジットカード(一括)のお支払い 売掛型(ジアスと住宅メーカーや得意先の契約)の場合、住宅ローンの組込みなど</dd>
							</dl>
							<dl class="faq__list">
								<dt class="faq__listTtl"><span class="faq__list_icon"></span>採寸や現調は無料でできる？<span class="toggle_btn"></span></dt>
								<dd class="faq__listTxt std_txt">採寸を含む現調費（税込6,600円）をいただいております。</dd>
							</dl>
						</div>
					</section>
				</div>
			</div>
			<div class="shop" id="reservation">
				<div class="inner">
					<section>
						<div class="section__inner">
							<h2 class="shop__ttl">
								<span class="ttl__inline">まずは店舗でご相談ください</span>
							</h2>
							<div class="shop__row">
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show01.png' | asset_url }}" alt="ジアス 立川ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 立川ショールーム</dt>
										<dd class="shop__infoTxt">〒190-0014<br>東京都立川市緑町3-1 GREEN SPRINGS E1-5階</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/tachikawa?utm_source=wflp&utm_medium=manifestation_tachikawa" class="shop__reserveLink reserve_showroom_tachikawa">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show02.png' | asset_url }}" alt="ジアス 渋谷ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 渋谷ショールーム</dt>
										<dd class="shop__infoTxt">〒150-0002<br>東京都渋谷区渋谷3-27-11 祐真ビル新館1F</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/shibuya?utm_source=wflp&utm_medium=manifestation_shibuya" class="shop__reserveLink reserve_showroom_shibuya">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show03.png' | asset_url }}" alt="ジアス 千葉ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 千葉ショールーム</dt>
										<dd class="shop__infoTxt">〒263-0043<br>千葉市稲毛区小仲台7-16-4</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/chiba?utm_source=wflp&utm_medium=manifestation_chiba" class="shop__reserveLink reserve_showroom_chiba">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show04.png' | asset_url }}" alt="ジアス 横浜ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 横浜ショールーム</dt>
										<dd class="shop__infoTxt">〒220-0012<br>神奈川県横浜市西区みなとみらい3-7-1-14F</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/yokohama?utm_source=wflp&utm_medium=manifestation_yokohama" class="shop__reserveLink reserve_showroom_yokohama">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show05.png' | asset_url }}" alt="ジアス 大宮ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 大宮ショールーム</dt>
										<dd class="shop__infoTxt">〒331-0812<br>埼玉県さいたま市北区宮原町1-315</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/omiya?utm_source=wflp&utm_medium=manifestation_omiya" class="shop__reserveLink reserve_showroom_omiya">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show06.png' | asset_url }}" alt="ジアス 川口ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl shop__infoTtl_br">川口ショールーム<br>筑波産商ショールーム内3F</dt>
										<dd class="shop__infoTxt">〒332-0001<br>埼玉県川口市朝日4-9-20 筑波産商ショールーム内 3F</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/kawaguchi?utm_source=wflp&utm_medium=manifestation_kawaguchi" class="shop__reserveLink reserve_showroom_kawaguchi">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show07.png' | asset_url }}" alt="ジアス 名古屋ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 名古屋ショールーム</dt>
										<dd class="shop__infoTxt">〒461-0005<br>愛知県名古屋市東区東桜1-14-11 DPスクエア東桜1F</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/nagoya?utm_source=wflp&utm_medium=manifestation_nagoya" class="shop__reserveLink reserve_showroom_nagoya">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show08.png' | asset_url }}" alt="ジアス つくばショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス つくばショールーム</dt>
										<dd class="shop__infoTxt">〒305-0818<br>茨城県つくば市学園南1-3-6</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/tsukuba?utm_source=wflp&utm_medium=manifestation_tsukuba" class="shop__reserveLink reserve_showroom_tsukuba">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show09.png' | asset_url }}" alt="ジアス 水戸ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 水戸ショールーム</dt>
										<dd class="shop__infoTxt">〒310-0836<br>茨城県水戸市元吉田町1194−29</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/mito?utm_source=wflp&utm_medium=manifestation_mito" class="shop__reserveLink reserve_showroom_mito">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show10.png' | asset_url }}" alt="ジアス 高崎ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 高崎ショールーム</dt>
										<dd class="shop__infoTxt">〒370-0824<br>群馬県高崎市田町57-1太陽生命高崎ビル1F</dd>
									</dl>
									<div class="shop__reserve ">
										<a href="https://www.jias.co.jp/showroom/takasaki?utm_source=wflp&utm_medium=manifestation_takasaki" class="shop__reserveLink reserve_showroom_takasaki">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show11.png' | asset_url }}" alt="ジアス 伊勢崎ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">伊勢崎ショールーム</dt>
										<dd class="shop__infoTxt">〒379-2215<br>群馬県伊勢崎市赤堀今井町2- 1136-6</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/isesaki?utm_source=wflp&utm_medium=manifestation_isesaki" class="shop__reserveLink reserve_showroom_isesaki">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show12.png' | asset_url }}" alt="ジアス 宇都宮ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 宇都宮ショールーム</dt>
										<dd class="shop__infoTxt">〒321-0923<br>栃木県宇都宮市下栗町698-66</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/utsunomiya?utm_source=wflp&utm_medium=manifestation_utsunomiya" class="shop__reserveLink reserve_showroom_utsunomiya">店舗情報</a>
									</div>
								</div>
								<div class="shop__box">
									<img src="{{ 'wf_thumb_show13.png' | asset_url }}" alt="ジアス 小山ショールーム" class="shop__img">
									<dl class="shop__info">
										<dt class="shop__infoTtl">ジアス 小山ショールーム</dt>
										<dd class="shop__infoTxt">〒323-0829<br>栃木県小山市東城南2-40-10プルミエールサンコウ102</dd>
									</dl>
									<div class="shop__reserve">
										<a href="https://www.jias.co.jp/showroom/oyama?utm_source=wflp&utm_medium=manifestation_oyama" class="shop__reserveLink reserve_showroom_oyama">店舗情報</a>
									</div>
								</div>
							</div>
							<div class="btn__shop">
								<a href="https://www.jias.co.jp/showroom?utm_source=wflp&utm_medium=manifestation" class="btn__shopLink reserve_showroom_pc"><span class="btn__shopLink_icon"></span>お近くのJIASショールームを探す</a>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</article>
	<div class="footer">
		<div class="inner">
			<div class="footer__area">
				<p class="copyright">© JIAS</p>
				<ul class="footer__items">
					<li class="footer__item"><a href="https://www.jias.co.jp/privacy" class="footer__itemLink">個人情報保護方針</a></li>
					<li class="footer__item"><a href="https://www.jias.co.jp/corporate" class="footer__itemLink">企業情報</a></li>
					<li class="footer__item"><a href="https://www.jias.co.jp/recruit" class="footer__itemLink">リクルート</a></li>
				</ul>
			</div>
		</div>
	</div>
{% stylesheet %}
@charset "UTF-8";
/*----------------- reset -----------------*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a,
img,
label,
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
p,
blockquote,
hr,
th,
td,
button,
textarea,
select,
option,
header,
footer,
section,
nav {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

select {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  font-size: 11px;
  vertical-align: bottom; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  border: none; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal;
  outline: none;
  -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

*:focus {
  outline: none; }

/*# sourceMappingURL=reset.css.map */

#shopify-section-static-header {
	display: none;
}
#shopify-section-static-announcement {
	display: none;
}
#hs-eu-cookie-confirmation {
	display: none;
}
#shopify-section-static-footer {
    display: none;
}

/*----------------- all -----------------*/
html {
	font-size: 62.5%;
}

.header__bg_m {
	height: 100%;
	width: 100%;
	position: relative;
}

.header__bg_img_m {
    width: calc(100% - 60px);
    height: auto;
    margin: 0 0 0 60px;
}

.header__bg_img_pc_m,
.header__bg_pcImg_m {
	display: none;
}

.header__bg_spImg_m {
	position: absolute;
	height: auto;
	width: 76%;
  top: auto;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
}

.header__bg_logo {
	width: 40px;
	height: auto;
	position: absolute;
	top: 10px;
	left: 10px;
}

.header__line_left_m {
	font-size: 10px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: normal;
	color: #333;
  transform: rotate(-90deg);
  position: absolute;
  top: 160px;
  left: -66px;
}

.header__line_left_line_m {
  width: 70px;
  height: 1px;
  background-color: #333;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}

.header__scrldown_m {
	position: absolute;
	right: 18px;
	bottom: 10px;
	height: 80px;
}

.header__scrldown_txt_m {
	display: inline-block;
	font-size: 10px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: normal;
	color: #fff;
  transform: rotate(-90deg);
  position: absolute;
  left: -24px;
  top: -30px;
  letter-spacing: 1.6px;
}

.header__scrldown_m:after {
	content: "";
	position: absolute;
	top: 0;
	width: 1px;
	height: 60px;
	background: #fff;
	animation: pathmove 1.4s ease-in-out infinite;
	opacity: 0;
}

@keyframes pathmove {
	0% {
		height: 0;
		top: 0;
		opacity: 0;
	}
	30% {
		height: 60px;
		opacity: 1;
	}
	100% {
		height: 0;
		top: 100px;
		opacity: 0;
	}
}

.header__fixed {
	position: fixed;
	z-index: 999;
	height: 53px;
	top: 0;
	bottom: auto;
	left: 0;
	right: auto;
	width: 100%;
}

.bg_white {
	background-color: #fff;
	box-shadow: 1px 1px 4px #ccc;
	transition: 0.5s;
}

.header__btn_line,
.header__btn_mail {
	position: absolute;
	top: 0;
	bottom: auto;
}

.header__btn_line {
	right: 0;
	left: auto;
}

.header__btn_mail {
	right: 60px;
	left: auto;
}

.header__btn_img {
	width: 60px;
	height: auto;
}

.container {
	background-color: #fff;
	width: 100%;
	position: relative;
}

.inner {
	padding: 0 16px;
	width: 100%;
}

.std_txt {
	color: #333;
	font-size: 1.4rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: normal;
	letter-spacing: 0.04em;
	line-height: 2.3em;
}

.br_pc {
	display: none;
}

.section__inner {
	padding: 8rem 0;
}

.bold_red {
	color: red;
	font-weight: bold;
}

/*----------------- section -----------------*/
.aboutus,
.his,
.line,
.shop {
	background-color: #fcf5e9;
}

.aboutus__img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 -16px 20px auto;
}

.aboutus__img_logo {
	width: 165px;
	height: auto;
	margin: 0 auto 32px;
	display: block;
}

.aboutus__ttl {
	color: #7f5f29;
	font-family: "Noto Serif JP",serif;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 3.8rem;
	margin: 0 0 1rem;
}

.aboutus__txt {
	position: relative;
	margin: 0 0 0;
	z-index: 1;
}

.aboutus__txt:after {
	background-image: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_bg_aboutus.png?v=1696239370);
	background-size: cover;
	position: absolute;
	content: '';
  width: 248px;
  height: 242px;
  top: auto;
  bottom: -50px;
	right: 0;
	left: 0;
	margin: auto;
	z-index: -1;
}

.exp {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_bg_exp.png?v=1696239376) center / cover no-repeat;
}

.exp__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	align-items: flex-start;
}

.ext__contents {
	width: 100%;
	background-color: #fefffd;
	position: relative;
	padding: 0 1.6rem 1.6rem;
	margin: 120px 0 0;
}

.ext__contents:before {
	width: 100%;
	height: 0;
	display: block;
	position: absolute;
	left: 0;
	content: "";
	border-bottom: solid 80px #fefffd;
	border-right: solid 80px transparent;
	bottom: 100%;
}

.exp__ttl {
	border-bottom: dotted #777 4px;
	color: #111;
	font-family: 'Noto Serif JP', serif;
	font-size: 2.1rem;
  font-weight: normal;
  letter-spacing: -0.1rem;
	line-height: 3.6rem;
	text-align: center;
	padding: 54px 0 2%;
	position: relative;
}

.exp__ttl:before {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_exp.png?v=1696239431) center / cover no-repeat;
	content: '';
	height: 55px;
	position: absolute;
	top: 0px;
	bottom: auto;
	left: 0;
	right: 0;
	margin: auto;
	width: 152px;
}

.exp__ttl_blue {
	color: #4c4e8c;
	font-size: 28px;
}

.ext__contentsTtl,
.ext__contentsTtl_2 {
    font-family: Noto Sans JP,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #aa8c5a;
    padding: 0 0 4px 100px;
    position: relative;
    border-bottom: solid 1px #333;
    margin: -40px 0 8px;
    line-height: 1.6;
}

.ext__contentsTtl:before,
.ext__contentsTtl_2:before {
	content: '';
	height: 93px;
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	right: auto;
	margin: auto;
	width: 90px;
}

.ext__contentsTtl:before {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_women.png?v=1696240647) center / cover no-repeat;
}
.ext__contentsTtl_2:before {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_men.png?v=1696486457) center / cover no-repeat;
}

.ext__contentsTtl_blk {
  font-size: 14px;
  color: #333;
  display: block;
}

.ordermade {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_bg_line01_sp.png?v=1696239387) center / cover no-repeat;
}

.ordermade2 {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_bg_line02_sp.png?v=1696239406) center / cover no-repeat;
}

.ordermade__ttl {
  margin: 0 auto 32px;
  max-width: 680px;
}

.ordermade__ttlImg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.btn__line {
	display: flex;
}

.btn__lineLink {
  background-color: #1abb03;
  border-radius: 60px;
  color: #fff;
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  margin: auto;
  padding: 12px 30px 12px 90px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.btn__lineLink:before {
  background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_line.png?v=1696239455) center / cover no-repeat;
  content: '';
  height: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 24px;
  right: auto;
  margin: auto;
  width: 50px;
}

.btn__lineLink_ylw {
	color: #fffc00;
}

.select__ttl,
.inst__ttl,
.effect__ttl,
.his__ttl,
.voice__ttl,
.line__ttl,
.faq__ttl,
.shop__ttl {
	display: flex;
	color: #785418;
	font-family: 'Noto Serif JP', serif;
	font-weight: normal;
	font-size: 2.4rem;
	max-width: 100%;
	text-align: center;
}

.ttl__inline {
	border-bottom: dotted 4px #785418;
	margin: auto;
	padding: 0 0 8px;
    font-weight: bold;
    line-height: 1.5;
}

.row,
.voice__row,
.shop__row {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

.select__img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 40px -16px 16px auto;
}

.row:nth-of-type(even) > .select__img {
  margin: 40px auto 16px -16px;
}

.inst {
	background-color: #fcf5e9;
}

.center {
  margin: 40px 0 20px;
}

.container__flex_inst {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
}

.container__inst {
	margin: 40px 20px 0;
	max-width: 330px;
}

.btn__inst {
	display: flex;
	margin: 40px 0 0;
}

.btn__instLink {
  background-color: #785418;
  border-radius: 60px;
  color: #fff;
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: bold;
	line-height: 1.6;
  margin: auto;
	padding: 12px 40px;
  text-align: center;
  text-decoration: none;
}

.btn__instLink_top {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 120px;
}

.btn__instLink_top:before {
  background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_inst.png?v=1696239447) center / cover no-repeat;
  content: '';
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  right: auto;
  margin: auto;
  width: 20px;
}

.effect__contentsTtl {
  color: #785418;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 40px auto 24px -10px;
  position: relative;
  z-index: 1;
}

.effect__contentsTtl:before {
	background-color: #fcf5e9;
	content: '';
	height: 5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -16px;
	right: auto;
	margin: auto;
	width: 100%;
	z-index: -1;
}

.effect__contentsTtl:after {
	background-color: #fcf5e9;
	border-radius: 40px;
	content: '';
	height: 5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: auto;
	right: -8px;
	margin: auto;
	width: 7rem;
	z-index: -1;
}

.effect_row:nth-of-type(2) .effect__contentsTtl:after {
  right: -10px;
}

.his__ttl {
	font-size: 1.9rem;
}

.his__txt {
	margin-top: 16px;
}

.his__contentsTtl,
.voice__contentsTtl {
  color: #7f5f29;
  font-family: 'Noto Serif JP', serif;
  font-size: 2.4rem;
  font-weight: normal;
	letter-spacing: -0.1rem;
  line-height: 1.4;
  margin: 0 0 8px;
}

.voice__ttl {
	font-size: 1.9rem;
}

.voice__contentsTtl {
  margin: 16px 0 8px;
  font-size: 2rem;
}

.voice__box {
	border: solid 1px #7f5f29;
	margin: 40px 0 0;
	padding: 16px;
}

.voice__img {
	width: 100%;
	height: auto;
}

.banner__lineLink {
	display: block;
}

.banner__lineImg {
  display: block;
  height: auto;
  margin: 40px auto 0;
  max-width: 100%;
}

.faq__list {
	border-bottom: 1px solid #e4ddd1;
	margin: 20px 0 0;
	padding: 0 0 20px;
}

.faq__listTtl {
	border-radius: 4px;
	color: #785418;
	font-size: 1.6rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: normal;
	line-height: 2.3rem;
	padding: 16px 40px 16px 46px;
	position: relative;
	width: 100%;
}

.faq__list_icon {
	background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_q.png?v=1696239483) center / cover no-repeat;
	display: inline-block;
	height: 28px;
	left: 8px;
	right: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
	width: 28px;
}

.faq__listTxt {
	background-color: #fcf5e9;
	padding: 16px;
	margin: 0;
	position: relative;
}

.shop__box {
	background-color: #fff;
	box-shadow: #ccc 1px 1px 8px;
	height: auto;
	margin: 32px 0 0;
	width: 100%;
}

.shop__img {
	display: block;
	height: auto;
	width: 100%;
}

.shop__info {
	margin: 24px 0;
	text-align: center;
}

.shop__infoTtl {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	font-weight: bold;
  line-height: 1.6;
	margin: 0 0 8px;
}

.shop__infoTxt {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
  letter-spacing: 0.1rem;
	padding: 0 8px;
}

.shop__reserve {
	display: flex;
	margin: 0 0 32px;
}

.shop__reserveLink {
	color: #785418;
	border: 1px solid #785418;
	border-radius: 10px;
	display: inline-block;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 0 40px;
	margin: auto;
	text-align: center;
	text-decoration: none;
}

.btn__shop {
	display: flex;
	margin: 46px 0 0;
}

.btn__shopLink {
	background-color: #785418;
	border-radius: 60px;
	color: #fff;
	display: block;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: auto;
	padding: 16px 24px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.btn__shopLink_icon {
  height: 20px;
  display: inline-block;
  margin: 0 8px 0 0;
  position: relative;
  width: 20px;
}

.btn__shopLink_icon:before {
  content: '';
  background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_glass.png?v=1696239439) center / cover no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: auto;
  left: -1px;
  margin: auto;
}

.footer {
	background-color: #333;
}

.footer__area {
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 40px 0;
  flex-direction: column-reverse;
}

.copyright {
	color: #fff;
  font-size: 12px;
	text-align: center;
  margin: 16px 0 0;
}

.footer__items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__item {
  margin: 0 24px 0 0;
}

.footer__itemLink {
	color: #fff;
	text-decoration: none;
}

/*----------------- アコーディオン -----------------*/
.toggle_btn {
	background-image: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_toggle_bg.png?v=1696239490);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px;
	border-radius: 50%;
	display: block;
	right: 4px;
	top: 18px;
	text-indent: 100%;
	position: absolute;
	white-space: nowrap;
	height: 22px;
	width: 22px;
}

.toggle_btn:before {
	border-bottom: 1px solid #785418;
	border-right: 1px solid #785418;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	position: absolute;
	transform: translateY(-25%) rotate(45deg);
	transition: transform .3s;
	height: 6px;
	width: 6px;
}

.faq__listTtl.selected .toggle_btn:before {
	transform: rotate(225deg);
}

.faq__listTxt {
	display: none;
}

/*----------------- responsive 768~ -----------------*/

@media (min-width: 768px) {
	.effect__contentsTtl:after {
	  right: 110px;
	}

	.effect_row:nth-of-type(2) .effect__contentsTtl:after {
	  right: 115px;
	}

	.header__bg_m {
	  max-height: 600px;
	}

	.header__bg_img_m {
		display: none;
	}

	.header__bg_img_pc_m {
		display: block;
		margin: 0 0 30px 60px;
		width: calc(100% - 60px);
	}

	.header__bg_spImg_m {
		max-width: 240px;
		height: auto;
		top: auto;
		bottom: 30px;
		left: 0;
		right: auto;
	}

	.header__scrldown_m {
		right: 0;
		left: 0;
		margin: auto;
		top: auto;
		bottom: -20px;
	}

	.header__scrldown_txt_m {
		display: none;
	}

	.header__scrldown_icon_m {
		background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_icon_mouse.png?v=1696239476) center / cover no-repeat;
		content: '';
		display: block;
		height: 30px;
		width: 30px;
		position: absolute;
		top: auto;
		bottom: 78px;
		right: 0;
		left: 0;
		margin: auto;
	}

	.header__scrldown_m:after {
		left: 0;
		right: 0;
		margin: auto;
	}

@keyframes pathmove {
	0% {
		height: 0;
		top: 0;
		opacity: 0;
	}
	30% {
		height: 20px;
		opacity: 1;
	}
	100% {
		height: 0;
		top: 60px;
		opacity: 0;
	}
}

	.header__fixed {
		position: absolute;
	}

	.inner {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 30px;
	}

	.br_pc {
		display: block;
	}

	.br_sp {
		display: none;
	}

	.section__inner {
	  padding: 80px 0;
	}

	.flex {
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: space-between;
		align-items: center;
	}

	.select__ttl,
	.inst__ttl,
	.effect__ttl,
	.his__ttl,
	.voice__ttl,
	.line__ttl,
	.faq__ttl,
	.shop__ttl {
		font-size: 4.2rem;
	}

	.aboutus__img {
		max-width: 460px;
		margin: 0 -30px 40px auto;
	}

	.aboutus__ttl {
		font-size: 2.8rem;
		line-height: 1.4;
	}

	.aboutus__txt:after {
		width: 308px;
		height: 302px;
		bottom: -80px;
		left: -100px;
	}

	.exp__ttl {
		border-bottom: dotted #777 3px;
		font-size: 52px;
		font-weight: 100;
	}

	.exp__ttl_blue {
		font-size: 70px;
		font-weight: 600;
	}

	.exp__ttl:before {
    top: 0px;
  }

	.ext__contents {
		width: calc(50% - 15px);
		padding: 0 24px 30px;
		min-height: 360px;
	}

	.ext__contentsTtl,
	.ext__contentsTtl_2 {
		padding: 0 0 4px 80px;
		margin: -40px 0 16px;
	}

	.ext__contentsTtl:before, 
	.ext__contentsTtl_2:before {
		height: 73px;
		width: 70px;
	}

	.ext__contentsTtl_blk {
		font-size: 1.6rem;
		margin: 0;
	}

	.row,
	.voice__row,
	.shop__row {
	  display: flex;
	  flex-direction: row-reverse;
	  flex-wrap: nowrap;
	  align-content: center;
	  justify-content: center;
	  align-items: center;
	  margin: 40px 0 0;
	}

	.row:nth-of-type(even),
	.row:nth-of-type(even) {
	  flex-direction: row;
	}

	.select__img {
		margin: 0 -30px 0 auto;
		max-width: 460px;
	}

	.row:nth-of-type(even) > .select__img {
		margin: 0 auto 16px -30px;
	}

	.row > .std_txt {
		padding: 0 40px 0 0;
		margin: 80px 0 0;
		line-height: 2.4em;
	}

	.row__txtBox {
	  padding: 0 20px 0 0;
	}

	.row:nth-of-type(even) > .row__txtBox {
	  padding: 0 0 0 20px;
	}

	.voice_row .row__txtBox {
	  padding: 0
	}

	.his__txtArea > .std_txt {
		margin: 0;
	}

	.select__row:nth-of-type(even) > .std_txt,
	.his__row:nth-of-type(even) > .his__txtArea > .std_txt {
		padding: 0 0 0 40px;
	}

	.effect__contentsTtl {
		font-size: 24px;
		margin: 60px auto 40px -15px;
	}

	.effect__contentsTtl:before {
		width: 60%;
	}

	.effect__contentsTtl:after,
	.effect_row:nth-of-type(2) .effect__contentsTtl:after {
		right: 360px;
	}

	.effect_row > .std_txt {
		line-height: 2.6em;
	}

	.ordermade {
		background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_bg_line01.png?v=1696239391) center / cover no-repeat;
	}

	.ordermade2 {
		background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_bg_line02.png?v=1696239418) center / cover no-repeat;
	}

	.ordermade__ttlImg {
		width: 640px;
	}

	.his__ttl,
	.voice__ttl {
		font-size: 30px;
	}

	.his__txt {
		line-height: 2.6em;
		margin: 60px 0 0;
	}

	.his__contentsTtl {
		margin: 0 0 16px;
	}

	.voice__box {
		padding: 16px 16px 32px;
	}

	.voice_row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.voice__img {
		width: 50%;
		padding: 0 20px 0 0;
	}

	.voice__contentsTtl {
		font-size: 22px;
		margin: 16px 0 4px 0;
	}

	.row__txtBox > .voice__contentsTtl:first-child {
		margin-top: 0;
	}

	.voice_row > .row__txtBox > .std_txt {
		line-height: 2.2em;
		padding: 0;
	}

	.line__box {
		display: flex;
		flex-direction: row;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: space-between;
	}

	.banner__lineLink {
		display: block;
		width: 48%;
	}

	.faq__list:nth-of-type(1) {
		margin: 50px 0 0;
	}

	.faq__listTtl {
		border-radius: 10px;
		font-size: 2rem;
		padding: 16px 30px 16px 60px;
	}

	.faq__list_icon {
		left: 16px;
		width: 32px;
		height: 32px;
	}

	.faq__listTxt {
		margin: 0 0 0 50px;
	}

	.shop__row {
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: left;
		align-items: flex-start;
		margin: 40px 0 0;
	}

	.shop__box {
		flex: 0 0 32%;
		height: 370px;
		margin: 0 2% 2% 0;
	}

	.shop__box:nth-of-type(3n) {
		margin-right: 0;
	}

	.shop__infoTtl_br {
		margin-top: -12px;
	}

	.shop__infoTxt {
		font-size: 1.1rem;
	}

	.footer__area {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.copyright {
		width: 100px;
		margin: 0;
		text-align: left;
	}

	.footer__items {
		justify-content: flex-start;
	}
}

/*----------------- responsive 768~959 -----------------*/

@media (min-width: 768px) and (max-width: 959px) {
	.header__fixed {
		position: fixed;
	}

	.section__inner {
		padding: 60px 0;
	}

	.aboutus__img {
		max-width: 360px;
	}

	.exp__ttl {
		font-size: 3.2rem;
  }

  .exp__ttl_blue {
		font-size: 6rem;
	}

	.ext__contents {
		min-height: 590px;
	}

	.select__row,
	.his__row,
	.voice__row,
	.shop__row {
		align-items: flex-start;
	}

	.select__img {
		max-width: 400px;
	}

	.select__row > .std_txt,
	.his__txtArea > .std_txt {
		margin: 40px 0 0;
	}

	.select__img_left {
		margin: 40px auto 16px -30px;
	}

	.effect__contentsTtl:before {
		width: 75%;
	}

	.effect__contentsTtl:after, .effect_row:nth-of-type(2) .effect__contentsTtl:after {
		right: 180px;
	}

	.his__ttl, .voice__ttl {
		font-size: 2.5rem;
	}

	.his__txt {
		margin: 24px 0 0;
	}

	.his__txtArea > .std_txt {
		margin: 0;
	}

	.shop__box {
		flex: 0 0 49%;
		height: auto;
	}

	.shop__box:nth-of-type(3n) {
		margin-right: 2%;
	}

	.shop__box:nth-of-type(2n) {
		margin-right: 0;
	}
}

/*----------------- responsive 1024~ -----------------*/

@media (min-width: 1024px) {
	.header__bg_inner {
    margin: 0 0 30px 60px;
    width: calc(100% - 60px);
    height: 600px;
    background: url(https://cdn.shopify.com/s/files/1/0587/8438/3170/files/wf_hero_bg_pc_2.png?v=1696486458) left center / cover no-repeat;
	}

	.header__bg_img_m {
    display: none;
	}

	.header__bg_img_pc_m {
    display: none;
  }

	.std_txt {
    font-size: 1.6rem;
	}

	.header__bg_spImg_m {
		max-width: 440px;
  }

	.row__txtBox {
    padding: 0 40px 0 0;
	}

	.row:nth-of-type(even) > .row__txtBox {
    padding: 0 0 0 40px;
	}

  .ext__contents {
    min-height: 510px;
	}

  .effect__contentsTtl:before {
		background: linear-gradient(to right, rgba(0,0,0,0), 10%, #fcf5e9);
		left: -140px;
		width: 70%;
	}

	.effect__contentsTtl:after,
	.effect_row:nth-of-type(2) .effect__contentsTtl:after {
		right: 390px;
	}
}
{% endstylesheet %}

{% javascript %}
  	$(function(){
	$('.faq__listTtl').click(function(){
		$(this).toggleClass('selected');
		$(this).next().slideToggle();
	});
});
  /*
  $(window).scroll(function () {
	if($(window).scrollTop() > 400) {
		$('.header__fixed').addClass('bg_white');
	} else {
		$('.header__fixed').removeClass('bg_white');
	}
});
**/
/*
  * 指定されたリンクをセット
  * @param {str} _prop 
  **/
function setLineLink(_prop, _linelinklist) {
    /* リンク変更 */
    for (var _i = 0; _i < _linelinklist.length; _i++) {
        var _line_link = "https://liff.line.me/2000119754-yYYQm26A/landing?follow=%40461fdjxg&lp=" + _prop + "&liff_id=2000119754-yYYQm26A";
        $(_linelinklist[_i]).attr("href", _line_link);
    }
}

/* キャッシュへパラメーターを保存 */
function setCacheParam (_param, _line_type) {
    var _d = 24 * 60 * 60;
    document.cookie = _line_type + "=" + _param + ";max-age=" + _d;
}

/* キャッシュ確認*/
function chkCacheParam (_line_type) {
    var _cache = document.cookie;
    var _cache_array = _cache.split(';');
    var _target_cache = false;

    $.each(_cache_array, function(_index, _value){
        var _cache_param = _value.split('=');
        if(_cache_param[0] == _line_type || _cache_param[0] == " " + _line_type){
            _target_cache = _cache_param[1];
        }
    });

    return _target_cache;
}
  

/* パラメーター確認 */
function setLINEURI() {
    // URLを取得
    let _url = new URL(window.location.href);

    // URLSearchParamsオブジェクトを取得
    let _params = _url.searchParams;

    // 各種LINE用パラメータ取得
    var _LINE_simulation_param = _params.get('linetypeS');
    var _LINE_coupon_param = _params.get('linetypeC');
    var _LINE_showroom_param = _params.get('linetypeL');

    /** シミュレーション訴求指定あり **/
    if(_LINE_simulation_param != null && _LINE_simulation_param != "none"){
        /* 変更するリンクをリストアップ */
        var _link_list = $('a.line_simulation');
      
        /* キャッシュへパラメーターをセット */
        setCacheParam(_LINE_simulation_param, "line_simulation");

        /* リンクセット */
        setLineLink(_LINE_simulation_param, _link_list);
    } else {
        _LINE_simulation_param = chkCacheParam("line_simulation");

        if(_LINE_simulation_param) { 
            /* 変更するリンクをリストアップ */
            var _link_list = $('a.line_simulation');
          
            /* 広告遷移のキャッシュが残っていればリンクセット */
            setLineLink(_LINE_simulation_param, _link_list);
        }
    }

  
    /** クーポン訴求指定あり **/
    if(_LINE_coupon_param != null && _LINE_coupon_param != "none"){
        /* 変更するリンクをリストアップ */
        var _link_list = $('a.line_coupon');
      
        /* キャッシュへパラメーターをセット */
        setCacheParam(_LINE_coupon_param, "line_coupon");

        /* リンクセット */
        setLineLink(_LINE_coupon_param, _link_list);
    } else {
        _LINE_simulation_param = chkCacheParam("line_coupon");

        if(_LINE_simulation_param) { 
            /* 変更するリンクをリストアップ */
            var _link_list = $('a.line_coupon');
          
            /* 広告遷移のキャッシュが残っていればリンクセット */
            setLineLink(_LINE_simulation_param, _link_list);
        }
    }

    /** LINEショールーム予約指定あり **/
    if(_LINE_showroom_param != null && _LINE_showroom_param != "none"){
        /* 変更するリンクをリストアップ */
        var _link_list = $('a.line_showroom');
      
        /* キャッシュへパラメーターをセット */
        setCacheParam(_LINE_showroom_param, "line_showroom");

        /* リンクセット */
        setLineLink(_LINE_showroom_param, _link_list);
    } else {
        _LINE_simulation_param = chkCacheParam("line_showroom");

        if(_LINE_simulation_param) { 
            /* 変更するリンクをリストアップ */
            var _link_list = $('a.line_showroom');
          
            /* 広告遷移のキャッシュが残っていればリンクセット */
            setLineLink(_LINE_simulation_param, _link_list);
        }
    }

}

$(document).ready(function(){
    //何かしらの処理
    setLINEURI();
});
  
{% endjavascript %}