{%- liquid
assign parent_collection_handle = 'nagano-interior'
-%}
{% render 'breadcrumbs', parent_collection_handle: parent_collection_handle %}

<article class="site-page pageSelection rte" data-template-page>
  <header class="page-masthead selectionHead">
    <div class="selectionHero">
      <div class="selectionHero_item selectionHero_thumb">
        <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-section-hero.jpg?v=1696407131" alt="ナガノインテリア" width="720" height="418" decoding="async">
      </div>
      <div class="selectionHero_item selectionHero_logo">
        <h1 class="page-masthead--body_title page-title"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-section-logo01.jpg?v=1696407264" alt="ナガノインテリア" width="420" height="117" decoding="async"></h1>
      </div>
    </div>
  </header>

  <main class="selectionMain">
    <div class="page-content rte">

      <section class="selectionSection">

        <div class="selectionSectionHead">
          <h2 class="pageSelection_sectionTtl">木部・塗色について</h2>
          <div class="selectionSectionHead_desc">
            <p>高品質な木材を国内外から独自の基準に基づいて調達し、使用しています。また、木材の特徴を生かした塗色を豊富にご用意しています。<br />木材の種類によって特徴や木目の雰囲気が異なります。</p>
          </div>
        </div>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">レッドオーク</h3>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-top02.jpg?v=1696321691" alt="レッドオーク" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>レッドオークは、ウォールナット、マホガニーと並んで 欧米家具を代表する三大木材のひとつです。木目は、力強い板目柄が特徴です。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#whiteoak">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ウォールナット</h3>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-wn-top.jpg?v=1696321675" alt="ウォールナット" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>ウォルナットは、チーク、マホガニーと並んだ世界三大銘木の一つです。渋く上品で、落ち着いた色合いと重厚感のある杢目が美しく、触り心地もよい高級材です。タンニンが多く含まれているため、使い込むうちに風合いを深めていきます。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#beach">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ホワイトオーク</h3>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-top.jpg?v=1696321657" alt="ホワイトオーク" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>ホワイトオークは重硬で強度があり、堅くて丈夫な上に曲木など加工にも適しているため、チェア・テーブルはもちろん、チェストやキャビネットといった箱もの家具から、ベッドフレームまでさまざまな家具に使用することができます。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#walnut">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ブラックチェリー</h3>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-bc-top.jpg?v=1696321639" alt="ブラックチェリー" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>材料は緻密で滑らかな木肌を持ち水に強く、耐久性に優れています。淡い薄桃色から濃い赤褐色へ年月の経過の中で変化していきます。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#cedar">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl">ハードメープル</h3>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-mp-top.jpg?v=1696321614" alt="ハードメープル" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--spNone">
              <p>絹のような光沢を持ち、強靭な材質です。時を 経るほどにおだやかな黄檗色に変化します。 ※同じ塗装仕様でも、木材の種類によって塗色が異なりますので予めご了承下さい。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#chestnut">詳しくはこちら</a>
            </div>
          </div>

        </div>

        <div class="selectionSectionCardsNotice">
          <p class="c-red">※木材の種類により金額が変わります。商品ページ、木部選択の際の加算金額をご確認ください。</p>
        </div>

        <h3 class="pageSelection_sectionSubTtl">木部一覧</h3>

        <div id="whiteoak" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">レッドオーク</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-top01.jpg?v=1696321691" alt="レッドオーク" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>オークは、ウォールナット、マホガニーと並んで欧米家具を代表する三大木材のひとつです。木目は、力強い板目柄が特徴です。</p>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>
          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-ho-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />HO ウレタン塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-ho-01.jpg?v=1696321692" width="640" height="640" loading="lazy" /></a><p>HO<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-ao-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />AO ウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-ao-01.jpg?v=1696321692" alt="レッドオーク AO ウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>AO<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-mo-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />N5 ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-mo-01.jpg?v=1696321692" alt="レッドオーク N5 ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>MO<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-bo-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />BO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-bo-01.jpg?v=1696321692" alt="レッドオーク BO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>BO<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-sd-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />SD ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-sd-01.jpg?v=1696321692" alt="レッドオーク SD ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>SD<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-wo-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />WO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-wo-01.jpg?v=1696321692" alt="レッドオーク WO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>WO<br />ポリウレタン樹脂塗装</p></div>
	
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-lg-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />LG ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-lg-01.jpg?v=1696321692" alt="レッドオーク LG ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>LG<br />ポリウレタン樹脂塗装</p></div>	  
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-bk-01.jpg?v=1696321691" data-lightbox="wood-wo" data-title="レッドオーク<br />BK ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-bk-01.jpg?v=1696321691" alt="レッドオーク BK ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>BK<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-on-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />ON ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-on-01.jpg?v=1696321692" alt="レッドオーク ON ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>ON<br />オイル塗装</p></div>

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-om-01.jpg?v=1696321692" data-lightbox="wood-wo" data-title="レッドオーク<br />OW ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-ro-om-01.jpg?v=1696321692" alt="レッドオーク OW ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>OW<br />オイル塗装</p></div> 
			  
          </div>

        </div>

         <div id="beach" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ウォールナット</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-wn-top.jpg?v=1696321675" alt="ウォールナット" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
               <p>ウォルナットは、チーク、マホガニーと並んだ世界三大銘木の一つです。渋く上品で、落ち着いた色合いと重厚感のある杢目が美しく、触り心地もよい高級材です。タンニンが多く含まれているため、使い込むうちに風合いを深めていきます。</p>
            </div>
          </div>


          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-wn-wn-01.jpg?v=1696321675" data-lightbox="wood-bc" data-title="ウォールナット<br />WN ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-wn-wn-01.jpg?v=1696321675" alt="ウォールナット WN ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>WN<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-wn-om-01.jpg?v=1696321675" data-lightbox="wood-bc" data-title="ウォールナット<br />WO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-wn-om-01.jpg?v=1696321675" alt="ウォールナット WO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>WO<br />オイル塗装</p></div>
        　</div>
		</div>	 
			 
			 
        <div id="walnut" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ホワイトオーク</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-top.jpg?v=1696321657" alt="ホワイトオーク" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>ホワイトオークは重硬で強度があり、堅くて丈夫な上に曲木など加工にも適しているため、チェア・テーブルはもちろん、チェストやキャビネットといった箱もの家具から、ベッドフレームまでさまざまな家具に使用することができます。</p>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-ho-01.jpg?v=1696321658" data-lightbox="wood-wn" data-title="ホワイトオーク<br />HO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-ho-01.jpg?v=1696321658" alt="ホワイトオーク HO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>HO<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-mo-01.jpg?v=1696321658" data-lightbox="wood-wn" data-title="ホワイトオーク<br />MO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-mo-01.jpg?v=1696321658" alt="ホワイトオーク MO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>MO<br />ポリウレタン樹脂塗装</p></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-bo-01.jpg?v=1696321658" data-lightbox="wood-wn" data-title="ホワイトオーク<br />MO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-bo-01.jpg?v=1696321658" alt="ホワイトオーク MO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>BO<br />ポリウレタン樹脂塗装</p></div>  
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-on-01.jpg?v=1696321658" data-lightbox="wood-wn" data-title="ホワイトオーク<br />MO ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-nr-on-01.jpg?v=1696321658" alt="ホワイトオーク MO ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>ON<br />オイル塗装</p></div>	  
			  
          </div>

        </div>

        <div id="cedar" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ブラックチェリー</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-bc-top.jpg?v=1696321639" alt="ブラックチェリー" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>材料は緻密で滑らかな木肌を持ち水に強く、耐久性に優れています。淡い薄桃色から濃い赤褐色へ年月の経過の中で変化していきます。</p>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-bc-cl-01.jpg?v=1696321640" data-lightbox="wood-sg" data-title="ブラックチェリー<br />cl ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-bc-cl-01.jpg?v=1696321640" alt="ブラックチェリー CL ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>CL<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-bc-on-01.jpg?v=1696321640" data-lightbox="wood-sg" data-title="ブラックチェリー<br />ON ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-bc-on-01.jpg?v=1696321640" alt="ブラックチェリー ON ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>ON<br />ポリウレタン樹脂塗装</p></div>
          </div>

        </div>

        <div id="chestnut" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ハードメープル</h4>

          <div class="selectionSectionItem_descBox">
            <div class="selectionSectionItem_descBox_thumb">
              <img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-mp-top.jpg?v=1696321614" alt="ハードメープル" width="440" height="220" loading="lazy">
            </div>
            <div class="selectionSectionItem_descBox_body">
              <p>絹のような光沢を持ち、強靭な材質です。時を 経るほどにおだやかな黄檗色に変化します。 ※同じ塗装仕様でも、木材の種類によって塗色が異なりますので予めご了承下さい。</p>
            </div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">塗色種類</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-mp-cl-01.jpg?v=1696321615" data-lightbox="wood-kuri" data-title="クリ<br />CL ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-mp-cl-01.jpg?v=1696321615" alt="ハードメープル CL ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>CL<br />ポリウレタン樹脂塗装</p></div>
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-mp-oc-01.jpg?v=1696321615" data-lightbox="wood-kuri" data-title="クリ<br />OC ポリウレタン樹脂塗装"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/nagano-mp-oc-01.jpg?v=1696321615" alt="ハードメープル OC ポリウレタン樹脂塗装" width="640" height="640" loading="lazy" /></a><p>OC<br />オイル塗装</p></div>
          </div>

        </div>

      </section>

      <section class="selectionSection">

        <div class="selectionSectionHead">
          <h2 class="pageSelection_sectionTtl">張地について</h2>
        </div>

        <h3 class="pageSelection_itemTtl">張地ランク</h3>
        <p class="pageSelection_itemDesc">ナガノインテリアが採用しているチェアやソファ等の張り布は、豊富なバリエーションがあります。永くご使用いただいて飽きの来ないファブリックを厳選しています。<br />※パソコンやモバイル画面上では、設定の違いにより実際の布の色調や質感が再現できない場合があります。</p>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl">ランク1</h4>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank-01-top.jpg?v=1696409828" alt="ナガノインテリア ランク1" width="272" height="76" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--center">
              <p>ご家庭で洗える生地を中心にセレクト。<br>普段着のように日常使いに最適なファブリックを厳選しています。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-b">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl">ランク2</h4>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank-02-top.jpg?v=1696409828" alt="ナガノインテリア ランク2" width="272" height="76" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--center">
              <p>ベットの引っ掻きに強い生地から機能性に優れた生地、天然素材までバランス良くセレクト。ライフスタイルに合わせてお選びいただけるファブリックを厳選しています。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-c">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl">ランク3</h4>
              <div class="selectionSectionCards_thumb"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank-03-top.jpg?v=1696409828" alt="ナガノインテリア ランク3" width="272" height="76" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body selectionSectionCards_item-body--center">
              <p>糸から素材、織りに至るまでワンランク上の生地をセレクト。上質な空間を演出するこだわりの生地を厳選しています。</p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-e">一覧はこちら</a>
            </div>
          </div>

        </div>

        <h3 class="pageSelection_itemTtl">説明</h3>

        <h4>加工種類</h4>

        <div class="selectionSectionCards selectionSectionCards--function">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_water-repellent" src="{{ 'icon_water-repellent.png' | file_url }}" alt="撥水加工" width="40" height="58" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>撥水加工が施してあるか、生地に撥水性があるため、水分による汚れを弾きやすくなっています。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_mjufunc" src="{{ 'icon_mjufunc.png' | file_url }}" alt="銀糸（ミューファン）" width="50" height="62" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>銀糸（ミューファン）が入っているため、抗菌・防臭・静電気防止の効果があります。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>ひっかき傷に強く、糸のほつれや引きつれが起こりにくくなっています。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>アクアクリーン加工が施されているため、「水」だけで日常での汚れを取り除くことができます。</p>
            </div>
          </div>
        </div>

        <h4>洗濯マーク</h4>

        <div class="selectionSectionCards selectionSectionCards--function">
          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>カバーリング仕様の商品のみ、ご家庭でお洗濯（手洗い）ができます。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>カバーリング仕様の商品のみ、石油系ドライクリーニングができます（タンブラー乾燥不可）。</p>
            </div>
          </div>
        </div>

        <h3 class="pageSelection_sectionSubTtl">張地一覧</h3>

        <div id="fabric-b" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ランク１</h4>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f342.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF342"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f342.jpg?v=1696395655" alt="ナガノインテリア AF342" width="640" height="640" loading="lazy" /></a><p>AF342</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f343.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF343"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f343.jpg?v=1696395655" alt="ナガノインテリア AF343" width="640" height="640" loading="lazy" /></a><p>AF343</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f344.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF344"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f344.jpg?v=1696395655" alt="ナガノインテリア AF344" width="640" height="640" loading="lazy" /></a><p>AF344</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f410.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF410"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f410.jpg?v=1696395654" alt="ナガノインテリア AF410" width="640" height="640" loading="lazy" /></a><p>AF410</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f413.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF413"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f413.jpg?v=1696395654" alt="ナガノインテリア AF413" width="640" height="640" loading="lazy" /></a><p>AF413</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f414.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF414"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f414.jpg?v=1696395654" alt="ナガノインテリア AF414" width="640" height="640" loading="lazy" /></a><p>AF414</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f491.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF491"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f491.jpg?v=1696395654" alt="ナガノインテリア AF491" width="640" height="640" loading="lazy" /></a><p>AF491</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f495.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF495"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f495.jpg?v=1696395654" alt="ナガノインテリア AF495" width="640" height="640" loading="lazy" /></a><p>AF495</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f496.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF496"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f496.jpg?v=1696395654" alt="ナガノインテリア AF496" width="640" height="640" loading="lazy" /></a><p>AF496</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f497.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF497"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f497.jpg?v=1696395655" alt="ナガノインテリア AF497" width="640" height="640" loading="lazy" /></a><p>AF497</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f498.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF498"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f498.jpg?v=1696395654" alt="ナガノインテリア AF498" width="640" height="640" loading="lazy" /></a><p>AF498</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f499.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF499"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f499.jpg?v=1696395654" alt="ナガノインテリア AF499" width="640" height="640" loading="lazy" /></a><p>AF499</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f545.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF545"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f545.jpg?v=1696395655" alt="ナガノインテリア AF545" width="640" height="640" loading="lazy" /></a><p>AF545</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f546.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF546"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f546.jpg?v=1696395655" alt="ナガノインテリア AF546" width="640" height="640" loading="lazy" /></a><p>AF546</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f560.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF560"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f560.jpg?v=1696395654" alt="ナガノインテリア AF560" width="640" height="640" loading="lazy" /></a><p>AF560</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f561.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF561"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f561.jpg?v=1696395655" alt="ナガノインテリア AF561" width="640" height="640" loading="lazy" /></a><p>AF561</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f563.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF563"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f563.jpg?v=1696395654" alt="ナガノインテリア AF563" width="640" height="640" loading="lazy" /></a><p>AF563</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f564.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF564"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f564.jpg?v=1696395655" alt="ナガノインテリア AF564" width="640" height="640" loading="lazy" /></a><p>AF564</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f922.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF922"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f922.jpg?v=1696395654" alt="ナガノインテリア AF922" width="640" height="640" loading="lazy" /></a><p>AF922</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f923.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF923"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f923.jpg?v=1696395654" alt="ナガノインテリア AF923" width="640" height="640" loading="lazy" /></a><p>AF923</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f924.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF924"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f924.jpg?v=1696395654" alt="ナガノインテリア AF924" width="640" height="640" loading="lazy" /></a><p>AF924</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f925.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF925"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f925.jpg?v=1696395654" alt="ナガノインテリア AF925" width="640" height="640" loading="lazy" /></a><p>AF925</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f926.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF926"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f926.jpg?v=1696395654" alt="ナガノインテリア AF926" width="640" height="640" loading="lazy" /></a><p>AF926</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f928.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF928"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f928.jpg?v=1696395655" alt="ナガノインテリア AF928" width="640" height="640" loading="lazy" /></a><p>AF928</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f405.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF405"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f405.jpg?v=1696395655" alt="ナガノインテリア AF405" width="640" height="640" loading="lazy" /></a><p>AF405</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f406.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF406"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f406.jpg?v=1696395655" alt="ナガノインテリア AF406" width="640" height="640" loading="lazy" /></a><p>AF406</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f407.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF407"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f407.jpg?v=1696395654" alt="ナガノインテリア AF407" width="640" height="640" loading="lazy" /></a><p>AF407</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f408.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF408"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f408.jpg?v=1696395654" alt="ナガノインテリア AF408" width="640" height="640" loading="lazy" /></a><p>AF408</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f481.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF481"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f481.jpg?v=1696395655" alt="ナガノインテリア AF481" width="640" height="640" loading="lazy" /></a><p>AF481</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f483.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF483"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f483.jpg?v=1696395654" alt="ナガノインテリア AF483" width="640" height="640" loading="lazy" /></a><p>AF483</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f484.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF484"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f484.jpg?v=1696395654" alt="ナガノインテリア AF484" width="640" height="640" loading="lazy" /></a><p>AF484</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f780.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF780"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f780.jpg?v=1696395654" alt="ナガノインテリア AF780" width="640" height="640" loading="lazy" /></a><p>AF780</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f781.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF781"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f781.jpg?v=1696395654" alt="ナガノインテリア AF781" width="640" height="640" loading="lazy" /></a><p>AF781</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f782.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF782"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f782.jpg?v=1696395654" alt="ナガノインテリア AF782" width="640" height="640" loading="lazy" /></a><p>AF782</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f786.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF786"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f786.jpg?v=1696395654" alt="ナガノインテリア AF786" width="640" height="640" loading="lazy" /></a><p>AF786</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f791.jpg?v=1696395655" data-lightbox="fabric-b" data-title="AF791"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f791.jpg?v=1696395655" alt="ナガノインテリア AF791" width="640" height="640" loading="lazy" /></a><p>AF791</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>	

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f793.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF793"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f793.jpg?v=1696395654" alt="ナガノインテリア AF793" width="640" height="640" loading="lazy" /></a><p>AF793</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>	

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f795.jpg?v=1696395654" data-lightbox="fabric-b" data-title="AF795"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank01-f795.jpg?v=1696395654" alt="ナガノインテリア AF795" width="640" height="640" loading="lazy" /></a><p>AF795</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>	
			  
          </div>	
			
        </div>

        <div id="fabric-c" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ランク2</h4>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f705.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF705"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f705.jpg?v=1696401397" alt="ナガノインテリア AF705" width="640" height="640" loading="lazy" /></a><p>AF705</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f706.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF706"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f706.jpg?v=1696401397" alt="ナガノインテリア AF706" width="640" height="640" loading="lazy" /></a><p>AF706</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f707.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF707"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f707.jpg?v=1696401397" alt="ナガノインテリア AF707" width="640" height="640" loading="lazy" /></a><p>AF707</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f754.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF754"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f754.jpg?v=1696401397" alt="ナガノインテリア AF754" width="640" height="640" loading="lazy" /></a><p>AF754</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f755.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF755"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f755.jpg?v=1696401397" alt="ナガノインテリア AF755" width="640" height="640" loading="lazy" /></a><p>AF755</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f756.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF756"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f756.jpg?v=1696401397" alt="ナガノインテリア AF756" width="640" height="640" loading="lazy" /></a><p>AF756</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f757.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF757"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f757.jpg?v=1696401397" alt="ナガノインテリア AF757" width="640" height="640" loading="lazy" /></a><p>AF757</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f758.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF758"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f758.jpg?v=1696401396" alt="ナガノインテリア AF758" width="640" height="640" loading="lazy" /></a><p>AF758</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f759.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF759"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f759.jpg?v=1696401396" alt="ナガノインテリア AF759" width="640" height="640" loading="lazy" /></a><p>AF759</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f760.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF760"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f760.jpg?v=1696401396" alt="ナガノインテリア AF760" width="640" height="640" loading="lazy" /></a><p>AF760</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f761.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF761"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f761.jpg?v=1696401396" alt="ナガノインテリア AF761" width="640" height="640" loading="lazy" /></a><p>AF761</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f762.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF762"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f762.jpg?v=1696401397" alt="ナガノインテリア AF762" width="640" height="640" loading="lazy" /></a><p>AF762</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f763.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF763"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f763.jpg?v=1696401397" alt="ナガノインテリア AF763" width="640" height="640" loading="lazy" /></a><p>AF763</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f764.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF764"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f764.jpg?v=1696401397" alt="ナガノインテリア AF764" width="640" height="640" loading="lazy" /></a><p>AF764</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  		  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f765.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF765"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f765.jpg?v=1696401397" alt="ナガノインテリア AF765" width="640" height="640" loading="lazy" /></a><p>AF765</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f775.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF775"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f775.jpg?v=1696401396" alt="ナガノインテリア AF775" width="640" height="640" loading="lazy" /></a><p>AF775</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f776.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF776"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f776.jpg?v=1696401396" alt="ナガノインテリア AF776" width="640" height="640" loading="lazy" /></a><p>AF776</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f777.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF777"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f777.jpg?v=1696401396" alt="ナガノインテリア AF777" width="640" height="640" loading="lazy" /></a><p>AF777</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f778.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF778"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f778.jpg?v=1696401396" alt="ナガノインテリア AF778" width="640" height="640" loading="lazy" /></a><p>AF778</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f779.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF779"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f779.jpg?v=1696401396" alt="ナガノインテリア AF779" width="640" height="640" loading="lazy" /></a><p>AF779</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f805.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF805"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f805.jpg?v=1696401396" alt="ナガノインテリア AF805" width="640" height="640" loading="lazy" /></a><p>AF805</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f826.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF826"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f826.jpg?v=1696401396" alt="ナガノインテリア AF826" width="640" height="640" loading="lazy" /></a><p>AF826</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f827.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF827"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f827.jpg?v=1696401396" alt="ナガノインテリア AF827" width="640" height="640" loading="lazy" /></a><p>AF827</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f828.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF828"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f828.jpg?v=1696401396" alt="ナガノインテリア AF828" width="640" height="640" loading="lazy" /></a><p>AF828</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f865.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF865"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f865.jpg?v=1696401396" alt="ナガノインテリア AF865" width="640" height="640" loading="lazy" /></a><p>AF865</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f866.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF866"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f866.jpg?v=1696401396" alt="ナガノインテリア AF866" width="640" height="640" loading="lazy" /></a><p>AF866</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f867.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF867"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f867.jpg?v=1696401396" alt="ナガノインテリア AF867" width="640" height="640" loading="lazy" /></a><p>AF867</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f868.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF868"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f868.jpg?v=1696401396" alt="ナガノインテリア AF868" width="640" height="640" loading="lazy" /></a><p>AF868</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>	  

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f830.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF830"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f830.jpg?v=1696401396" alt="ナガノインテリア AF830" width="640" height="640" loading="lazy" /></a><p>AF830</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	  

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f831.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF831"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f831.jpg?v=1696401396" alt="ナガノインテリア AF831" width="640" height="640" loading="lazy" /></a><p>AF831</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	 

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f832.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF832"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f832.jpg?v=1696401396" alt="ナガノインテリア AF832" width="640" height="640" loading="lazy" /></a><p>AF832</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	   
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f833.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF833"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f833.jpg?v=1696401396" alt="ナガノインテリア AF833" width="640" height="640" loading="lazy" /></a><p>AF833</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	 
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f834.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF834"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f834.jpg?v=1696401396" alt="ナガノインテリア AF834" width="640" height="640" loading="lazy" /></a><p>AF834</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f835.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF835"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f835.jpg?v=1696401396" alt="ナガノインテリア AF835" width="640" height="640" loading="lazy" /></a><p>AF835</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f837.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF837"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f837.jpg?v=1696401396" alt="ナガノインテリア AF837" width="640" height="640" loading="lazy" /></a><p>AF837</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	 
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f838.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF838"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f838.jpg?v=1696401396" alt="ナガノインテリア AF838" width="640" height="640" loading="lazy" /></a><p>AF838</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f840.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF840"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f840.jpg?v=1696401396" alt="ナガノインテリア AF840" width="640" height="640" loading="lazy" /></a><p>AF840</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	  
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f841.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF841"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f841.jpg?v=1696401396" alt="ナガノインテリア AF841" width="640" height="640" loading="lazy" /></a><p>AF841</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f842.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF842"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f842.jpg?v=1696401396" alt="ナガノインテリア AF842" width="640" height="640" loading="lazy" /></a><p>AF842</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f843.jpg?v=1696401396" data-lightbox="fabric-c" data-title="AF843"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f843.jpg?v=1696401396" alt="ナガノインテリア AF843" width="640" height="640" loading="lazy" /></a><p>AF843</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f880.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF880"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f880.jpg?v=1696401397" alt="ナガノインテリア AF880" width="640" height="640" loading="lazy" /></a><p>AF880</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f881.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF881"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f881.jpg?v=1696401397" alt="ナガノインテリア AF881" width="640" height="640" loading="lazy" /></a><p>AF881</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	  

            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f882.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF882"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f882.jpg?v=1696401397" alt="ナガノインテリア AF882" width="640" height="640" loading="lazy" /></a><p>AF882</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f883.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF883"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f883.jpg?v=1696401397" alt="ナガノインテリア AF883" width="640" height="640" loading="lazy" /></a><p>AF883</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f884.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF884"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f884.jpg?v=1696401397" alt="ナガノインテリア AF884" width="640" height="640" loading="lazy" /></a><p>AF884</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f885.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF885"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f885.jpg?v=1696401397" alt="ナガノインテリア AF885" width="640" height="640" loading="lazy" /></a><p>AF885</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f886.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF886"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f886.jpg?v=1696401397" alt="ナガノインテリア AF886" width="640" height="640" loading="lazy" /></a><p>AF886</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	  
			  
            <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f887.jpg?v=1696401397" data-lightbox="fabric-c" data-title="AF887"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank02-f887.jpg?v=1696401397" alt="ナガノインテリア AF887" width="640" height="640" loading="lazy" /></a><p>AF887</p><ul><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li><li><img class="icon_scratch" src="{{ 'icon_scratch.png' | file_url }}" alt="ひっかき傷に強い" width="63" height="71" loading="lazy"></li></ul></div>	
          </div>
        </div>

        <div id="fabric-e" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">ランク3</h4>

          <div class="selectionSectionUnits">
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f930.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF930"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f930.jpg?v=1696404506" alt="ナガノインテリア AF930" width="640" height="640" loading="lazy" /></a><p>AF930</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f931.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF931"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f931.jpg?v=1696404506" alt="ナガノインテリア AF931" width="640" height="640" loading="lazy" /></a><p>AF931</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f935.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF935"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f935.jpg?v=1696404506" alt="ナガノインテリア AF935" width="640" height="640" loading="lazy" /></a><p>AF935</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>  
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f936.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF936"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f936.jpg?v=1696404506" alt="ナガノインテリア AF936" width="640" height="640" loading="lazy" /></a><p>AF936</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f940.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF940"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f940.jpg?v=1696404506" alt="ナガノインテリア AF940" width="640" height="640" loading="lazy" /></a><p>AF940</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f941.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF941"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f941.jpg?v=1696404506" alt="ナガノインテリア AF941" width="640" height="640" loading="lazy" /></a><p>AF941</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
		
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f950.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF950"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f950.jpg?v=1696404506" alt="ナガノインテリア AF950" width="640" height="640" loading="lazy" /></a><p>AF950</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f951.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF951"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f951.jpg?v=1696404506" alt="ナガノインテリア AF951" width="640" height="640" loading="lazy" /></a><p>AF951</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f952.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF952"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f952.jpg?v=1696404506" alt="ナガノインテリア AF952" width="640" height="640" loading="lazy" /></a><p>AF952</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f953.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF953"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f953.jpg?v=1696404506" alt="ナガノインテリア AF953" width="640" height="640" loading="lazy" /></a><p>AF953</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f954.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF954"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f954.jpg?v=1696404506" alt="ナガノインテリア AF954" width="640" height="640" loading="lazy" /></a><p>AF954</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>  
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f956.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF956"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f956.jpg?v=1696404506" alt="ナガノインテリア AF956" width="640" height="640" loading="lazy" /></a><p>AF956</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f957.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF957"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f957.jpg?v=1696404506" alt="ナガノインテリア AF957" width="640" height="640" loading="lazy" /></a><p>AF957</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li><li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f957.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF957"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f957.jpg?v=1696404506" alt="ナガノインテリア AF957" width="640" height="640" loading="lazy" /></a><p>AF957</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>	  
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f960.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF960"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f960.jpg?v=1696404506" alt="ナガノインテリア AF960" width="640" height="640" loading="lazy" /></a><p>AF960</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>  
		
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f961.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF961"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f961.jpg?v=1696404506" alt="ナガノインテリア AF961" width="640" height="640" loading="lazy" /></a><p>AF961</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f962.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF962"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f962.jpg?v=1696404506" alt="ナガノインテリア AF962" width="640" height="640" loading="lazy" /></a><p>AF962</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div> 
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f963.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF963"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f963.jpg?v=1696404506" alt="ナガノインテリア AF963" width="640" height="640" loading="lazy" /></a><p>AF963</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>  
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f964.jpg?v=1696404506" data-lightbox="fabric-c" data-title="AF964"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f964.jpg?v=1696404506" alt="ナガノインテリア AF964" width="640" height="640" loading="lazy" /></a><p>AF964</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f965.jpg?v=1696504506" data-lightbox="fabric-c" data-title="AF965"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f965.jpg?v=1696504506" alt="ナガノインテリア AF965" width="640" height="640" loading="lazy" /></a><p>AF965</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div> 
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f966.jpg?v=1696604506" data-lightbox="fabric-c" data-title="AF966"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f966.jpg?v=1696604506" alt="ナガノインテリア AF966" width="640" height="640" loading="lazy" /></a><p>AF966</p><ul><li><img class="icon_handwash" src="{{ 'icon_handwash.png' | file_url }}" alt="手洗い" width="53" height="53" loading="lazy"></li></ul></div>  
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f975.jpg?v=1697504506" data-lightbox="fabric-c" data-title="AF975"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f975.jpg?v=1697504506" alt="ナガノインテリア AF975" width="640" height="640" loading="lazy" /></a><p>AF975</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div> 
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f976.jpg?v=1697604506" data-lightbox="fabric-c" data-title="AF976"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f976.jpg?v=1697604506" alt="ナガノインテリア AF976" width="640" height="640" loading="lazy" /></a><p>AF976</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
           <div class="selectionSectionUnits_item"><a href="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f977.jpg?v=1697704506" data-lightbox="fabric-c" data-title="AF977"><img src="https://cdn.shopify.com/s/files/1/0587/8438/3170/files/rank03-f977.jpg?v=1697704506" alt="ナガノインテリア AF977" width="640" height="640" loading="lazy" /></a><p>AF977</p><ul><li><img class="icon_flammable" src="{{ 'icon_flammable.png' | file_url }}" alt="石油系ドライクリーニング" width="53" height="53" loading="lazy"></li></ul></div>
			  
          </div>
        </div>

      </section>

    </div>
  </main>
</article>
