{%- liquid
assign parent_collection_handle = 'estic'
-%}
{% render 'breadcrumbs', parent_collection_handle: parent_collection_handle %}

<article class="site-page pageSelection rte" data-template-page>
  <header class="page-masthead selectionHead">
    <div class="selectionHero">
      <div class="selectionHero_item selectionHero_thumb">
        <img src="{{ 'estic-selection_hero.jpg' | file_url }}" alt="エスティック" width="720" height="418" decoding="async">
      </div>
      <div class="selectionHero_item selectionHero_logo">
        <h1 class="page-masthead--body_title page-title"><img src="{{ 'logo_estic.png' | file_url }}" alt="エスティック" width="176" height="185" decoding="async"></h1>
      </div>
    </div>
  </header>

  <main class="selectionMain">
    <div class="page-content rte">

      <section class="selectionSection">

        <div class="selectionSectionHead">
          <h2 class="pageSelection_sectionTtl">木部について</h2>
          <div class="selectionSectionHead_desc">
            <p>無垢材の持つ自然の特徴を生かし、厚みのある木材を使用しています。また、天然木のため、濃淡、木目、節など、一枚一枚の表情が異なります。あらかじめご了承ください。ナチュラルな素材感と風合いを大切に本物の良さを引き出して製作しています。使うほどに愛着と風合いが生まれる魅力的な素材です。<br />※実際の色合いと異なる場合がございます。</p>
          </div>
        </div>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl"><span>［無垢材］</span>Solid Wood<small>チェア</small></h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-wood-sw01.jpg' | file_url }}" alt="無垢材" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#sw01">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl"><span>［無垢材］</span>Solid Wood<small>テーブル/ボード/トレー</small></h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-wood-sw02.jpg' | file_url }}" alt="無垢材" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#sw02">詳しくはこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h3 class="selectionSectionCards_ttl"><span>［突板］</span>Veneer<small>テーブル/AVキャビネット/ボード/トレー</small></h3>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-wood-vn.jpg' | file_url }}" alt="突板" width="440" height="220" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#vn">詳しくはこちら</a>
            </div>
          </div>

        </div>

        <div class="selectionSectionCardsNotice">
          <p class="c-red">※木材の種類により金額が変わります。商品ページ、木部選択の際の加算金額をご確認ください。</p>
        </div>

        <h3 class="pageSelection_sectionSubTtl">木部塗色一覧</h3>

        <div id="sw01" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Solid Wood [無垢材] チェア</h4>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">ウォールナット(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-wn-lwn.jpg' | file_url }}" data-lightbox="wood-sw01-wn" data-title="ウォールナット無垢材 ウレタン塗装<br />ライトウォールナット(LWN)"><img src="{{ 'estic-wood-sw01-wn-lwn.jpg' | file_url }}" alt="ウォールナット無垢材 ウレタン塗装 ライトウォールナット(LWN)" width="400" height="400" loading="lazy" /></a><p>ライトウォールナット<br />(LWN)</p></div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">オーク(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-sna.jpg' | file_url }}" data-lightbox="wood-sw01-oa" data-title="オーク無垢材 ウレタン塗装<br />シルキーナチュラル(SNA)(SNA/ROK)"><img src="{{ 'estic-wood-sw01-oa-sna.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 シルキーナチュラル(SNA)(SNA/ROK)" width="400" height="400" loading="lazy" /></a><p>シルキーナチュラル<br />(SNA)(SNA/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-na.jpg' | file_url }}" data-lightbox="wood-sw01-oa" data-title="オーク無垢材 ウレタン塗装<br />ナチュラル(NA)(NA/ROK)"><img src="{{ 'estic-wood-sw01-oa-na.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ナチュラル(NA)(NA/ROK)" width="400" height="400" loading="lazy" /></a><p>ナチュラル<br />(NA)(NA/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-lb.jpg' | file_url }}" data-lightbox="wood-sw01-oa" data-title="オーク無垢材 ウレタン塗装<br />ライトブラウン(LB)(LB/ROK)"><img src="{{ 'estic-wood-sw01-oa-lb.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ライトブラウン(LB)(LB/ROK)" width="400" height="400" loading="lazy" /></a><p>ライトブラウン<br />(LB)(LB/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-ch.jpg' | file_url }}" data-lightbox="wood-sw01-oa" data-title="オーク無垢材 ウレタン塗装<br />チェリー(CH)(CH/ROK)"><img src="{{ 'estic-wood-sw01-oa-ch.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 チェリー(CH)(CH/ROK)" width="400" height="400" loading="lazy" /></a><p>チェリー<br />(CH)(CH/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-db.jpg' | file_url }}" data-lightbox="wood-sw01-oa" data-title="オーク無垢材 ウレタン塗装<br />ダークブラウン(DB)(DB/ROK)"><img src="{{ 'estic-wood-sw01-oa-db.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ダークブラウン(DB)(DB/ROK)" width="400" height="400" loading="lazy" /></a><p>ダークブラウン<br />(DB)(DB/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-we.jpg' | file_url }}" data-lightbox="wood-sw01-oa" data-title="オーク無垢材 ウレタン塗装<br />ウェンジ(WE)(WE/ROK)"><img src="{{ 'estic-wood-sw01-oa-we.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ウェンジ(WE)(WE/ROK)" width="400" height="400" loading="lazy" /></a><p>ウェンジ<br />(WE)(WE/ROK)</p></div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">ビーチ(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-bc-sna.jpg' | file_url }}" data-lightbox="wood-sw01-bc" data-title="ビーチ無垢材 ウレタン塗装<br />シルキーナチュラル(SNA)"><img src="{{ 'estic-wood-sw01-bc-sna.jpg' | file_url }}" alt="ビーチ無垢材 ウレタン塗装 シルキーナチュラル(SNA)" width="400" height="400" loading="lazy" /></a><p>シルキーナチュラル<br />(SNA)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-bc-na.jpg' | file_url }}" data-lightbox="wood-sw01-bc" data-title="ビーチ無垢材 ウレタン塗装<br />ナチュラル(NA)"><img src="{{ 'estic-wood-sw01-bc-na.jpg' | file_url }}" alt="ビーチ無垢材 ウレタン塗装 ナチュラル(NA)" width="400" height="400" loading="lazy" /></a><p>ナチュラル<br />(NA)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-bc-lb.jpg' | file_url }}" data-lightbox="wood-sw01-bc" data-title="ビーチ無垢材 ウレタン塗装<br />ライトブラウン(LB)"><img src="{{ 'estic-wood-sw01-bc-lb.jpg' | file_url }}" alt="ビーチ無垢材 ウレタン塗装 ライトブラウン(LB)" width="400" height="400" loading="lazy" /></a><p>ライトブラウン<br />(LB)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-bc-ch.jpg' | file_url }}" data-lightbox="wood-sw01-bc" data-title="ビーチ無垢材 ウレタン塗装<br />チェリー(CH)"><img src="{{ 'estic-wood-sw01-bc-ch.jpg' | file_url }}" alt="ビーチ無垢材 ウレタン塗装 チェリー(CH)" width="400" height="400" loading="lazy" /></a><p>チェリー<br />(CH)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-bc-db.jpg' | file_url }}" data-lightbox="wood-sw01-bc" data-title="ビーチ無垢材 ウレタン塗装<br />ダークブラウン(DB)"><img src="{{ 'estic-wood-sw01-bc-db.jpg' | file_url }}" alt="ビーチ無垢材 ウレタン塗装 ダークブラウン(DB)" width="400" height="400" loading="lazy" /></a><p>ダークブラウン<br />(DB)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-bc-we.jpg' | file_url }}" data-lightbox="wood-sw01-bc" data-title="ビーチ無垢材 ウレタン塗装<br />ウェンジ(WE)"><img src="{{ 'estic-wood-sw01-bc-we.jpg' | file_url }}" alt="ビーチ無垢材 ウレタン塗装 ウェンジ(WE)" width="400" height="400" loading="lazy" /></a><p>ウェンジ<br />(WE)</p></div>
          </div>

        </div>

        <div id="sw02" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Solid Wood [無垢材] テーブル/ボード/トレー</h4>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">ウォールナット(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-wn-lwn.jpg' | file_url }}" data-lightbox="wood-sw02-wn" data-title="ウォールナット無垢材 ウレタン塗装<br />ライトウォールナット(LWN)"><img src="{{ 'estic-wood-sw01-wn-lwn.jpg' | file_url }}" alt="ウォールナット無垢材 ウレタン塗装 ライトウォールナット(LWN)" width="400" height="400" loading="lazy" /></a><p>ライトウォールナット<br />(LWN)</p></div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">オーク(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-sna.jpg' | file_url }}" data-lightbox="wood-sw02-oa" data-title="オーク無垢材 ウレタン塗装<br />シルキーナチュラル(SNA)(SNA/ROK)"><img src="{{ 'estic-wood-sw01-oa-sna.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 シルキーナチュラル(SNA)(SNA/ROK)" width="400" height="400" loading="lazy" /></a><p>シルキーナチュラル<br />(SNA)(SNA/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-na.jpg' | file_url }}" data-lightbox="wood-sw02-oa" data-title="オーク無垢材 ウレタン塗装<br />ナチュラル(NA)(NA/ROK)"><img src="{{ 'estic-wood-sw01-oa-na.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ナチュラル(NA)(NA/ROK)" width="400" height="400" loading="lazy" /></a><p>ナチュラル<br />(NA)(NA/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-lb.jpg' | file_url }}" data-lightbox="wood-sw02-oa" data-title="オーク無垢材 ウレタン塗装<br />ライトブラウン(LB)(LB/ROK)"><img src="{{ 'estic-wood-sw01-oa-lb.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ライトブラウン(LB)(LB/ROK)" width="400" height="400" loading="lazy" /></a><p>ライトブラウン<br />(LB)(LB/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-ch.jpg' | file_url }}" data-lightbox="wood-sw02-oa" data-title="オーク無垢材 ウレタン塗装<br />チェリー(CH)(CH/ROK)"><img src="{{ 'estic-wood-sw01-oa-ch.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 チェリー(CH)(CH/ROK)" width="400" height="400" loading="lazy" /></a><p>チェリー<br />(CH)(CH/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-db.jpg' | file_url }}" data-lightbox="wood-sw02-oa" data-title="オーク無垢材 ウレタン塗装<br />ダークブラウン(DB)(DB/ROK)"><img src="{{ 'estic-wood-sw01-oa-db.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ダークブラウン(DB)(DB/ROK)" width="400" height="400" loading="lazy" /></a><p>ダークブラウン<br />(DB)(DB/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-sw01-oa-we.jpg' | file_url }}" data-lightbox="wood-sw02-oa" data-title="オーク無垢材 ウレタン塗装<br />ウェンジ(WE)(WE/ROK)"><img src="{{ 'estic-wood-sw01-oa-we.jpg' | file_url }}" alt="オーク無垢材 ウレタン塗装 ウェンジ(WE)(WE/ROK)" width="400" height="400" loading="lazy" /></a><p>ウェンジ<br />(WE)(WE/ROK)</p></div>
          </div>

        </div>

        <div id="vn" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Veneer [突板] テーブル/AVキャビネット/ボード/トレー</h4>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">ウォールナット(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-wn-lwn.jpg' | file_url }}" data-lightbox="wood-vn-wn" data-title="ウォールナット突板 ウレタン塗装<br />ライトウォールナット(LWN)"><img src="{{ 'estic-wood-vn-wn-lwn.jpg' | file_url }}" alt="ウォールナット突板 ウレタン塗装 ライトウォールナット(LWN)" width="400" height="400" loading="lazy" /></a><p>ライトウォールナット<br />(LWN)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-wn-wn.jpg' | file_url }}" data-lightbox="wood-vn-wn" data-title="ウォールナット突板 ウレタン塗装<br />ウォールナット(WN)"><img src="{{ 'estic-wood-vn-wn-wn.jpg' | file_url }}" alt="ウォールナット突板 ウレタン塗装 ウォールナット(WN)" width="400" height="400" loading="lazy" /></a><p>ウォールナット<br />(WN)</p></div>
          </div>

          <div class="selectionSectionUnitsHead">
            <h5 class="h4">オーク(ウレタン塗装）</h5>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-sna.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />シルキーナチュラル(SNA)(SNA/ROK)"><img src="{{ 'estic-wood-vn-oa-sna.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 シルキーナチュラル(SNA)(SNA/ROK)" width="400" height="400" loading="lazy" /></a><p>シルキーナチュラル<br />(SNA)(SNA/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-na.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />ナチュラル(NA)(NA/ROK)"><img src="{{ 'estic-wood-vn-oa-na.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 ナチュラル(NA)(NA/ROK)" width="400" height="400" loading="lazy" /></a><p>ナチュラル<br />(NA)(NA/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-lb.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />ライトブラウン(LB)(LB/ROK)"><img src="{{ 'estic-wood-vn-oa-lb.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 ライトブラウン(LB)(LB/ROK)" width="400" height="400" loading="lazy" /></a><p>ライトブラウン<br />(LB)(LB/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-ch.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />チェリー(CH)(CH/ROK)"><img src="{{ 'estic-wood-vn-oa-ch.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 チェリー(CH)(CH/ROK)" width="400" height="400" loading="lazy" /></a><p>チェリー<br />(CH)(CH/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-db.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />ダークブラウン(DB)(DB/ROK)"><img src="{{ 'estic-wood-vn-oa-db.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 ダークブラウン(DB)(DB/ROK)" width="400" height="400" loading="lazy" /></a><p>ダークブラウン<br />(DB)(DB/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-we.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />ウェンジ(WE)(WE/ROK)"><img src="{{ 'estic-wood-vn-oa-we.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 ウェンジ(WE)(WE/ROK)" width="400" height="400" loading="lazy" /></a><p>ウェンジ<br />(WE)(WE/ROK)</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-wood-vn-oa-na.jpg' | file_url }}" data-lightbox="wood-vn-oa" data-title="オーク突板 ウレタン塗装<br />ナチュラル(NA)"><img src="{{ 'estic-wood-vn-oa-na.jpg' | file_url }}" alt="オーク突板 ウレタン塗装 ナチュラル(NA)" width="400" height="400" loading="lazy" /></a><p>ナチュラル<br />(NA)</p></div>
          </div>

        </div>


      </section>

      <section class="selectionSection">

        <div class="selectionSectionHead">
          <h2 class="pageSelection_sectionTtl">張地について</h2>
        </div>

        <h3 class="pageSelection_itemTtl">FABRIC〜張地ランク〜</h3>
        <p class="pageSelection_itemDesc">エスティックはトレンドの発信地であるイタリアを中心としたヨーロッパの生地にこだわっています。厳しいヨーロッパの検査基準をクリアしたデザイン性の高い上質な生地を取り揃えています。インテリアに合わせてお好きな生地よりお選びいただけます。</p>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">Rank <b>４</b></h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-04.jpg' | file_url }}" alt="エスティック Rank 4" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-04">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">Rank <b>５</b></h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-05.jpg' | file_url }}" alt="エスティック Rank 5" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-05">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">Rank <b>６</b></h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-06.jpg' | file_url }}" alt="エスティック Rank 6" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-06">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">Rank <b>７</b></h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-07.jpg' | file_url }}" alt="エスティック Rank 7" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-07">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">Rank <b>８</b></h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-08.jpg' | file_url }}" alt="エスティック Rank 8" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-08">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">Rank <b>９</b></h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-09.jpg' | file_url }}" alt="エスティック Rank 9" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-09">一覧はこちら</a>
            </div>
          </div>

        </div>

        <h3 class="pageSelection_itemTtl">LEATHER〜張地ランク〜</h3>
        <p class="pageSelection_itemDesc">エスティックの使用する革は、イタリア高級革メーカー・マストロット社製を直輸入。耐久性、柔軟性、伸縮性などに優れた、手触りがソフトでしっかりとした光沢のある高品質の革を使用しています。エスティックが厳選した美しいカラーバリエーションの中からお選びいただけます。</p>

        <div class="selectionSectionCards">

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">本革Premium</h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-lp.jpg' | file_url }}" alt="エスティック 本革Premium" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-lp">一覧はこちら</a>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <h4 class="selectionSectionCards_ttl selectionSectionCards_ttl--b">本革Special</h4>
              <div class="selectionSectionCards_thumb"><img src="{{ 'estic-fabric-ls.jpg' | file_url }}" alt="エスティック 本革Special" width="288" height="130" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p></p>
            </div>
            <div class="selectionSectionCards_item-foot">
              <a class="selectionSectionCards_btn button-primary" href="#fabric-ls">一覧はこちら</a>
            </div>
          </div>

        </div>

        <div class="selectionSectionCardsNotice">
          <p class="c-red">※張地はランク（4〜9・本革）によって料金が変わります。商品ページ、張地選択の際の加算金額をご確認ください。</p>
        </div>

        <h3 class="pageSelection_itemTtl">説明</h3>

        <h4>洗濯について</h4>

        <div class="selectionSectionCards selectionSectionCards--function">
          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="56" height="56" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>ご家庭での洗濯（洗濯機による弱い操作）が可能です。詳しくは洗濯表示をご確認ください。</p>
            </div>
          </div>

          <div class="selectionSectionCards_item">
            <div class="selectionSectionCards_item-head">
              <div class="selectionSectionCards_thumb"><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></div>
            </div>
            <div class="selectionSectionCards_item-body">
              <p>アクアクリーン加工が施されているため、「水」だけで日常での汚れを取り除くことができます。</p>
            </div>
          </div>
        </div>

        <h3 class="pageSelection_sectionSubTtl">張地一覧</h3>

        <div id="fabric-04" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Rank <b>4</b></h4>
          <h5 class="pageSelection_itemSubTtl">MADE IN SPAIN</h5>
          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>ポリエステル53％ ポリプロピレン30％ コットン17％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4240.jpg' | file_url }}" data-lightbox="fabric-04-a" data-title="No.4240"><img src="{{ 'estic-fabric-04-4240.jpg' | file_url }}" alt="エスティック No.4240" width="400" height="400" loading="lazy" /></a><p>No.4240</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4241.jpg' | file_url }}" data-lightbox="fabric-04-a" data-title="No.4241"><img src="{{ 'estic-fabric-04-4241.jpg' | file_url }}" alt="エスティック No.4241" width="400" height="400" loading="lazy" /></a><p>No.4241</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4242.jpg' | file_url }}" data-lightbox="fabric-04-a" data-title="No.4242"><img src="{{ 'estic-fabric-04-4242.jpg' | file_url }}" alt="エスティック No.4242" width="400" height="400" loading="lazy" /></a><p>No.4242</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4243.jpg' | file_url }}" data-lightbox="fabric-04-a" data-title="No.4243"><img src="{{ 'estic-fabric-04-4243.jpg' | file_url }}" alt="エスティック No.4243" width="400" height="400" loading="lazy" /></a><p>No.4243</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4244.jpg' | file_url }}" data-lightbox="fabric-04-a" data-title="No.4244"><img src="{{ 'estic-fabric-04-4244.jpg' | file_url }}" alt="エスティック No.4244" width="400" height="400" loading="lazy" /></a><p>No.4244</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
              <li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li>
            </ul>
            <p>ポリエステル56％ コットン44％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4280.jpg' | file_url }}" data-lightbox="fabric-04-b" data-title="No.4280"><img src="{{ 'estic-fabric-04-4280.jpg' | file_url }}" alt="エスティック No.4280" width="400" height="400" loading="lazy" /></a><p>No.4280</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4281.jpg' | file_url }}" data-lightbox="fabric-04-b" data-title="No.4281"><img src="{{ 'estic-fabric-04-4281.jpg' | file_url }}" alt="エスティック No.4281" width="400" height="400" loading="lazy" /></a><p>No.4281</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4282.jpg' | file_url }}" data-lightbox="fabric-04-b" data-title="No.4282"><img src="{{ 'estic-fabric-04-4282.jpg' | file_url }}" alt="エスティック No.4282" width="400" height="400" loading="lazy" /></a><p>No.4282</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4283.jpg' | file_url }}" data-lightbox="fabric-04-b" data-title="No.4283"><img src="{{ 'estic-fabric-04-4283.jpg' | file_url }}" alt="エスティック No.4283" width="400" height="400" loading="lazy" /></a><p>No.4283</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4284.jpg' | file_url }}" data-lightbox="fabric-04-b" data-title="No.4284"><img src="{{ 'estic-fabric-04-4284.jpg' | file_url }}" alt="エスティック No.4284" width="400" height="400" loading="lazy" /></a><p>No.4284</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
              <li><img class="icon_aquaclean" src="{{ 'icon_aquaclean.png' | file_url }}" alt="アクアクリーン加工" width="80" height="20" loading="lazy"></li>
            </ul>
            <p>ポリエステル100％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4300.jpg' | file_url }}" data-lightbox="fabric-04-c" data-title="No.4300"><img src="{{ 'estic-fabric-04-4300.jpg' | file_url }}" alt="エスティック No.4300" width="400" height="400" loading="lazy" /></a><p>No.4300</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4301.jpg' | file_url }}" data-lightbox="fabric-04-c" data-title="No.4301"><img src="{{ 'estic-fabric-04-4301.jpg' | file_url }}" alt="エスティック No.4301" width="400" height="400" loading="lazy" /></a><p>No.4301</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4302.jpg' | file_url }}" data-lightbox="fabric-04-c" data-title="No.4302"><img src="{{ 'estic-fabric-04-4302.jpg' | file_url }}" alt="エスティック No.4302" width="400" height="400" loading="lazy" /></a><p>No.4302</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4303.jpg' | file_url }}" data-lightbox="fabric-04-c" data-title="No.4303"><img src="{{ 'estic-fabric-04-4303.jpg' | file_url }}" alt="エスティック No.4303" width="400" height="400" loading="lazy" /></a><p>No.4303</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4304.jpg' | file_url }}" data-lightbox="fabric-04-c" data-title="No.4304"><img src="{{ 'estic-fabric-04-4304.jpg' | file_url }}" alt="エスティック No.4304" width="400" height="400" loading="lazy" /></a><p>No.4304</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4305.jpg' | file_url }}" data-lightbox="fabric-04-c" data-title="No.4305"><img src="{{ 'estic-fabric-04-4305.jpg' | file_url }}" alt="エスティック No.4305" width="400" height="400" loading="lazy" /></a><p>No.4305</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>
          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>アクリル44％ ポリエステル40％ コットン16％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4310.jpg' | file_url }}" data-lightbox="fabric-04-d" data-title="No.4310"><img src="{{ 'estic-fabric-04-4310.jpg' | file_url }}" alt="エスティック No.4310" width="400" height="400" loading="lazy" /></a><p>No.4310</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4311.jpg' | file_url }}" data-lightbox="fabric-04-d" data-title="No.4311"><img src="{{ 'estic-fabric-04-4311.jpg' | file_url }}" alt="エスティック No.4311" width="400" height="400" loading="lazy" /></a><p>No.4311</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4312.jpg' | file_url }}" data-lightbox="fabric-04-d" data-title="No.4312"><img src="{{ 'estic-fabric-04-4312.jpg' | file_url }}" alt="エスティック No.4312" width="400" height="400" loading="lazy" /></a><p>No.4312</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN BELGIUM</h5>
          <div class="pageSelection_itemdesc">
            <p>ポリエステル65％ アクリル24％ ビスコース11％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4810.jpg' | file_url }}" data-lightbox="fabric-04-e" data-title="No.4810"><img src="{{ 'estic-fabric-04-4810.jpg' | file_url }}" alt="エスティック No.4810" width="400" height="400" loading="lazy" /></a><p>No.4810</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-04-4811.jpg' | file_url }}" data-lightbox="fabric-04-e" data-title="No.4811"><img src="{{ 'estic-fabric-04-4811.jpg' | file_url }}" alt="エスティック No.4811" width="400" height="400" loading="lazy" /></a><p>No.4811</p></div>
          </div>

        </div>

        <div id="fabric-05" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Rank <b>5</b></h4>
          <h5 class="pageSelection_itemSubTtl">MADE IN SPAIN</h5>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>ポリプロピレン49％ ポリエステル47％ コットン4％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-3681.jpg' | file_url }}" data-lightbox="fabric-05-a" data-title="No.3681"><img src="{{ 'estic-fabric-05-3681.jpg' | file_url }}" alt="エスティック No.3681" width="400" height="400" loading="lazy" /></a><p>No.3681</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-3682.jpg' | file_url }}" data-lightbox="fabric-05-a" data-title="No.3682"><img src="{{ 'estic-fabric-05-3682.jpg' | file_url }}" alt="エスティック No.3682" width="400" height="400" loading="lazy" /></a><p>No.3682</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-3683.jpg' | file_url }}" data-lightbox="fabric-05-a" data-title="No.3683"><img src="{{ 'estic-fabric-05-3683.jpg' | file_url }}" alt="エスティック No.3683" width="400" height="400" loading="lazy" /></a><p>No.3683</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-3684.jpg' | file_url }}" data-lightbox="fabric-05-a" data-title="No.3684"><img src="{{ 'estic-fabric-05-3684.jpg' | file_url }}" alt="エスティック No.3684" width="400" height="400" loading="lazy" /></a><p>No.3684</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-3685.jpg' | file_url }}" data-lightbox="fabric-05-a" data-title="No.3685"><img src="{{ 'estic-fabric-05-3685.jpg' | file_url }}" alt="エスティック No.3685" width="400" height="400" loading="lazy" /></a><p>No.3685</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-3688.jpg' | file_url }}" data-lightbox="fabric-05-a" data-title="No.3688"><img src="{{ 'estic-fabric-05-3688.jpg' | file_url }}" alt="エスティック No.3688" width="400" height="400" loading="lazy" /></a><p>No.3688</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>
          <div class="pageSelection_itemdesc">
            <p>コットン63％ リネン37％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-4272.jpg' | file_url }}" data-lightbox="fabric-05-b" data-title="No.4272"><img src="{{ 'estic-fabric-05-4272.jpg' | file_url }}" alt="エスティック No.4272" width="400" height="400" loading="lazy" /></a><p>No.4272</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-4273.jpg' | file_url }}" data-lightbox="fabric-05-b" data-title="No.4273"><img src="{{ 'estic-fabric-05-4273.jpg' | file_url }}" alt="エスティック No.4273" width="400" height="400" loading="lazy" /></a><p>No.4273</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-4274.jpg' | file_url }}" data-lightbox="fabric-05-b" data-title="No.4274"><img src="{{ 'estic-fabric-05-4274.jpg' | file_url }}" alt="エスティック No.4274" width="400" height="400" loading="lazy" /></a><p>No.4274</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-4275.jpg' | file_url }}" data-lightbox="fabric-05-b" data-title="No.4275"><img src="{{ 'estic-fabric-05-4275.jpg' | file_url }}" alt="エスティック No.4275" width="400" height="400" loading="lazy" /></a><p>No.4275</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN SPAIN</h5>
          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>ポリエステル48％ ポリプロピレン32％ コットン20％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-5135.jpg' | file_url }}" data-lightbox="fabric-05-c" data-title="No.5135"><img src="{{ 'estic-fabric-05-5135.jpg' | file_url }}" alt="エスティック No.5135" width="400" height="400" loading="lazy" /></a><p>No.5135</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-5136.jpg' | file_url }}" data-lightbox="fabric-05-c" data-title="No.5136"><img src="{{ 'estic-fabric-05-5136.jpg' | file_url }}" alt="エスティック No.5136" width="400" height="400" loading="lazy" /></a><p>No.5136</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-5137.jpg' | file_url }}" data-lightbox="fabric-05-c" data-title="No.5137"><img src="{{ 'estic-fabric-05-5137.jpg' | file_url }}" alt="エスティック No.5137" width="400" height="400" loading="lazy" /></a><p>No.5137</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>ポリプロピレン55％ ポリエステル39％ コットン6％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-5140.jpg' | file_url }}" data-lightbox="fabric-05-d" data-title="No.5140"><img src="{{ 'estic-fabric-05-5140.jpg' | file_url }}" alt="エスティック No.5140" width="400" height="400" loading="lazy" /></a><p>No.5140</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-05-5141.jpg' | file_url }}" data-lightbox="fabric-05-d" data-title="No.5141"><img src="{{ 'estic-fabric-05-5141.jpg' | file_url }}" alt="エスティック No.5141" width="400" height="400" loading="lazy" /></a><p>No.5141</p></div>
          </div>
        </div>

        <div id="fabric-06" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Rank <b>6</b></h4>
          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>

          <div class="pageSelection_itemdesc">
            <p>ビスコース42％ コットン38％ アクリル14％ ポリエステル6％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6100.jpg' | file_url }}" data-lightbox="fabric-06-a" data-title="No.6100"><img src="{{ 'estic-fabric-06-6100.jpg' | file_url }}" alt="エスティック No.6100" width="400" height="400" loading="lazy" /></a><p>No.6100</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6101.jpg' | file_url }}" data-lightbox="fabric-06-a" data-title="No.6101"><img src="{{ 'estic-fabric-06-6101.jpg' | file_url }}" alt="エスティック No.6101" width="400" height="400" loading="lazy" /></a><p>No.6101</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6102.jpg' | file_url }}" data-lightbox="fabric-06-a" data-title="No.6102"><img src="{{ 'estic-fabric-06-6102.jpg' | file_url }}" alt="エスティック No.6102" width="400" height="400" loading="lazy" /></a><p>No.6102</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6103.jpg' | file_url }}" data-lightbox="fabric-06-a" data-title="No.6103"><img src="{{ 'estic-fabric-06-6103.jpg' | file_url }}" alt="エスティック No.6103" width="400" height="400" loading="lazy" /></a><p>No.6103</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN SPAIN</h5>
          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>ポリエステル91％ コットン9％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6110.jpg' | file_url }}" data-lightbox="fabric-06-b" data-title="No.6110"><img src="{{ 'estic-fabric-06-6110.jpg' | file_url }}" alt="エスティック No.6110" width="400" height="400" loading="lazy" /></a><p>No.6110</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6111.jpg' | file_url }}" data-lightbox="fabric-06-b" data-title="No.6111"><img src="{{ 'estic-fabric-06-6111.jpg' | file_url }}" alt="エスティック No.6111" width="400" height="400" loading="lazy" /></a><p>No.6111</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6112.jpg' | file_url }}" data-lightbox="fabric-06-b" data-title="No.6112"><img src="{{ 'estic-fabric-06-6112.jpg' | file_url }}" alt="エスティック No.6112" width="400" height="400" loading="lazy" /></a><p>No.6112</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6113.jpg' | file_url }}" data-lightbox="fabric-06-b" data-title="No.6113"><img src="{{ 'estic-fabric-06-6113.jpg' | file_url }}" alt="エスティック No.6113" width="400" height="400" loading="lazy" /></a><p>No.6113</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6114.jpg' | file_url }}" data-lightbox="fabric-06-b" data-title="No.6114"><img src="{{ 'estic-fabric-06-6114.jpg' | file_url }}" alt="エスティック No.6114" width="400" height="400" loading="lazy" /></a><p>No.6114</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>ポリプロピレン80％ ポリエステル15％ コットン5％(内3％other fiber)</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6120.jpg' | file_url }}" data-lightbox="fabric-06-c" data-title="No.6120"><img src="{{ 'estic-fabric-06-6120.jpg' | file_url }}" alt="エスティック No.6120" width="400" height="400" loading="lazy" /></a><p>No.6120</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6121.jpg' | file_url }}" data-lightbox="fabric-06-c" data-title="No.6121"><img src="{{ 'estic-fabric-06-6121.jpg' | file_url }}" alt="エスティック No.6121" width="400" height="400" loading="lazy" /></a><p>No.6121</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6122.jpg' | file_url }}" data-lightbox="fabric-06-c" data-title="No.6122"><img src="{{ 'estic-fabric-06-6122.jpg' | file_url }}" alt="エスティック No.6122" width="400" height="400" loading="lazy" /></a><p>No.6122</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>
          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_washable" src="{{ 'icon_washable.png' | file_url }}" alt="ウォッシャブル" width="35" height="35" loading="lazy"></li>
            </ul>
            <p>ポリアクリル68％ ポリエステル16％ コットン16％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6130.jpg' | file_url }}" data-lightbox="fabric-06-d" data-title="No.6130"><img src="{{ 'estic-fabric-06-6130.jpg' | file_url }}" alt="エスティック No.6130" width="400" height="400" loading="lazy" /></a><p>No.6130</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6131.jpg' | file_url }}" data-lightbox="fabric-06-d" data-title="No.6131"><img src="{{ 'estic-fabric-06-6131.jpg' | file_url }}" alt="エスティック No.6131" width="400" height="400" loading="lazy" /></a><p>No.6131</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6132.jpg' | file_url }}" data-lightbox="fabric-06-d" data-title="No.6132"><img src="{{ 'estic-fabric-06-6132.jpg' | file_url }}" alt="エスティック No.6132" width="400" height="400" loading="lazy" /></a><p>No.6132</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-06-6133.jpg' | file_url }}" data-lightbox="fabric-06-d" data-title="No.6133"><img src="{{ 'estic-fabric-06-6133.jpg' | file_url }}" alt="エスティック No.6133" width="400" height="400" loading="lazy" /></a><p>No.6133</p></div>
          </div>

        </div>

        <div id="fabric-07" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Rank <b>7</b></h4>
          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>
          <div class="pageSelection_itemdesc">
            <p>コットン38％ アクリル38％ ポリエステル16％ ウール6％ レーヨン2％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-6027.jpg' | file_url }}" data-lightbox="fabric-07-a" data-title="No.6027"><img src="{{ 'estic-fabric-07-6027.jpg' | file_url }}" alt="エスティック No.6027" width="400" height="400" loading="lazy" /></a><p>No.6027</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-6028.jpg' | file_url }}" data-lightbox="fabric-07-a" data-title="No.6028"><img src="{{ 'estic-fabric-07-6028.jpg' | file_url }}" alt="エスティック No.6028" width="400" height="400" loading="lazy" /></a><p>No.6028</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>アクリル40％ ビスコース40％ コットン10％ ポリエステル10％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7060.jpg' | file_url }}" data-lightbox="fabric-07-b" data-title="No.7060"><img src="{{ 'estic-fabric-07-7060.jpg' | file_url }}" alt="エスティック No.7060" width="400" height="400" loading="lazy" /></a><p>No.7060</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7062.jpg' | file_url }}" data-lightbox="fabric-07-b" data-title="No.7062"><img src="{{ 'estic-fabric-07-7062.jpg' | file_url }}" alt="エスティック No.7062" width="400" height="400" loading="lazy" /></a><p>No.7062</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7063.jpg' | file_url }}" data-lightbox="fabric-07-b" data-title="No.7063"><img src="{{ 'estic-fabric-07-7063.jpg' | file_url }}" alt="エスティック No.7063" width="400" height="400" loading="lazy" /></a><p>No.7063</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>ビスコース49％ ポリエステル21％ アクリル15％ リネン9％ コットン6％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7070.jpg' | file_url }}" data-lightbox="fabric-07-c" data-title="No.7070"><img src="{{ 'estic-fabric-07-7070.jpg' | file_url }}" alt="エスティック No.7070" width="400" height="400" loading="lazy" /></a><p>No.7070</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7071.jpg' | file_url }}" data-lightbox="fabric-07-c" data-title="No.7071"><img src="{{ 'estic-fabric-07-7071.jpg' | file_url }}" alt="エスティック No.7071" width="400" height="400" loading="lazy" /></a><p>No.7071</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>アクリル35％ ポリエステル28％ウール22％ コットン15％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7090.jpg' | file_url }}" data-lightbox="fabric-07-d" data-title="No.7090"><img src="{{ 'estic-fabric-07-7090.jpg' | file_url }}" alt="エスティック No.7090" width="400" height="400" loading="lazy" /></a><p>No.7090</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>ポリエステル37％ ポリアクリル21％ ビスコース19％ コットン14％リネン8％ ポリアミド1％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7100.jpg' | file_url }}" data-lightbox="fabric-07-e" data-title="No.7100"><img src="{{ 'estic-fabric-07-7100.jpg' | file_url }}" alt="エスティック No.7100" width="400" height="400" loading="lazy" /></a><p>No.7100</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-07-7101.jpg' | file_url }}" data-lightbox="fabric-07-e" data-title="No.7101"><img src="{{ 'estic-fabric-07-7101.jpg' | file_url }}" alt="エスティック No.7101" width="400" height="400" loading="lazy" /></a><p>No.7101</p></div>
          </div>

        </div>

        <div id="fabric-08" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Rank <b>8</b></h4>
          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>

          <div class="pageSelection_itemdesc">
            <p>シカクコットン50％ ビスコース33％ リネン17％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8055.jpg' | file_url }}" data-lightbox="fabric-08-a" data-title="No.8055"><img src="{{ 'estic-fabric-08-8055.jpg' | file_url }}" alt="エスティック No.8055" width="400" height="400" loading="lazy" /></a><p>No.8055</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8056.jpg' | file_url }}" data-lightbox="fabric-08-a" data-title="No.8056"><img src="{{ 'estic-fabric-08-8056.jpg' | file_url }}" alt="エスティック No.8056" width="400" height="400" loading="lazy" /></a><p>No.8056</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>ビスコース56％ コットン28％ リネン8％ ポリエステル5％ アクリル3％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8060.jpg' | file_url }}" data-lightbox="fabric-08-b" data-title="No.8060"><img src="{{ 'estic-fabric-08-8060.jpg' | file_url }}" alt="エスティック No.8060" width="400" height="400" loading="lazy" /></a><p>No.8060</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8061.jpg' | file_url }}" data-lightbox="fabric-08-b" data-title="No.8061"><img src="{{ 'estic-fabric-08-8061.jpg' | file_url }}" alt="エスティック No.8061" width="400" height="400" loading="lazy" /></a><p>No.8061</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>コットン56％ ビスコース30％ リネン14％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8085.jpg' | file_url }}" data-lightbox="fabric-08-c" data-title="No.8085"><img src="{{ 'estic-fabric-08-8085.jpg' | file_url }}" alt="エスティック No.8085" width="400" height="400" loading="lazy" /></a><p>No.8085</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8086.jpg' | file_url }}" data-lightbox="fabric-08-c" data-title="No.8086"><img src="{{ 'estic-fabric-08-8086.jpg' | file_url }}" alt="エスティック No.8086" width="400" height="400" loading="lazy" /></a><p>No.8086</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8087.jpg' | file_url }}" data-lightbox="fabric-08-c" data-title="No.8087"><img src="{{ 'estic-fabric-08-8087.jpg' | file_url }}" alt="エスティック No.8087" width="400" height="400" loading="lazy" /></a><p>No.8087</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_cushion" src="{{ 'icon_cushion.png' | file_url }}" alt="クッション専用" width="100" height="20" loading="lazy"></li>
            </ul>
            <p>コットン52％ ビスコース20％ ウール18％ リネン10％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8090.jpg' | file_url }}" data-lightbox="fabric-08-d" data-title="No.8090"><img src="{{ 'estic-fabric-08-8090.jpg' | file_url }}" alt="エスティック No.8090" width="400" height="400" loading="lazy" /></a><p>No.8090</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8092.jpg' | file_url }}" data-lightbox="fabric-08-d" data-title="No.8092"><img src="{{ 'estic-fabric-08-8092.jpg' | file_url }}" alt="エスティック No.8092" width="400" height="400" loading="lazy" /></a><p>No.8092</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <p>コットン50％ ビスコース25％ リネン13％ アクリル9％ ウール3％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8100.jpg' | file_url }}" data-lightbox="fabric-08-e" data-title="No.8100"><img src="{{ 'estic-fabric-08-8100.jpg' | file_url }}" alt="エスティック No.8100" width="400" height="400" loading="lazy" /></a><p>No.8100</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8101.jpg' | file_url }}" data-lightbox="fabric-08-e" data-title="No.8101"><img src="{{ 'estic-fabric-08-8101.jpg' | file_url }}" alt="エスティック No.8101" width="400" height="400" loading="lazy" /></a><p>No.8101</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8102.jpg' | file_url }}" data-lightbox="fabric-08-e" data-title="No.8102"><img src="{{ 'estic-fabric-08-8102.jpg' | file_url }}" alt="エスティック No.8102" width="400" height="400" loading="lazy" /></a><p>No.8102</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8103.jpg' | file_url }}" data-lightbox="fabric-08-e" data-title="No.8103"><img src="{{ 'estic-fabric-08-8103.jpg' | file_url }}" alt="エスティック No.8103" width="400" height="400" loading="lazy" /></a><p>No.8103</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_cushion" src="{{ 'icon_cushion.png' | file_url }}" alt="クッション専用" width="100" height="20" loading="lazy"></li>
            </ul>
            <p>コットン60％ ビスコース25％ リネン15％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8108.jpg' | file_url }}" data-lightbox="fabric-08-f" data-title="No.8108"><img src="{{ 'estic-fabric-08-8108.jpg' | file_url }}" alt="エスティック No.8108" width="400" height="400" loading="lazy" /></a><p>No.8108</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8109.jpg' | file_url }}" data-lightbox="fabric-08-f" data-title="No.8109"><img src="{{ 'estic-fabric-08-8109.jpg' | file_url }}" alt="エスティック No.8109" width="400" height="400" loading="lazy" /></a><p>No.8109</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            <ul>
              <li><img class="icon_cushion" src="{{ 'icon_cushion.png' | file_url }}" alt="クッション専用" width="100" height="20" loading="lazy"></li>
            </ul>
            <p>ビスコース65％ ポリエステル30％ コットン5％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8120.jpg' | file_url }}" data-lightbox="fabric-08-g" data-title="No.8120"><img src="{{ 'estic-fabric-08-8120.jpg' | file_url }}" alt="エスティック No.8120" width="400" height="400" loading="lazy" /></a><p>No.8120</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8121.jpg' | file_url }}" data-lightbox="fabric-08-g" data-title="No.8121"><img src="{{ 'estic-fabric-08-8121.jpg' | file_url }}" alt="エスティック No.8121" width="400" height="400" loading="lazy" /></a><p>No.8121</p></div>
          </div>

          <div class="pageSelection_itemdesc">
            </ul>
            <p>アクリル48％ ポリエステル22％ ジュート14％ コットン10％ ビスコース6％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8130.jpg' | file_url }}" data-lightbox="fabric-08-h" data-title="No.8130"><img src="{{ 'estic-fabric-08-8130.jpg' | file_url }}" alt="エスティック No.8130" width="400" height="400" loading="lazy" /></a><p>No.8130</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8131.jpg' | file_url }}" data-lightbox="fabric-08-h" data-title="No.8131"><img src="{{ 'estic-fabric-08-8131.jpg' | file_url }}" alt="エスティック No.8131" width="400" height="400" loading="lazy" /></a><p>No.8131</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-08-8132.jpg' | file_url }}" data-lightbox="fabric-08-h" data-title="No.8132"><img src="{{ 'estic-fabric-08-8132.jpg' | file_url }}" alt="エスティック No.8132" width="400" height="400" loading="lazy" /></a><p>No.8132</p></div>
          </div>

        </div>

        <div id="fabric-09" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">Rank <b>9</b></h4>
          <h5 class="pageSelection_itemSubTtl">MADE IN ITALY</h5>

          <div class="pageSelection_itemdesc">
            <p>コットン100％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9300.jpg' | file_url }}" data-lightbox="fabric-09-a" data-title="No.9300"><img src="{{ 'estic-fabric-09-9300.jpg' | file_url }}" alt="エスティック No.9300" width="400" height="400" loading="lazy" /></a><p>No.9300</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9301.jpg' | file_url }}" data-lightbox="fabric-09-a" data-title="No.9301"><img src="{{ 'estic-fabric-09-9301.jpg' | file_url }}" alt="エスティック No.9301" width="400" height="400" loading="lazy" /></a><p>No.9301</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9305.jpg' | file_url }}" data-lightbox="fabric-09-a" data-title="No.9305"><img src="{{ 'estic-fabric-09-9305.jpg' | file_url }}" alt="エスティック No.9305" width="400" height="400" loading="lazy" /></a><p>No.9305</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9310.jpg' | file_url }}" data-lightbox="fabric-09-a" data-title="No.9310"><img src="{{ 'estic-fabric-09-9310.jpg' | file_url }}" alt="エスティック No.9310" width="400" height="400" loading="lazy" /></a><p>No.9310</p></div>
          </div>

          <h5 class="pageSelection_itemSubTtl">MADE IN NETHERLANDS</h5>
          <div class="pageSelection_itemdesc">
            <p>アクリル28％ コットン24％ ビスコース20％ ウール16％ ポリエステル12％</p>
          </div>

          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9320.jpg' | file_url }}" data-lightbox="fabric-09-b" data-title="No.9320"><img src="{{ 'estic-fabric-09-9320.jpg' | file_url }}" alt="エスティック No.9320" width="400" height="400" loading="lazy" /></a><p>No.9320</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9321.jpg' | file_url }}" data-lightbox="fabric-09-b" data-title="No.9321"><img src="{{ 'estic-fabric-09-9321.jpg' | file_url }}" alt="エスティック No.9321" width="400" height="400" loading="lazy" /></a><p>No.9321</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9322.jpg' | file_url }}" data-lightbox="fabric-09-b" data-title="No.9322"><img src="{{ 'estic-fabric-09-9322.jpg' | file_url }}" alt="エスティック No.9322" width="400" height="400" loading="lazy" /></a><p>No.9322</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9323.jpg' | file_url }}" data-lightbox="fabric-09-b" data-title="No.9323"><img src="{{ 'estic-fabric-09-9323.jpg' | file_url }}" alt="エスティック No.9323" width="400" height="400" loading="lazy" /></a><p>No.9323</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-09-9324.jpg' | file_url }}" data-lightbox="fabric-09-b" data-title="No.9324"><img src="{{ 'estic-fabric-09-9324.jpg' | file_url }}" alt="エスティック No.9324" width="400" height="400" loading="lazy" /></a><p>No.9324</p></div>
          </div>

        </div>

        <div id="fabric-lp" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">本革Premium</h4>
          <div class="selectionSectionUnits">
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-301.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP301WH<br />ピュアホワイト"><img src="{{ 'estic-fabric-lp-301.jpg' | file_url }}" alt="エスティック No.LP301WH ピュアホワイト" width="400" height="400" loading="lazy" /></a><p>No.LP301WH<br />ピュアホワイト</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-253.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP253IV<br />シャドーアイボリー"><img src="{{ 'estic-fabric-lp-253.jpg' | file_url }}" alt="エスティック No.LP253IV シャドーアイボリー" width="400" height="400" loading="lazy" /></a><p>No.LP253IV<br />シャドーアイボリー</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-292.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP292BE<br />サンドベージュ"><img src="{{ 'estic-fabric-lp-292.jpg' | file_url }}" alt="エスティック No.LP292BE サンドベージュ" width="400" height="400" loading="lazy" /></a><p>No.LP292BE<br />サンドベージュ</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-223.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP223BR<br />キャメルブラウン"><img src="{{ 'estic-fabric-lp-223.jpg' | file_url }}" alt="エスティック No.LP223BR キャメルブラウン" width="400" height="400" loading="lazy" /></a><p>No.LP223BR<br />キャメルブラウン</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-298.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP298BR<br />ダークブラウン"><img src="{{ 'estic-fabric-lp-298.jpg' | file_url }}" alt="エスティック No.LP298BR ダークブラウン" width="400" height="400" loading="lazy" /></a><p>No.LP298BR<br />ダークブラウン</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-248.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP248RE<br />ディープレッド"><img src="{{ 'estic-fabric-lp-248.jpg' | file_url }}" alt="エスティック No.LP248RE ディープレッド" width="400" height="400" loading="lazy" /></a><p>No.LP248RE<br />ディープレッド</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-209.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP209GL<br />ライトグレー"><img src="{{ 'estic-fabric-lp-209.jpg' | file_url }}" alt="エスティック No.LP209GL ライトグレー" width="400" height="400" loading="lazy" /></a><p>No.LP209GL<br />ライトグレー</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-210.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP210GL<br />ウォームグレー"><img src="{{ 'estic-fabric-lp-210.jpg' | file_url }}" alt="エスティック No.LP210GL ウォームグレー" width="400" height="400" loading="lazy" /></a><p>No.LP210GL<br />ウォームグレー</p></div>
            <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-lp-207.jpg' | file_url }}" data-lightbox="fabric-lp" data-title="No.LP207BK<br />プレミアムブラック"><img src="{{ 'estic-fabric-lp-207.jpg' | file_url }}" alt="エスティック No.LP207BK プレミアムブラック" width="400" height="400" loading="lazy" /></a><p>No.LP207BK<br />プレミアムブラック</p></div>
          </div>
        </div>

        <div id="fabric-ls" class="selectionSectionItem">
          <h4 class="pageSelection_itemTtl">本革Special</h4>
        </div>

        <div class="selectionSectionUnits">
          <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-ls-11wh.jpg' | file_url }}" data-lightbox="fabric-ls" data-title="No.L11WH<br />ホワイト"><img src="{{ 'estic-fabric-ls-11wh.jpg' | file_url }}" alt="エスティック No.L11WH ホワイト" width="400" height="400" loading="lazy" /></a><p>No.L11WH<br />ホワイト</p></div>
          <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-ls-12br.jpg' | file_url }}" data-lightbox="fabric-ls" data-title="No.L12BR<br />ブラウン"><img src="{{ 'estic-fabric-ls-12br.jpg' | file_url }}" alt="エスティック No.L12BR ブラウン" width="400" height="400" loading="lazy" /></a><p>No.L12BR<br />ブラウン</p></div>
          <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-ls-13bk.jpg' | file_url }}" data-lightbox="fabric-ls" data-title="No.L13BK<br />ブラック"><img src="{{ 'estic-fabric-ls-13bk.jpg' | file_url }}" alt="エスティック No.L13BK ブラック" width="400" height="400" loading="lazy" /></a><p>No.L13BK<br />ブラック</p></div>
          <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-ls-14iv.jpg' | file_url }}" data-lightbox="fabric-ls" data-title="No.L14IV<br />アイボリー"><img src="{{ 'estic-fabric-ls-14iv.jpg' | file_url }}" alt="エスティック No.L14IV アイボリー" width="400" height="400" loading="lazy" /></a><p>No.L14IV<br />アイボリー</p></div>
          <div class="selectionSectionUnits_item"><a href="{{ 'estic-fabric-ls-15ca.jpg' | file_url }}" data-lightbox="fabric-ls" data-title="No.L15CA<br />キャメル"><img src="{{ 'estic-fabric-ls-15ca.jpg' | file_url }}" alt="エスティック No.L15CA キャメル" width="400" height="400" loading="lazy" /></a><p>No.L15CA<br />キャメル</p></div>
        </div>

      </section>

    </div>
  </main>
</article>
