{% render 'breadcrumbs' %}
<article class="site-page rte" data-template-page>
  <header class="page-masthead">
    <div class="page-masthead--body">
      <div class="page-masthead--body--inner">
        <h1 class="page-masthead--body_title page-title">{{ page.title }}</h1>
        <img src="{{ 'about_logo.png' | file_url }}" alt="JIAS ONLINE ジアスオンライン" class="page-masthead--body_logo">
      </div>
    </div>
    <div class="page-masthead--thumb" style="--background: url('{{ 'about_i01.jpg' | file_url }}');"></div>
  </header>
  <main class="aboutMain">
    <section class="aboutMainIntro">
      <div class="page-content">
        <div class="aboutMainIntro-thumb">
          <picture>
            <source media="(min-width: 720px)" srcset="{{ 'about_i02.jpg' | file_url }}" />
            <img alt="" loading="lazy" src="{{ 'about_i02_sp.jpg' | file_url }}" width="780" height="450" />
          </picture>
        </div>
        <div class="aboutMainIntro-body">
          <h2 class="aboutMainIntro-body_title sectionTtl">暮らすをもっと、ずっと豊かに。<br>あなたとつながる特別な場所。</h2>
          <div class="aboutMainIntro-body_desc">
            <p>JIAS ONLINEは、ジアスがお客様一人ひとりの<br />ライフスタイルに寄り添うもうひとつの場所。<br />ショールームだけではなく<br />いつでも、どこからでもジアスの世界観をご体感いただけます。</p>
            <p>いつか手元に置きたい雑貨たちに心を踊らせたり、<br />自分の新たな「好き」を発見するきっかけを見つけたり。<br />毎日の暮らしの中で「ジアスとあなた」が<br />多様で自由な「豊かさ」をシェアできる、<br />特別な存在であるために。<br />2つの関係性をつなぐ記号である「; (セミコロン)」をシンボルに掲げ、<br />暮らすをもっと、ずっと豊かにする<br />インテリアとヒントをお届けいたします。</p>
          </div>
        </div>
      </div>
    </section>

    <section class="aboutMainUse">
      <div class="page-content">
        <div class="aboutMainUse-hero">
          <picture>
            <source media="(min-width: 720px)" srcset="{{ 'about_i03.jpg' | file_url }}" />
            <img alt="" loading="lazy" src="{{ 'about_i03_sp.jpg' | file_url }}" width="780" height="450" />
          </picture>
        </div>
        <div class="aboutMainUse-titleWrap">
          <h2 class="aboutMainUse-title sectionTtl">JIAS ONLINEの<span class="d_ib">使い方</span></h2>
        </div>

        <div class="aboutMainUse-box aboutMainUse-box_reverse">
          <div class="aboutMainUse-box-thumb">
            <picture>
              <source media="(min-width: 720px)" srcset="{{ 'about_i04.jpg' | file_url }}" />
              <img alt="" loading="lazy" src="{{ 'about_i04_sp.jpg' | file_url }}" width="704" height="434" />
            </picture>
          </div>
          <div class="aboutMainUse-box-body">
            <h3 class="aboutMainUse-box-title"><span class="aboutMainUse-box-title-en">Point <span>01</span></span>さまざまな「暮らしのヒント」をご紹介</h3>
            <div class="aboutMainUse-box-desc">
              <p>ジアスがコーディネートした素敵なお部屋や、暮らしのコラムなどを随時掲載！<br />ご自宅のインテリアコーディネートのヒントに、毎日の楽しいひとさじに。<br />あなたのライフスタイルに合わせてお楽しみください。</p>
            </div>
          </div>
        </div>

        <div class="aboutMainUse-box">
          <div class="aboutMainUse-box-thumb">
            <picture>
              <source media="(min-width: 720px)" srcset="{{ 'about_i05.jpg' | file_url }}" />
              <img alt="" loading="lazy" src="{{ 'about_i05_sp.jpg' | file_url }}" width="704" height="434" />
            </picture>
          </div>
          <div class="aboutMainUse-box-body">
            <h3 class="aboutMainUse-box-title"><span class="aboutMainUse-box-title-en">Point <span>02</span></span>実物をショールームで体験できる！</h3>
            <div class="aboutMainUse-box-desc">
              <p>JIAS ONLINEに掲載している商品は、ジアスのショールームで実際に見て触って確かめることができます。<br />ショールームで気になった商品は、JIAS ONLINEを通じて、いつでも購入することができます。</p>
              <p><small>＊家具・雑貨の展示は各ショールーム毎に異なりますので、事前に確認したい商品が体験できるかお問い合わせください。<br />＊ショールームにはコーディネーターが在籍しており、事前にご予約いただければコーディネートのご相談を無料で承ります。ぜひショールームへもお気軽にお越しください。</small></p>
            </div>
          </div>
        </div>

        <div class="aboutMainUse-box aboutMainUse-box_reverse">
          <div class="aboutMainUse-box-thumb">
            <picture>
              <source media="(min-width: 720px)" srcset="{{ 'about_i06.jpg' | file_url }}" />
              <img alt="" loading="lazy" src="{{ 'about_i06_sp.jpg' | file_url }}" width="704" height="434" />
            </picture>
          </div>
          <div class="aboutMainUse-box-body">
            <h3 class="aboutMainUse-box-title"><span class="aboutMainUse-box-title-en">Point <span>03</span></span>お得な「フェア」のご案内</h3>
            <div class="aboutMainUse-box-desc">
              <p><small>メルマガ登録すると、お得な「フェア」のご案内情報やおすすめ商品情報が届きます。</small></p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="aboutMainStore">
      <div class="page-content">
        <div class="aboutMainStore-titleWrap">
          <h2 class="aboutMainStore-title sectionTtl">店舗でもお待ちしております</h2>
          <p>ウィンドウトリートメントに特化した「ファブラボ」(8店舗)、カーテンはもちろん、家具や照明などのインテリアエレメントにもこだわった「インテリアサロン」(6店舗)をご用意しております。<br />ぜひショールームへお越しいただき、カーテンや家具、照明などの使い心地をお試しください。<br />経験豊かなスタッフがお客様にぴったりのアイテムを見つけるお手伝いをいたします。</p>
        </div>
        <ul class="aboutMainStore-tabs nodisc">
          <li class="js_tabBtn active">Interior Salon<span>インテリアサロン</span></li>
          <li class="js_tabBtn">Fab-Lab<span>ファブラボ</span></li>
        </ul>
        <div class="aboutMainStore-body nodisc js_tabBody active">
          <h3 class="aboutMainStore-body-title">Interior Salon<span>インテリアサロン</span></h3>
          <p class="aboutMainStore-body-desc">カーテンはもちろん、家具や照明などのインテリアエレメントにもこだわったインテリアサロン(6店舗)</p>
          <ul class="aboutMainStore-lists nodisc">

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 渋谷店" loading="lazy" src="{{ 'about_interior_shibuya.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>shibuya 渋谷</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0120-748-157</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>03-5774-8155</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:jias_shibuya@jias.co.jp">jias_shibuya@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒150-0002<br />東京都渋谷区渋谷3-27-11<br />祐真ビル新館1F</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 立川店" loading="lazy" src="{{ 'about_interior_tachikawa.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>tachikawa 立川</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0120-688-112</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>042-506-1227</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:tachikawa@jias.co.jp">tachikawa@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒190-0014<br />東京都立川市緑町3-1<br />GREEN SPRINGS　E1-5F</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 横浜店" loading="lazy" src="{{ 'about_interior_yokohama.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>yokohama 横浜</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0120-742-401</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>045-228-9578</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:yokohama@jias.co.jp">yokohama@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒220-0012<br />神奈川県横浜市西区みなとみらい3-7-1<br />OCEAN GATE MINATO MIRAI 14F</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 千葉店" loading="lazy" src="{{ 'about_interior_chiba.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>chiba 千葉</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0206</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>043-215-8852</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:makuhari@jias.co.jp">makuhari@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒263-0043<br />千葉県千葉市稲毛区小仲台7-16-4</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 宇都宮店" loading="lazy" src="{{ 'about_interior_utsunomiya.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>utsunomiya 宇都宮</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0196</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>028-612-7223</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:utsunomiya@jias.co.jp">utsunomiya@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒321-0923<br />栃木県宇都宮市下栗町698-66</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 水戸店" loading="lazy" src="{{ 'about_interior_mito.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>mito 水戸</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0199</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>029-239-3093</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:mito@jias.co.jp">mito@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒310-0836<br />茨城県水戸市元吉田町1194-29</dd>
                </dl>
              </div>
            </li>

          </ul>
        </div>

        <div class="aboutMainStore-body nodisc js_tabBody">
          <h3 class="aboutMainStore-body-title">Fab-Lab <span>ファブラボ</span></h3>
          <p class="aboutMainStore-body-desc">ウィンドウトリートメントに特化した「ファブラボ」(8店舗)</p>
          <ul class="aboutMainStore-lists nodisc">

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 大宮店" loading="lazy" src="{{ 'about_fab_omiya.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>omiya 大宮</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-6010</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>048-661-6015</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:omiya@jias.co.jp">omiya@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒331-0812<br />埼玉県さいたま市北区宮原町1-315</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 高崎店" loading="lazy" src="{{ 'about_fab_takasaki.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>takasaki 高崎</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0217</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>027-388-1349</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:takasaki@jias.co.jp">takasaki@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒370-0824<br />群馬県高崎市田町57-1<br />太陽生命高崎ビル1F</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 小山店" loading="lazy" src="{{ 'about_fab_oyama.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>oyama 小山</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0215</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>0285-39-8156</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:oyama@jias.co.jp">oyama@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒323-0829<br />栃木県小山市東城南2-40-10<br />プルミエールサンコウ 102</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス つくば店" loading="lazy" src="{{ 'about_fab_tsukuba.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>tsukuba つくば</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0205</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>029-879-7492</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:tsukuba@jias.co.jp">tsukuba@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒305-0818<br />茨城県つくば市学園南1-3-6</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="ジアス 名古屋店" loading="lazy" src="{{ 'about_fab_nagoya.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>nagoya 名古屋</h4>
                <dl>
                  <dt>TEL</dt>
                  <dd>0800-919-0030</dd>
                </dl>
                <dl>
                  <dt>FAX</dt>
                  <dd>052-955-8745</dd>
                </dl>
                <dl>
                  <dt>E-mail</dt>
                  <dd><a href="mailto:nagoya@jias.co.jp">nagoya@jias.co.jp</a></dd>
                </dl>
                <dl>
                  <dt>Address</dt>
                  <dd>〒461-0005<br />愛知県名古屋市東区東桜1-14-11<br />DPスクエア東桜1F</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="川口ショールーム" loading="lazy" src="{{ 'about_fab_kawaguchi.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>kawaguchi 川口</h4>
                <p>筑波産商ショールーム内</p>
                <dl>
                  <dt>Address</dt>
                  <dd>〒332-0001<br />埼玉県川口市朝日4-9-20<br />筑波産商ショールーム内3F</dd>
                </dl>
              </div>
            </li>

            <li>
              <div class="aboutMainStore-lists-thumb">
                <img alt="伊勢崎ショールーム" loading="lazy" src="{{ 'about_fab_isesaki.jpg' | file_url }}" width="360" height="300" />
              </div>
              <div class="aboutMainStore-lists-body">
                <h4>isesaki 伊勢崎</h4>
                <dl>
                  <dt>Address</dt>
                  <dd>〒379-2215<br />群馬県伊勢崎市赤堀今井町2-1136-6</dd>
                </dl>
              </div>
            </li>

          </ul>

        </div>

      </div>
    </section>

    <section class="aboutMainBnr">
      <div class="page-content">
        <div class="aboutMainBnr-item">
          <a href="https://www.jias.co.jp/showroom?hsLang=ja" target="_blank" title="株式会社ジアス ショールームページへ">
            <picture>
              <source media="(min-width: 720px)" srcset="{{ 'about_bnr01.png' | file_url }}" />
              <img alt="株式会社ジアス" loading="lazy" src="{{ 'about_bnr01_sp.png' | file_url }}" width="704" height="414" />
            </picture>
          </a>
        </div>
      </div>
    </section>

  </main>
</article>
